<div class="bg-grey my-modal" id="goal-users-modal">
    <div class="bg-white relative text-left" *ngIf="users && users.length && data.category">
        <h3 *ngIf="data.category == 1"  >{{ 'home_listed_by'|translate }} {{ data.count }} {{ 'users'|translate }}</h3>
        <h3 *ngIf="data.category == 2"  >{{ 'home_complete'|translate }} {{ data.count }} {{ 'users'|translate }}</h3>
        <h3 *ngIf="data.category == 3"  >{{ 'home_voters'|translate }} {{ data.count }} {{ 'users'|translate }}</h3>
        <a class="close-icon" (click)="modalHideEmitter.emit(null)"></a>
    </div>

    <div class="users-content"
         infinite-scroll
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="500"
         (scrolled)="onScroll()">
        <div [hidden]="!users || !users.length"
             class="row"
             *ngFor="let user of users">

            <div class="col-xs-12">
                <app-user [user]="user"></app-user>
            </div>

        </div>
    </div>
</div>