{% if admin.isGranted('VIEW', object) and admin.hasRoute('show') %}

    {% if object.commentableEntity and not object.commentableEntity.archived %}
        <a href="{{ path('inner_goal', {'slug': object.commentableEntity.slug}) }}" target="_blank" class="btn btn-sm btn-default view_link" title="{{ 'admin.label.name.goal_link'|trans() }}">
            <i class="glyphicon glyphicon-home"></i>
        </a>
    {% endif %}
{% endif %}
