
<!DOCTYPE html>
<html>
<head>
    <title>Bucketlist 127</title>
    <style>
        html {
            background: url('/bundles/app/images/comming-soon.png') no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
</head>
<body>

</body>
</html>

