<div class="relative">
    <input type="text"
       id="[[ formId ]][ [[ key ]] ]"
       name="[[ formName ]][ [[ key ]] ]"
       class="form-control"
       placeholder="Type in a youtube or vimeo link in the field"
       data-ng-model="link">

    <a href="javascript:void(0)"
       data-ng-show="link"
       data-ng-click="removeItem()" class="remove-icon">
    <span class="icon-remove-video-link"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
    </a>

    <embed-video data-ng-href="[[link]]" width="100%" height='500px' ></embed-video>

    <!--<iframe data-ng-show="link"-->
        <!--width="100%"-->
        <!--height="500"-->
        <!--data-ng-src="[[ trustedUrl(link) ]]"-->
        <!--frameborder="0"-->
        <!--allowfullscreen>-->
    <!--</iframe>-->
</div>


