<div style="position: absolute;border: 1px solid black" data-ng-controller="notificationController">
    <div class="bg-white ng-hide" data-ng-show="notifies.length">
        <h3>Notification</h3>
    </div>

    <div data-ng-show="notifies.length"
         data-ng-cloak
         class="ng-hide row"
         data-ng-repeat="notify in notifies">

        <div class="col-sm-12">
            <div class="idea-item">
                <figure>
                    <h3>
                        <a href="[[ ::notify.url]]">[[ ::notify.title ]]</a>
                    </h3>

                    <a href="[[ ::notify.url]]" class="goalTitle">
                        <span class="overlay"></span>
                        <img data-ng-src="[[ ::notify.cached_image ]]" data-ng-if="notify.cached_image" alt="[[ ::notify.title ]]"/>
                    </a>
                </figure>
            </div>
        </div>
    </div>
    <div data-ng-show="!notifies.length" class="ng-hide">You have not Notify</div>
</div>