<div  class="text-center padding"><br />
    <p class="text-center">{{ 'change_password.success_first'|trans({}, 'FOSUserBundle') }}</p>
    <p class="text-center">{{ 'change_password.success_second'|trans({'%project_name%': project_name}, 'FOSUserBundle') }}</p>
</div>