{% extends "::amp.html.twig" %}

{% block content %}
    <div class="row">
        <h1 >{{ 'BLOG LIST PAGE' }}</h1>
        <amp-list width=auto
                  height=100
                  layout=fixed-height
                  src="https://bucketlist.loc/app_dev.php/api/v1.0/blogs/0/1">
            <template type="amp-mustache">
                {% verbatim %}
                    {{data.type}}
                {% endverbatim %}
            </template>
        </amp-list>
    </div>
{% endblock %}

{#{%- block title -%}#}
{#{%- endblock -%}#}

{#{%- block meta_description -%}#}
{#{%- endblock -%}#}