{% extends "AppBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <div  class="signup">
            <div class="row">
                <h1 class="text-center">{{ 'BLOG LIST PAGE' }}</h1>
            </div>
        </div>
    </div>
{% endblock %}

