{% extends "::anp.html.twig" %}

{% block content %}
    <div class="container">
        <div  class="signup">
            <div class="row">
                {#{% for blog in blogs %}#}
                    {#<h1 class="text-center"><a href="{{ path('blog_show', {'slug': blog.slug}) }}">{{ blog.title }}</a></h1>#}
                {#{% endfor %}#}
                <h1 class="text-center">{{ 'BLOG LIST PAGE' }}</h1>
                {#<amp-list src="bucketlist.loc/app_dev.php/api/v1.0/blogs/0/3"></amp-list>#}
            </div>
            {#<div class="text-center">#}
                {#{{ knp_pagination_render(blogs) }}#}
            {#</div>#}
        </div>
    </div>
{% endblock %}

{#{%- block title -%}#}
{#{%- endblock -%}#}

{#{%- block meta_description -%}#}
{#{%- endblock -%}#}