{% extends "::base.html.twig" %}


{% block body %}

    {% set route = app.request.get('_route') %}

    <div id="mainframe">
        <div id="wrap">
            <header>
                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">BUCKETLIST</a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active">
                                    <a href="#">IDEAS</a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="glyphicon glyphicon-search"></span> SEARCH
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="#">JOIN</a>
                                </li>
                            </ul>
                        </div><!--/.nav-collapse -->
                    </div>
                </nav>
            </header>

            {#<div>#}
                {#<ul class="nav nav-pills nav-justified">#}

                    {#<li role="presentation" {% if route == "homepage" %} class="active" {% endif %}>#}
                        {#<a href="{{ path("homepage") }}">Home</a>#}
                    {#</li>#}

                    {#<li role="presentation" {% if route == "add_goal" %} class="active" {% endif %}>#}
                        {#<a href="{{ path("add_goal") }}">Add New Goal</a>#}
                    {#</li>#}

                    {#<li role="presentation" {% if route == "goals_list" %} class="active" {% endif %}>#}
                        {#<a href="{{ path("goals_list") }}">Goals</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}

            <div class="conatiner">
                <div class="row">
                    {#<h1 class="text-center">Sign up and discover great ideas</h1>#}

                    {#<div class="col-md-offset-4 col-md-4 col-md-offset-4">#}
                        {#<form class="form-horizontal text-center">#}

                            {#<input type="file"/>#}

                            {#<a class="upload">#}
                                {#<span>Upload a photo</span>#}
                            {#</a>#}

                            {#<div class="form-group">#}
                                {#<div class="col-sm-6">#}
                                    {#<input type="text" class="form-control"  placeholder="First name">#}
                                {#</div>#}
                                {#<div class="col-sm-6">#}
                                    {#<input type="text" class="form-control" id="inputEmail3" placeholder="Last name">#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="form-group">#}
                                {#<div class="col-sm-12">#}
                                    {#<input type="email" class="form-control" placeholder="Email">#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="form-group">#}
                                {#<div class="col-sm-6">#}
                                    {#<input type="password" class="form-control"  placeholder="Password">#}
                                {#</div>#}
                                {#<div class="col-sm-6">#}
                                    {#<input type="password" class="form-control" id="inputEmail3" placeholder="Re-enter password">#}
                                {#</div>#}
                            {#</div>#}

                            {#<div class="form-group">#}
                                {#<div class="col-sm-4">#}
                                    {#<input type="email" class="form-control" id="inputEmail3" placeholder="Month">#}
                                {#</div>#}
                                {#<div class="col-sm-4">#}
                                    {#<input type="email" class="form-control" id="inputEmail3" placeholder="Day">#}
                                {#</div>#}
                                {#<div class="col-sm-4">#}
                                    {#<input type="email" class="form-control" id="inputEmail3" placeholder="Year">#}
                                {#</div>#}
                            {#</div>#}
                            {#<p>By clicling Sign up, you agree to our#}
                                {#<a href="#" class="purple">Terms of Service &amp; Privacy Policy</a>#}
                            {#</p>#}

                            {#<button class="btn btn-purple">Sign Up</button>#}

                        {#</form>#}
                    {#</div>#}

                {#</div>#}

                {#<div class="row">#}
                    {#<div class="col-md-12">#}
                        {#<p class="text-center">Already have an account#}
                            {#<a href="#" class="purple">#}
                                {#<strong>SIGN IN</strong>#}
                            {#</a>#}
                        {#</p>#}
                    {#</div>#}
                {#</div>#}
            </div>

        </div>

        <footer>

            <div class="container">
                <ul>
                    <li>
                        <a href="#">HOW IT WORKS</a>
                    </li>
                    <li>
                        <a href="#">ABOUT bL127</a>
                    </li>
                    <li>
                        <a href="#">CONTACT US</a>
                    </li>
                </ul>
            </div>

            <div class="footer-bottom">
                <div class="container">
                    <small>&copy; 2015 Bucketlist <a href="#">Terms of Service &amp; Privacy Policy</a></small>
                </div>
            </div>

        </footer>
    </div>
{% endblock %}
