{% extends "::base.html.twig" %}


{% block body %}

    {% set route = app.request.get('_route') %}

    <div>
        <ul class="nav nav-pills nav-justified">

            <li role="presentation" {% if route == "homepage" %} class="active" {% endif %}>
                <a href="{{ path("homepage") }}">Home</a>
            </li>

            <li role="presentation" {% if route == "add_goal" %} class="active" {% endif %}>
                <a href="{{ path("add_goal") }}">Add New Goal</a>
            </li>

            <li role="presentation" {% if route == "goals_list" %} class="active" {% endif %}>
                <a href="{{ path("goals_list") }}">Goals</a>
            </li>
        </ul>
    </div>

    <hr/>

{% endblock %}
