<div id="news-feed">
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <my-activity [single]="false"></my-activity>
        <!--{%  include "AppBundle:Blocks:activities.html.twig" with {'single': false}   %}-->
      </div>

      <div class="col-md-4">
        <!--{% include 'AppBundle:Blocks:completeProfile.html.twig' with {'user': app.user}  %}-->
        <!--{% include 'AppBundle:Blocks:myBucketlist.html.twig' with {'user': app.user} %}-->
        <!--{% include 'AppBundle:Blocks:goalfriends.html.twig' with {'user': app.user} %}-->
        <!--{% include "AppBundle:Blocks:featureGoals.html.twig" %}-->
        <!--{% include "AppBundle:Blocks:popularGoals.html.twig" with {'user': app.user, 'count': 1}  %}-->
        <!--{% include 'AppBundle:Blocks:leaderboardTop.html.twig' with {'user': app.user} %}-->
      </div>
    </div>
  </div>
</div>