/* radius functions */
.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
#news-feed {
  padding: 10px 0;
  margin-top: 5px;
}
#news-feed .goalfrineds-menu {
  padding: 5px 0 0;
  margin-bottom: 0;
}
#news-feed .goalfrineds-menu li {
  display: inline-block;
}
#news-feed .goalfrineds-menu li a {
  padding: 5px 10px;
  color: #333333;
  font-size: 15px;
}
#news-feed .goalfrineds-menu li a:hover {
  color: #7724F6;
}
#news-feed .common-goals {
  display: block;
}
#news-feed form .icon-search-icon {
  position: absolute;
  font-size: 24px;
  color: #cccccc;
}
#news-feed form input {
  border: 0;
  font-size: 14px;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #cccccc;
  padding: 0 5px 9px 35px;
  color: #333333;
}
#news-feed form input:hover,
#news-feed form input:active {
  border-bottom: 1px solid #7724F6;
}
#news-feed .users-list {
  background-color: #ffffff;
  padding: 15px 10px 15px 15px;
  margin-bottom: 10px;
}
#news-feed .users-list h4 {
  padding: 3px 0 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
#news-feed .users-list span {
  font-size: 13px;
}
#news-feed .icon-lock-white {
  right: 15px;
  top: 15px;
  color: #B3B3B3;
  z-index: 10;
  cursor: pointer;
}
#news-feed .image {
  margin: 0 10px 0 0;
  float: left;
}
#news-feed .image a {
  height: auto;
}
#news-feed .image img {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  border: 2px solid #cecece;
}
#news-feed .image .no-image {
  height: 40px;
  width: 40px;
  line-height: 35px;
  color: #ffffff;
}
#news-feed i {
  font-size: 25px;
  vertical-align: middle;
  cursor: pointer;
}
#news-feed i.leaderboard-small {
  vertical-align: top;
}
#news-feed p {
  font-size: 12px;
  color: #999999;
}
#news-feed .image-goalfrinds {
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
#news-feed .image-goalfrinds img {
  width: 45px;
  height: 45px;
  border: 2px solid #cecece;
}
#news-feed .image-goalfrinds .no-image {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  line-height: 40px;
  color: #ffffff;
}
#news-feed em {
  padding: 0 0 5px 15px;
  display: block;
  font-size: 14px;
}
#news-feed hr {
  margin-top: 5px;
}
#news-feed h3 {
  font-size: 18px;
}
#news-feed h3 a {
  font-size: 18px;
}
#news-feed h4 {
  font-size: 14px;
  font-weight: 600;
  padding: 5px 0 2px 0;
  margin: 0;
}
#news-feed h4 a {
  font-size: 14px;
  padding-bottom: 2px;
  display: inline-block;
}
#news-feed h4 span {
  display: block;
}
#news-feed .goalTitle {
  height: 230px;
  width: 100%;
}
#news-feed .goalTitle h3 {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 0 25px;
  line-height: normal;
}
#news-feed .goalTitle i.lock-icon {
  position: absolute;
  right: 35px;
  color: #ffffff;
  top: 20px;
}
#news-feed figure {
  background-color: transparent;
  position: relative;
  overflow: hidden;
}
#news-feed figure > a {
  display: block;
}
#news-feed figure figcaption {
  margin-bottom: 0;
}
#news-feed figure figcaption ul li i.icon-green-plus,
#news-feed figure figcaption ul li i.icon-green-ok {
  font-size: 30px;
}
#news-feed figure figcaption ul li i {
  font-size: 20px;
}
#news-feed figure figcaption ul.news-footer li .comment-icon {
  margin-left: -17px;
  width: 25px;
  height: 20px;
  margin-right: 1px;
}
#news-feed .idea-item figure {
  margin-bottom: 0;
}
#news-feed .swiper-slide figure {
  border-radius: 4px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
#news-feed .right-block {
  margin-bottom: 10px;
}
#news-feed .padding {
  padding: 10px 10px 1px;
}
#news-feed .padding-no {
  padding-bottom: 0;
}
#news-feed ol {
  padding: 10px 35px;
  background-color: #e6e6e6;
}
#news-feed ol li {
  color: #7d7d7d;
  clear: both;
}
#news-feed ol li i {
  cursor: default;
}
#news-feed ol li a,
#news-feed ol li span {
  color: #666666;
  font-size: 14px;
}
#news-feed ol li a i,
#news-feed ol li span i {
  margin-left: 25px;
}
#news-feed ol li a i.question-icon,
#news-feed ol li span i.question-icon {
  float: right;
}
#news-feed ol li a i {
  cursor: pointer;
}
#news-feed ol li a:hover {
  color: #666666;
}
#news-feed ol li a:hover i {
  color: #7724f6;
}
#news-feed .list {
  padding-left: 0;
}
#news-feed .list li {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 7px;
  padding-bottom: 7px;
}
#news-feed .list li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
#news-feed .list li figure {
  margin: 0 10px 0;
}
#news-feed .list li .image {
  float: left;
}
#news-feed .list li h4 {
  padding-top: 0;
  margin-top: 5px;
}
#news-feed .list li h4 span {
  display: inline-block;
}
#news-feed .list li a {
  font-size: 13px;
}
.user-activities {
  padding: 0 !important;
  margin-top: 0 !important;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f2f2f2;
  position: absolute;
  top: -8px;
  left: 14px;
}
.horizontal-menu {
  padding: 0 5px 0 0;
}
.horizontal-menu li {
  display: inline-block;
  border-right: 1px solid #cccccc;
  padding: 0 15px 0 10px;
}
.horizontal-menu li strong {
  display: block;
  color: #666666;
  font-size: 13px;
}
.horizontal-menu li span {
  display: block;
  color: #7d7d7d;
}
.horizontal-menu li span:last-child {
  font-size: 18px;
}
.horizontal-menu li:last-child {
  border: 0;
}
.horizontal-menu li:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  #news-feed {
    padding: 20px 0;
    margin-top: 10px;
  }
  #news-feed .users-list {
    padding: 20px 10px 20px 20px;
    margin-bottom: 15px;
    min-height: 101px;
  }
  #news-feed .image {
    margin: 0 15px 0 0;
    float: left;
  }
  #news-feed .image a {
    height: auto;
  }
  #news-feed .image img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border: 2px solid #cecece;
  }
  #news-feed .image .no-image {
    height: 50px;
    width: 50px;
    line-height: 45px;
  }
  #news-feed i {
    font-size: 30px;
  }
  #news-feed p {
    font-size: 13px;
  }
  #news-feed .image-goalfrinds {
    width: 60px;
    height: 60px;
  }
  #news-feed .image-goalfrinds img {
    width: 60px;
    height: 60px;
  }
  #news-feed .image-goalfrinds .no-image {
    height: 60px;
    width: 60px;
    line-height: 50px;
    font-size: 16px;
  }
  #news-feed figure > a {
    display: block;
  }
  #news-feed figure figcaption ul li i.icon-green-plus,
  #news-feed figure figcaption ul li i.icon-green-ok {
    font-size: 49px;
  }
  #news-feed figure figcaption ul li i {
    font-size: 30px;
  }
  #news-feed figure figcaption ul.news-footer li .comment-icon {
    width: 30px;
    height: 24px;
  }
  #news-feed em {
    padding: 0 0 5px 15px;
    font-size: 16px;
  }
  #news-feed hr {
    margin-top: 10px;
  }
  #news-feed h3 {
    font-size: 22px;
  }
  #news-feed h3 a {
    font-size: 22px;
  }
  #news-feed h4 {
    font-size: 16px;
    padding: 9px 0 2px 0;
  }
  #news-feed h4 a {
    font-size: 16px;
    padding: 0 10px 0 0;
  }
  #news-feed h4 span {
    display: inline-block;
  }
  #news-feed .horizontal-menu {
    padding: 0 10px 0 0;
  }
  #news-feed .horizontal-menu li strong {
    font-size: 14px;
  }
  #news-feed .horizontal-menu li span:last-child {
    font-size: 22px;
  }
  #news-feed .en li {
    padding: 0 14px 0 10px;
  }
  #news-feed .ru li {
    padding: 0 9px;
  }
  #news-feed .goalTitle h3 {
    font-size: 24px;
    padding: 0 25px;
    line-height: 30px;
    margin-top: 15px;
  }
  #news-feed .goalTitle i.lock-icon {
    right: 35px;
    top: 20px;
  }
  #news-feed ol {
    padding: 20px 15px 20px 50px;
  }
  #news-feed ol li a,
  #news-feed ol li bdi {
    font-size: 16px;
  }
  #news-feed ol li a i,
  #news-feed ol li bdi i {
    margin-left: 25px;
  }
  #news-feed .right-block {
    padding: 15px 40px;
    margin-bottom: 10px;
  }
  #news-feed .padding {
    padding: 20px 20px 10px;
  }
  #news-feed .padding-no {
    padding-bottom: 0;
  }
  #news-feed .list li {
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  #news-feed .list li figure {
    margin: 0 20px 0 0;
  }
  #news-feed .list li h4 {
    margin-top: 5px;
  }
  #news-feed .list li a {
    font-size: 13px;
  }
}
@media (min-width: 992px) {
  #news-feed {
    padding: 30px 0;
  }
  #news-feed .users-list {
    padding: 20px 25px;
    margin-bottom: 25px;
  }
  #news-feed .image-goalfrinds {
    margin-top: 0;
    width: 60px;
    height: 60px;
  }
  #news-feed .image-goalfrinds img {
    width: 60px;
    height: 60px;
  }
  #news-feed .image-goalfrinds .no-image {
    height: 60px;
    width: 60px;
    line-height: 50px;
  }
  #news-feed .right-block {
    padding: 20px 15px;
  }
  #news-feed .padding {
    padding: 20px 20px 10px;
  }
  #news-feed .padding-no {
    padding-bottom: 0;
  }
  .goals-animate p {
    padding-bottom: 8px;
  }
}
@media (min-width: 1200px) {
  #news-feed .en li,
  #goal-friends .en li {
    padding: 0 20px 0 10px;
  }
  #news-feed .ru li,
  #goal-friends .ru li {
    padding: 0 9px;
  }
}
