{% if app.user and app.user.activity %}
    <li id="Activity">
        <a href="{{ path('activity') }}">
            <i class="icon-activity-icon"></i>
            <span class="hidden-sm">{{ 'activity'|trans |upper }}</span>
        </a>
    </li>
{% endif %}