<ul class="row">
    {% if is_granted("ROLE_USER") %}
        <li class="col-sm-5">
            <a href="{{ path('add_to_me_goal', {'id' : goal.id}) }}">
                <span class="glyphicon glyphicon-plus"></span>ADD
            </a>
        </li>
        <li class="col-sm-5">
            <a href="{{ path('done_goal', {'id' : goal.id}) }}">
                <span class="glyphicon glyphicon glyphicon-ok"></span>DONE
            </a>
        </li>
    {% endif %}
    <li class="col-sm-2">
        <a href="#">
            <span class="glyphicon glyphicon-share-alt"></span>
        </a>
    </li>
</ul>
