{% extends "AppBundle::layout.html.twig" %}

 {% block body %}

  <h1 class="text-center">Expor over thousand great ideas </h1>

  <div class="row">

    <div class="col-sm-6 col-md-4">
        <div class="row">
            <div class="col-sm-12">
                <figure>
                    <img src=""  height="262"/>
                    <figcaption>
                        <ul class="row">
                            <li class="col-sm-5">
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>ADD
                                </a>
                            </li>
                            <li class="col-sm-5">
                                <a href="#">
                                    <span class="glyphicon glyphicon glyphicon-ok"></span>DONE
                                </a>
                            </li>
                            <li class="col-sm-2">
                                <a href="#">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                            </li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <figure>
                    <img src=""  height="262"/>
                    <figcaption>
                        <ul class="row">
                            <li class="col-sm-5">
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>ADD
                                </a>
                            </li>
                            <li class="col-sm-5">
                                <a href="#">
                                    <span class="glyphicon glyphicon glyphicon-ok"></span>DONE
                                </a>
                            </li>
                            <li class="col-sm-2">
                                <a href="#">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                            </li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        </div>

    </div>

    <div class="col-sm-6 col-md-4">
        <figure>
            <img src=""  height="584"/>
            <figcaption>
                <ul class="row">
                    <li class="col-sm-5">
                        <a href="#">
                            <span class="glyphicon glyphicon-plus"></span>ADD
                        </a>
                    </li>
                    <li class="col-sm-5">
                        <a href="#">
                            <span class="glyphicon glyphicon glyphicon-ok"></span>DONE
                        </a>
                    </li>
                    <li class="col-sm-2">
                        <a href="#">
                            <span class="glyphicon glyphicon-share-alt"></span>
                        </a>
                    </li>
                </ul>
            </figcaption>
        </figure>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="row">
            <div class="col-sm-12">
                <figure>
                    <img src=""  height="262"/>
                    <figcaption>
                        <ul class="row">
                            <li class="col-sm-5">
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>ADD
                                </a>
                            </li>
                            <li class="col-sm-5">
                                <a href="#">
                                    <span class="glyphicon glyphicon glyphicon-ok"></span>DONE
                                </a>
                            </li>
                            <li class="col-sm-2">
                                <a href="#">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                            </li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <figure>
                    <img src=""  height="262"/>
                    <figcaption>
                        <ul class="row">
                            <li class="col-sm-5">
                                <a href="#">
                                    <span class="glyphicon glyphicon-plus"></span>ADD
                                </a>
                            </li>
                            <li class="col-sm-5">
                                <a href="#">
                                    <span class="glyphicon glyphicon glyphicon-ok"></span>DONE
                                </a>
                            </li>
                            <li class="col-sm-2">
                                <a href="#">
                                    <span class="glyphicon glyphicon-share-alt"></span>
                                </a>
                            </li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>

  </div>


  <div class="row">

   <div class="col-md-8">
       <figure>
           <img src=""  height="262"/>
           <figcaption>
               <ul class="row">
                   <li class="col-sm-5">
                       <a href="#">
                           <span class="glyphicon glyphicon-plus"></span>ADD
                       </a>
                   </li>
                   <li class="col-sm-5">
                       <a href="#">
                           <span class="glyphicon glyphicon glyphicon-ok"></span>DONE
                       </a>
                   </li>
                   <li class="col-sm-2">
                       <a href="#">
                           <span class="glyphicon glyphicon-share-alt"></span>
                       </a>
                   </li>
               </ul>
           </figcaption>
       </figure>
   </div>

   <div class="col-md-4">
       <figure>
           <img src=""  height="262"/>
           <figcaption>
               <ul class="row">
                   <li class="col-sm-5">
                       <a href="#">
                           <span class="glyphicon glyphicon-plus"></span>ADD
                       </a>
                   </li>
                   <li class="col-sm-5">
                       <a href="#">
                           <span class="glyphicon glyphicon glyphicon-ok"></span>DONE
                       </a>
                   </li>
                   <li class="col-sm-2">
                       <a href="#">
                           <span class="glyphicon glyphicon-share-alt"></span>
                       </a>
                   </li>
               </ul>
           </figcaption>
       </figure>
   </div>

  </div>

  <div class="row">
      <div class="col-sm-12 text-center">
          <button class="btn btn-purple">DISCOVER MORE</button>
      </div>
  </div> <br />

 {% endblock %}
