{% extends "AppBundle::layout.html.twig" %}

 {% block content %}
     <div class="cover">
         {% include 'AppBundle:Main:home_videos.html.twig' %}
         {% include 'AppBundle:Main:ideas.html.twig' %}
     </div>
 {% endblock %}
