{% extends "AppBundle:Main:activities.html.twig" %}

{#{% block angularApp %}#}
{#<html data-ng-app="profile" data-ng-controller="notificationInnerController">#}
{#{% endblock %}#}

{% block test  %}

    <div id="leaderboard-place">
        <figure>
            <img src=" " alt="user image"/>
            <figcaption>
                <ul class="badge-place">
                    <li>
                        <a href="#">
                            <i></i>
                            <span class="text-grey-dark">Traveler</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i></i>
                            <span class="text-grey-dark">Inovator</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i></i>
                            <span class="text-grey-dark">S.S. writer</span>
                        </a>
                    </li>
                </ul>
            </figcaption>
        </figure>

        <ul class="bg-white margin-top">
            <li class="text-orange">1</li>

            <li>
                <figure>
                    <img src=" " alt="user image"/>
                </figure>
            </li>

            <li>Name Name</li>

            <li class="text-orange">1234</li>
        </ul>
    </div>

{% endblock %}

{#todo add title and descripstion#}

{%- block title -%}
    {{- 'leaderboard.title'|trans -}}
{%- endblock -%}

{%- block meta_description -%}
    {{- 'leaderboard.description'|trans -}}
{%- endblock -%}

{#{%- block og_url -%}#}
{#{{- app.request.uri -}}#}
{#{%- endblock -%}#}