{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{%- block field %}

    {% set linkPlaceholder = '%link%' %}
    {% set aIdPlaceholder = constant('Application\\AffiliateBundle\\Entity\\AffiliateType::AID_PLACEHOLDER') %}
    {% set imagePlaceholder = constant('Application\\AffiliateBundle\\Entity\\AffiliateType::IMAGE_PLACEHOLDER') %}

    <div align="left">
        {{ object.cssContent|replace({(linkPlaceholder): object.defaultLink, (aIdPlaceholder): booking_aid, (imagePlaceholder): object.downloadLink })|raw }}
        {{ object.htmlContent|replace({(linkPlaceholder): object.defaultLink, (aIdPlaceholder): booking_aid, (imagePlaceholder): object.downloadLink })|raw }}
        {{ object.jsContent|replace({(linkPlaceholder): object.defaultLink, (aIdPlaceholder): booking_aid, (imagePlaceholder): object.downloadLink })|raw }}
    </div>
{% endblock -%}
