{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{%- block field %}
    {{ dump(constant('Application\\AffiliateBundle\\Entity\\AffiliateType:LINK_PLACEHOLDER')) }}

    {#<div align="left">#}
        {#{{ object.cssContent|raw|replace({constant('Application\\AffiliateBundle\\Entity\\AffiliateType:LINK_PLACEHOLDER'): object.defaultLink,#}
                                          {#constant('Application\\AffiliateBundle\\Entity\\AffiliateType:AID_PLACEHOLDER'): booking_aid,#}
                                          {#constant('Application\\AffiliateBundle\\Entity\\AffiliateType:IMAGE_PLACEHOLDER'): object.downloadLink }) }}#}

        {#{{ object.htmlContent|raw|replace({constant('Application\\AffiliateBundle\\Entity\\AffiliateType:LINK_PLACEHOLDER'): object.defaultLink,#}
            {#constant('Application\\AffiliateBundle\\Entity\\AffiliateType:AID_PLACEHOLDER'): booking_aid,#}
            {#constant('Application\\AffiliateBundle\\Entity\\AffiliateType:IMAGE_PLACEHOLDER'): object.downloadLink }) }}#}

        {#{{ object.jsContent|raw|replace({constant('Application\\AffiliateBundle\\Entity\\AffiliateType:LINK_PLACEHOLDER'): object.defaultLink,#}
            {#constant('Application\\AffiliateBundle\\Entity\\AffiliateType:AID_PLACEHOLDER'): booking_aid,#}
            {#constant('Application\\AffiliateBundle\\Entity\\AffiliateType:IMAGE_PLACEHOLDER'): object.downloadLink }) }}#}
    {#</div>#}
{% endblock -%}
