
footer{
  width:100%;
  position: absolute;
  bottom: 0;
  height:300px;
  background-color: #021523;

  small{
    display: block;
    padding: 24px 0 0;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size:9px;
  }

  ul{
    padding:10px 0 0;
    text-align: center;
    li{
      display: inline-block;
      list-style: none;
      padding: 5px 13px;
      a{
        color:#E5E5E5;
        text-transform: uppercase;
        font-weight: bold;
        font-size:12px;

        &:hover{
          color:#E5E5E5;
          text-decoration: underline;
        }
      }
    }
  }

  .social{
    padding:30px 0 0;
    li{
      padding:5px 4px;

      a{
        display: block;
        width: 40px;
        height: 40px;
      }

      .facebook-icon{
        background: url('../images/facebook-icon.svg') no-repeat center center;
        background-size: 100%;
      }

      .instagram-icon{
        background: url('../images/instagram-icon.svg') no-repeat center center;
        background-size: 100%;
      }

      .twitter-icon{
        background: url('../images/twitter-icon.svg') no-repeat center center;
        background-size: 100%;
      }

      .pinterest-icon{
        background: url('../images/pinterest-icon.svg') no-repeat center center;
        background-size: 100%;
      }

      .gplus-icon{
        background: url('../images/gplus-icon.svg') no-repeat center center;
        background-size: 100%;
      }

      .youtube-icon{
        background: url('../images/youtube-icon.svg') no-repeat center center;
        background-size: 100%;
      }
    }
  }

  .apps{
    margin:0 auto;
    padding:40px 0 0;
  }

  .footer-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #000000;

    ul{
      padding:0;
      text-align: right;
      li{
        padding:5px 2px 5px 5px;
        a{
          padding-top: 19px;
          display: inline-block;
          font-size: 8px;
          text-transform: uppercase;
          color:#D3D3D3;
          font-weight: 600;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}