body, html{
  height:100%;
}

#mainframe{
  position: relative;
  min-height:100%;
  font-family: 'Open Sans', sans-serif;
}

#wrap{
  position: relative;
  padding-bottom: 300px;
  background-color: #f4f4f4;
}

header{
  background: #021523;

  #line{
    height:4px;
    background: red;
    background: -webkit-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: -o-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: -moz-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: linear-gradient(to right,#ffa600,#de451b,#1b54cf,#00824c);
  }

  .navbar{
    min-height: 81px;
  }

  .navbar-fixed-top .navbar-collapse{
    max-height:400px;
  }

  .navbar-default {
    background: #061b28;
    z-index: 10000;
    border:0;

    .navbar-brand{
      width: 150px;
      display: block;
      padding: 14px 30px 21px 20px;
    }

    .navbar-header {
      float: left;
    }
    .navbar-toggle{
      margin-top:19px;
      background-color: transparent;
      border:0;

      .icon-bar{
        background-color: #ffffff;
      }

      i{
        display: inline-block;
        font-size:36px;
        margin-top:-11px;
        color:#ffffff;
        background-color: transparent;
        &:hover,&:focus,&:active{
          text-decoration: none;
        }
      }

      &:hover,&:focus,&:active{
        background: transparent;
      }
    }

    .navbar-collapse{
      border-color: #4421AB;
    }

    .navbar-nav{
      float:left;
      padding-left:0;

      figure{
        height: 40px;
        width:40px;
        overflow: hidden;

        img{
          height: 40px;
        }
      }
      margin-top:0;
      margin-bottom:0;

      li{
        list-style-type: none;
        border-left: 1px solid #030d14;
        float: left;

        a{
          color: #E5E5E5;
          font-weight: bold;
          font-size: 16px;
          padding: 21px 19px;
          display: block;
          text-decoration: none;
          cursor:pointer;

          i{
            display:inline-block;
            vertical-align: middle;
            font-size: 30px;
          }

          span{
            padding-left:7px;
            vertical-align: top;
            padding-top: 5px;
            display: none;
          }

          &:hover{
            text-decoration: none;
          }
          &:focus{
            outline:none;
            color: #E5E5E5;
            text-decoration: none;
          }
        }

        &:hover{
          background-color: #000000;
          color:#ffffff;
        }

        &.no-border{
          border-left: 0;
        }
      }

      .active a{
        background-color: #061b28;
        color: #E5E5E5;

        &:hover,&:focus{
          background-color: #000000;
          color: #E5E5E5;
        }
      }
    }

    .navbar-form{
      border:0;
      box-shadow:none;
    }

    .navbar-right{
      float:right;
      text-align: center;
      li{
        border-bottom: 0;
        a{
          padding-top:25px;
          padding-bottom:25px;
        }

        &:last-child{
          .user{
            display: block;
            padding: 19px 5px 19px 15px;
            position: relative;
            figure{
              background-color: transparent;
              width:40px;
              height:40px;
              overflow: hidden;
              float:left;
              margin: 0 10px 0 0;
              border: 2px solid #cecece;
              img{
                height:40px;
              }
            }

            p{
              float: left;
              width:40px;
              height:40px;
              line-height: 34px;
              vertical-align: middle;
              margin:0 5px;
              font-size:14px;
              font-weight:600;
            }

            span.name{
              float:left;
              padding:9px 0 4px 8px;
              display: inline-block;
              text-align: left;
              font-size:18px;
            }

            i{
              display: inline-block;
              width: 25px;
              height: 25px;
              position: absolute;
              top: 27px;

              &.menu-hamburger{
                background: url('../images/grey-burger.svg') no-repeat center center;

                &:hover{
                  background: url('../images/white-burger.svg') no-repeat center center;
                }
              }

              &.menu-remove{
                background: url('../images/grey-remove.svg') no-repeat center center;

                &:hover{
                  background: url('../images/white-remove.svg') no-repeat center center;
                }
              }
            }
          }

          .join-class {
            min-width:320px;
            background-color: #021523;
            color:#e3e3e3;
            &:hover{
              background-color: #021523;
            }
          }
        }
      }
    }
  }


  //.mybucketlist-icon{
  //  background: url('../images/my-bucketlist.svg') no-repeat center center;
  //}
  //
  //.settings-icon{
  //  background: url('../images/settings.svg') no-repeat center center;
  //  background-size: 95%;
  //}
  //
  //.add-goal{
  //  background: url('../images/add-goal.svg') no-repeat center center;
  //  background-size: 109%;
  //}
  //
  //.logout{
  //  background: url('../images/logout.svg') no-repeat center center;
  //  background-size: 100%;
  //}
  //
  //.activity-icon{
  //  width: 30px;
  //  background: url('../images/activity.svg') no-repeat center center;
  //  background-size: 100%;
  //}
  //
  //.edit-note{
  //  display:inline-block;
  //  width: 30px;
  //  height: 30px;
  //  background: url('../images/edit-note.svg') no-repeat center center;
  //  background-size: 100%;
  //}

}

.header{
  position: relative;
  height: 240px;
  line-height: 160px;

  h1{
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100%;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
  }

  &>figure{
    position: absolute;
    width: 100%;
    height:240px;
    margin: 0;
    overflow:hidden;

    amp-img{
      width: 100%;
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
    }
  }

  .overlay{
    background: rgba(0, 0, 0, 0.6);
    height:240px;
    display: block;
    position: absolute;
    width: 100%;
    z-index:2;

    &:hover{
      background: rgba(0, 0, 0, 0.8);
    }
  }

}

section.category{
  margin-top: 35px;
}

.category {
  margin: 0 auto;
  padding: 0;
}

.text-dark {
  color: #021523;
}

.text-white{
  color: #ffffff;
}

footer{
  width:100%;
  position: absolute;
  bottom: 0;
  height:300px;
  background-color: #021523;

  small{
    display: block;
    padding: 24px 0 0 12px;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size:9px;
    float: left;
  }

  ul{
    padding:10px 0 0;
    text-align: center;
    li{
      display: inline-block;
      list-style: none;
      padding: 5px 13px;
      a{
        color:#E5E5E5;
        text-transform: uppercase;
        font-weight: bold;
        font-size:12px;
        text-decoration: none;

        &:hover{
          color:#E5E5E5;
          text-decoration: underline;
        }
      }
    }
  }

  .social{
    padding: 10px 0 0;
    li{
      padding:5px 4px;

      a{
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }

  .apps{
    margin:0 auto;
    padding:40px 0 0;

    li{
      float: left;
      padding: 5px;
    }
  }

  .footer-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #000000;

    ul{
      padding:0;
      text-align: right;
      float: right;
      li{
        padding: 1px 12px 5px 5px;
        a{
          //padding-top: 19px;
          display: inline-block;
          font-size: 8px;
          text-transform: uppercase;
          color:#D3D3D3;
          font-weight: 600;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.amp-live-list-item {
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

.blog {
  padding: 0;
  background: #fff;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);


  p {
    padding: 0 8px 8px;
    margin: 0;
  }
}

//.match {
//  background: #fff;
//  min-width: 0%;
//}

//header {
//  font-size: 2rem;
//}

//.side {
//  display: flex;
//  align-items: center;
//  justify-content: space-around;
//}

.content {
  font-size: 2rem;
  padding: 8px;
}
//.flag {
//  padding-top: 8px;
//  padding-bottom: 8px;
//}
.button-update {
  margin: 16px;
}

.samples {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 0;

  figure{
    background: white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8px;
    padding: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    float: none;
    overflow: hidden;
    border-radius: 2px;

    figcaption{
      h3{
        font-size:24px;
        color: #333;
        margin: 20px 10px;
      }
      p{
        font-size:14px;
        color: #000333;
      }
    }
  }
}

a{
  text-decoration: none;
  &:hover,&:focus{
    text-decoration: none;
  }
}

.title{
  font-size: 30px;
  line-height: normal;
  font-weight: 300;
  margin: 20px 0;
}

.left{
  float:left;
}

.bg-white{
  background-color: #ffffff;
}

.text-blue{
  color: #000333;
}

.content-inner{
  width: 320px;
  margin: -100px auto 20px;
  padding: 0 0 20px 0;
  position: relative;
  z-index: 10;

  .goal-cover{
    width: 280px;
    overflow: hidden;
    margin: 0 auto 15px;
  }

  .goals-information{
    width: 280px;
    border: 1px solid #ebebeb;
    margin: 0 auto 20px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    figure{
      width: 280px;
      height: 180px;
      margin: 0;
      overflow: hidden;
    }

    p{
      font-size: 16px;
      line-height: 26px;
    }

    div{
      width: 260px;
      padding: 0 10px 10px;

      h3{
        margin: 10px 0 0;
        font-size: 21px;
      }

      //h4{
      //  margin: 0;
      //  font-size: 16px;
      //}

      p{
        margin: 5px 0 0;
        font-size: 14px;

        &:nth-of-type(2) {
          color: red;
        }
      }
    }

  }
}

@media (min-width: 768px) {
  header{

    .navbar{
      min-height: 82px;
    }
    .navbar-default{

      .navbar-nav{

        figure{
          height: auto;
          img{
            height: auto;
          }
        }

        li{
          border-left: 1px solid #030d14;
          border-bottom:0;
          a{
            font-size:16px;
            padding-top:22px;
            padding-bottom:21px;
          }
        }
      }

      .navbar-brand{
        height:78px;
        padding: 15px 20px 18px 5px;
      }

      .navbar-right{

        li{
          a{
            padding-top:24px;
            padding-bottom:24px;
          }

          &:last-child{
            width:210px;

            .user{
              padding: 15px 5px 13px 15px;

              figure{
                width:50px;
                height:50px;
                img{
                  height:50px;
                }
              }

              p{
                width:50px;
                height:50px;
                line-height: 46px;
              }

              span.name{
                padding:15px 0 4px 8px;
                font-size:16px;
              }
            }

          }
        }
      }
    }
  }


  .header{
    height: 270px;
    line-height: 270px;

    h1{
     font-size: 52px;
    }

    &>figure{
      height:270px;
      overflow:hidden;
    }

    .overlay{
      height:270px;
    }
  }

  .content-inner{
    width: 750px;
    margin: -60px auto 30px;

    .goal-cover{
      width: 750px;
      height: 425px;
    }

    .goals-information{
      width: 680px;
      content: "";
      display: table;
      clear: both;

      figure{
        width: 320px;
        height: 180px;
        margin: 0 20px 0 0;
        float: left;
      }

      div{
        float:left;
        width: 310px;
        height: 180px;
        overflow: hidden;
        padding:0;

        h3{
          font-size: 24px;
          margin: 15px 0;
        }

        //h4{
        //  font-size: 18px;
        //}

        p{
          font-size: 14px;
        }
      }
    }
  }

  footer{
    ul{
      li{
        display: inline-block;
        padding: 5px 25px;
        a{
          font-size:14px;
        }
      }
    }

    .social{
      padding: 0;
      li{
        padding:5px 10px;
      }
    }

    small{
      float: left;
      padding: 24px 0 15px 15px;
      font-size: 12px;
    }
    .footer-bottom{
      ul{
        li{
          padding:5px 15px 5px 25px;
          a{
            font-size: 12px;
          }
        }
      }
    }
  }

  .title{
    font-size: 36px;
    padding: 31px 0 34px;
    margin: 0;
  }
}

@media(min-width: 992px){

  .category{
    max-width: 960px;
  }

  .amp-live-list-item {
    margin: inherit;
  }

  .samples{
    figure{
      min-width: 300px;
      max-width: 300px;
      width: 300px;
    }
  }

  header{

    .navbar{
      min-height: 84px;
    }

    .navbar-brand{
      height:80px;
      padding: 16px 30px 21px 5px;
    }

    .navbar-default{
      .navbar-nav{
        li{
          a{
            font-size:16px;
            padding: 22px 23px;

            i{
              &.mybucketlist-icon{
                margin-right: 6px;
              }
            }

            span{
              display: inline-block;
            }

            &:hover{
              background-color: #000000;
              color: #ffffff;
            }
          }
        }
      }

      .navbar-right{
        li{
          &:last-child{

            width:235px;

            .user{
              padding: 16px 5px 14px 15px;

              span.name{
                padding: 13px 0 4px 8px;
              }

              .icon-arrow-down,.icon-icon-up{
                margin-right:10px;
                margin-top:7px;
              }
            }

            .user-menu{
              width: 235px;
              li{
                a{
                  padding:10px 20px;
                  font-size:14px;
                  font-weight:500;
                }
              }
            }

            .join-class {
              min-width:234px;
            }

            .popover-content{
              a{
                font-size:14px;
              }
            }
          }
        }
      }
    }
  }
  footer{

    ul{
      li{
        a{
          font-size:16px;
        }
      }
    }

    .apps{
      padding:30px 0 0;
    }

    small{
      padding: 25px 30px;
    }
  }

  .title{
    padding: 20px 0 ;
    font-size: 48px;
  }
}

.clearfix{
  content: "";
  display: table;
  clear: both;
}

.text-center{
  text-align: center;
}

.sonata-preview-form-container {
  .row {
    display: none;
  };
}

