body, html{
  height:100%;
}

#mainframe{
  position: relative;
  min-height:100%;
  font-family: 'Open Sans', sans-serif;
}

#wrap{
  position: relative;
  padding-bottom: 300px;
  background-color: #f4f4f4;
}

header{
  background: #021523;

  #line{
    height:4px;
    background: red;
    background: -webkit-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: -o-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: -moz-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: linear-gradient(to right,#ffa600,#de451b,#1b54cf,#00824c);
  }

  .navbar{
    min-height: 81px;
  }

  .logo{
      width: 150px;
      display: block;
      padding: 14px 0 21px 20px;
      float: left;
  }

  .join{
    amp-img{
      float: left;
      margin: 20px 8px;
    }
    span{
      display: inline-block;
      color: #e5e5e5;
      font-weight: bold;
      line-height: 75px;
      float: left;

      &:hover{
        color:#ffffff;
      }
    }
  }

  .no-image{
    width: 40px;
    height: 40px;
    line-height: 34px;
    margin-bottom: 0;
  }

  .user-no1{
    background: #475d50; /* Old browsers */
    background: -moz-linear-gradient(left, #475d50 0%, #495e4d 9%, #4d5f4f 12%, #52614c 17%, #5f644d 22%, #61654a 24%, #64674c 25%, #64674a 27%, #6f6a4a 31%, #736d49 35%, #7b6f49 37%, #807148 41%, #8a754a 44%, #8e7847 47%, #927b49 48%, #997b47 50%, #a27f47 59%, #9f7b41 68%, #947139 75%, #896a34 79%, #836330 81%, #836332 82%, #7f612f 83%, #644d21 92%, #5e481f 96%, #5d471e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #475d50 0%,#495e4d 9%,#4d5f4f 12%,#52614c 17%,#5f644d 22%,#61654a 24%,#64674c 25%,#64674a 27%,#6f6a4a 31%,#736d49 35%,#7b6f49 37%,#807148 41%,#8a754a 44%,#8e7847 47%,#927b49 48%,#997b47 50%,#a27f47 59%,#9f7b41 68%,#947139 75%,#896a34 79%,#836330 81%,#836332 82%,#7f612f 83%,#644d21 92%,#5e481f 96%,#5d471e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #475d50 0%,#495e4d 9%,#4d5f4f 12%,#52614c 17%,#5f644d 22%,#61654a 24%,#64674c 25%,#64674a 27%,#6f6a4a 31%,#736d49 35%,#7b6f49 37%,#807148 41%,#8a754a 44%,#8e7847 47%,#927b49 48%,#997b47 50%,#a27f47 59%,#9f7b41 68%,#947139 75%,#896a34 79%,#836330 81%,#836332 82%,#7f612f 83%,#644d21 92%,#5e481f 96%,#5d471e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475d50', endColorstr='#5d471e',GradientType=1 );
  }
  .user-no2{
    background: #124c72; /* Old browsers */
    background: -moz-linear-gradient(top, #124c72 0%, #15507c 1%, #195480 6%, #1a5982 15%, #1e5c85 19%, #1e5e82 23%, #206086 24%, #206084 26%, #246688 35%, #236587 39%, #226484 40%, #246585 41%, #236484 43%, #21627e 45%, #225f7b 50%, #215d77 51%, #1e566f 58%, #1c5066 60%, #19485a 67%, #144355 70%, #103547 79%, #0e3242 83%, #0f303f 84%, #0c2c3b 91%, #0b2934 96%, #0a2a35 99%, #0b313c 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #124c72 0%,#15507c 1%,#195480 6%,#1a5982 15%,#1e5c85 19%,#1e5e82 23%,#206086 24%,#206084 26%,#246688 35%,#236587 39%,#226484 40%,#246585 41%,#236484 43%,#21627e 45%,#225f7b 50%,#215d77 51%,#1e566f 58%,#1c5066 60%,#19485a 67%,#144355 70%,#103547 79%,#0e3242 83%,#0f303f 84%,#0c2c3b 91%,#0b2934 96%,#0a2a35 99%,#0b313c 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #124c72 0%,#15507c 1%,#195480 6%,#1a5982 15%,#1e5c85 19%,#1e5e82 23%,#206086 24%,#206084 26%,#246688 35%,#236587 39%,#226484 40%,#246585 41%,#236484 43%,#21627e 45%,#225f7b 50%,#215d77 51%,#1e566f 58%,#1c5066 60%,#19485a 67%,#144355 70%,#103547 79%,#0e3242 83%,#0f303f 84%,#0c2c3b 91%,#0b2934 96%,#0a2a35 99%,#0b313c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#124c72', endColorstr='#0b313c',GradientType=0 );
  }
  .user-no3{
    background: #0f2763; /* Old browsers */
    background: -moz-linear-gradient(left, #0f2763 0%, #102a65 3%, #122b6b 4%, #122b6b 5%, #152e70 6%, #173575 8%, #1e3b7d 10%, #335998 16%, #4e78b2 22%, #507bb0 22%, #5d8bbc 25%, #6b9bc3 29%, #6f9dbf 29%, #7ca9c8 32%, #8ab1ce 37%, #94bacf 42%, #95bbce 43%, #9ebfd2 47%, #9dc0d4 48%, #a1c2d5 49%, #a3c2d4 50%, #a7c4d6 51%, #a7c4d4 51%, #afcbd7 56%, #b5d1dc 64%, #b2d0db 69%, #aeccd7 70%, #abcdd9 71%, #a7c8d9 73%, #94bed4 78%, #8fbcd1 78%, #86b4cc 80%, #7cadcd 82%, #74a6c7 83%, #5a94c2 87%, #528cba 88%, #4783b9 90%, #4076b2 92%, #3067a7 97%, #2c62a2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #0f2763 0%,#102a65 3%,#122b6b 4%,#122b6b 5%,#152e70 6%,#173575 8%,#1e3b7d 10%,#335998 16%,#4e78b2 22%,#507bb0 22%,#5d8bbc 25%,#6b9bc3 29%,#6f9dbf 29%,#7ca9c8 32%,#8ab1ce 37%,#94bacf 42%,#95bbce 43%,#9ebfd2 47%,#9dc0d4 48%,#a1c2d5 49%,#a3c2d4 50%,#a7c4d6 51%,#a7c4d4 51%,#afcbd7 56%,#b5d1dc 64%,#b2d0db 69%,#aeccd7 70%,#abcdd9 71%,#a7c8d9 73%,#94bed4 78%,#8fbcd1 78%,#86b4cc 80%,#7cadcd 82%,#74a6c7 83%,#5a94c2 87%,#528cba 88%,#4783b9 90%,#4076b2 92%,#3067a7 97%,#2c62a2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #0f2763 0%,#102a65 3%,#122b6b 4%,#122b6b 5%,#152e70 6%,#173575 8%,#1e3b7d 10%,#335998 16%,#4e78b2 22%,#507bb0 22%,#5d8bbc 25%,#6b9bc3 29%,#6f9dbf 29%,#7ca9c8 32%,#8ab1ce 37%,#94bacf 42%,#95bbce 43%,#9ebfd2 47%,#9dc0d4 48%,#a1c2d5 49%,#a3c2d4 50%,#a7c4d6 51%,#a7c4d4 51%,#afcbd7 56%,#b5d1dc 64%,#b2d0db 69%,#aeccd7 70%,#abcdd9 71%,#a7c8d9 73%,#94bed4 78%,#8fbcd1 78%,#86b4cc 80%,#7cadcd 82%,#74a6c7 83%,#5a94c2 87%,#528cba 88%,#4783b9 90%,#4076b2 92%,#3067a7 97%,#2c62a2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f2763', endColorstr='#2c62a2',GradientType=1 );
  }

  .user-no4{
    background: #475d50; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #475d50 0%, #495e4d 9%, #4d5f4f 12%, #52614c 17%, #5f644d 22%, #61654a 24%, #64674c 25%, #64674a 27%, #6f6a4a 31%, #736d49 35%, #7b6f49 37%, #807148 41%, #8a754a 44%, #8e7847 47%, #927b49 48%, #997b47 50%, #a27f47 59%, #9f7b41 68%, #947139 75%, #896a34 79%, #836330 81%, #836332 82%, #7f612f 83%, #644d21 92%, #5e481f 96%, #5d471e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #475d50 0%,#495e4d 9%,#4d5f4f 12%,#52614c 17%,#5f644d 22%,#61654a 24%,#64674c 25%,#64674a 27%,#6f6a4a 31%,#736d49 35%,#7b6f49 37%,#807148 41%,#8a754a 44%,#8e7847 47%,#927b49 48%,#997b47 50%,#a27f47 59%,#9f7b41 68%,#947139 75%,#896a34 79%,#836330 81%,#836332 82%,#7f612f 83%,#644d21 92%,#5e481f 96%,#5d471e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #475d50 0%,#495e4d 9%,#4d5f4f 12%,#52614c 17%,#5f644d 22%,#61654a 24%,#64674c 25%,#64674a 27%,#6f6a4a 31%,#736d49 35%,#7b6f49 37%,#807148 41%,#8a754a 44%,#8e7847 47%,#927b49 48%,#997b47 50%,#a27f47 59%,#9f7b41 68%,#947139 75%,#896a34 79%,#836330 81%,#836332 82%,#7f612f 83%,#644d21 92%,#5e481f 96%,#5d471e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#475d50', endColorstr='#5d471e',GradientType=1 );
  }
}

.sidebar{
  background-color: #021523;
  padding: 0 10px;

  li{
    display: block;
    border-left: 0;
    text-align: left;
    margin-bottom: 0;
    a{
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 500;
      display: block;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;

      span{
        display: inline-block;
        vertical-align: top;
        padding: 5px 0 5px 7px;
      }
    }
  }
}

.sidebar-right{
  float:right;
  text-align: center;
  margin: 0 15px 0 0;

  a{
    display: block;
    cursor:pointer;
  }

  figure,p{
    margin: 15px;
    float: left;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 4px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
    color: #ffffff;
    border: 2px solid #cecece;
  }

  .name{
    display: inline-block;
    color: #e5e5e5;
    font-weight: bold;
    line-height: 75px;

    &:hover{
      color:#ffffff;
    }
  }


}

.header{
  position: relative;
  height: 240px;
  line-height: 160px;

  h1{
    position: absolute;
    z-index: 10;
    text-align: center;
    width: 100%;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
  }

  &>figure{
    position: absolute;
    width: 100%;
    height:240px;
    margin: 0;
    overflow:hidden;

    amp-img{
      width: 100%;
      -webkit-filter: blur(20px);
      -moz-filter: blur(20px);
      -o-filter: blur(20px);
      -ms-filter: blur(20px);
      filter: blur(20px);
    }
  }

  .overlay{
    background: rgba(0, 0, 0, 0.6);
    height:240px;
    display: block;
    position: absolute;
    width: 100%;
    z-index:2;

    &:hover{
      background: rgba(0, 0, 0, 0.8);
    }
  }

}

section.category{
  margin-top: 35px;
}

amp-sidebar {
  width: 250px;
  padding-right: 10px;
  background: #021523;
}
.amp-sidebar-image {
  line-height: 100px;
  vertical-align:middle;
}
.amp-close-image {
  top: 15px;
  left: 225px;
  cursor: pointer;
}
li {
  margin-bottom: 20px;
  list-style: none;
}
button {
  //margin-left: 20px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 16px;
  &:focus{
    outline: 0;
  }
}



.category {
  margin: 0 auto;
  padding: 0;
}

.text-dark {
  color: #021523;
}

.text-white{
  color: #ffffff;
}

footer{
  width:100%;
  position: absolute;
  bottom: 0;
  height:300px;
  background-color: #021523;

  small{
    display: block;
    padding: 24px 0 0 12px;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size:9px;
    float: left;
  }

  ul{
    padding: 0;
    text-align: center;
    li{
      display: inline-block;
      list-style: none;
      padding: 5px 13px;
      margin-bottom: 0;
      a{
        color:#E5E5E5;
        text-transform: uppercase;
        font-weight: bold;
        font-size:12px;
        text-decoration: none;

        &:hover{
          color:#E5E5E5;
          text-decoration: underline;
        }
      }
    }
  }

  .social{
    padding: 0;
    li{
      padding:5px 4px;

      a{
        display: block;
        width: 40px;
        height: 40px;
      }
    }
  }

  .apps{
    margin:0 auto;
    padding:40px 0 0;

    li{
      float: left;
      padding: 5px;
    }
  }

  .footer-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #000000;

    ul{
      padding:0;
      text-align: right;
      float: right;
      li{
        padding: 1px 12px 5px 5px;
        a{
          //padding-top: 19px;
          display: inline-block;
          font-size: 8px;
          text-transform: uppercase;
          color:#D3D3D3;
          font-weight: 600;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.amp-live-list-item {
  justify-content: center;
  //display: flex;
  margin: 0 auto;
}

.blog {
  padding: 0;
  background: #fff;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);


  p {
    padding: 0 8px 8px;
    margin: 0;
  }
}

.content {
  font-size: 2rem;
  padding: 8px;
}

.button-update {
  margin: 16px;
}

.samples {
  padding-bottom: 16px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 0;

  figure{
    background: white;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8px;
    padding: 0 0 10px 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    float: none;
    overflow: hidden;
    border-radius: 2px;
    min-width: 300px;
    max-width: 400px;

    figcaption{
      height: 155px;
      overflow: hidden;
      h3{
        font-size:24px;
        color: #333;
        margin: 20px 10px;
      }
      p{
        font-size:16px;
        line-height: 26px;
        color: #000333;
      }
    }
  }
}

a{
  text-decoration: none;
  &:hover,&:focus{
    text-decoration: none;
  }
}

.title{
  font-size: 30px;
  line-height: normal;
  font-weight: 300;
  margin: 20px 0;
}

.left{
  float:left;
}

.bg-white{
  background-color: #ffffff;
}

.text-blue{
  color: #000333;
}

.content-inner{
  width: 320px;
  margin: -100px auto 20px;
  padding: 0 0 20px 0;
  position: relative;
  z-index: 10;

  .goal-cover{
    width: 280px;
    overflow: hidden;
    margin: 0 auto 15px;
  }

  p{
    padding: 0 20px;
  }

  .goals-information{
    width: 280px;
    border: 1px solid #ebebeb;
    margin: 0 auto 20px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    figure{
      width: 280px;
      height: 180px;
      margin: 0;
      overflow: hidden;
    }

    p{
      font-size: 16px;
      line-height: 26px;
    }

    div{
      width: 260px;
      padding: 0 10px 10px;

      h3{
        margin: 10px 0 0;
        font-size: 21px;
      }

      //h4{
      //  margin: 0;
      //  font-size: 16px;
      //}

      p{
        margin: 5px 0 0;
        font-size: 14px;

        &:nth-of-type(2) {
          color: red;
        }
      }
    }

  }
}

@media (min-width: 768px) {

  .header{
    height: 270px;
    line-height: 270px;

    h1{
     font-size: 52px;
    }

    &>figure{
      height:270px;
      overflow:hidden;
    }

    .overlay{
      height:270px;
    }
  }

  .content-inner{
    width: 750px;
    margin: -60px auto 30px;

    .goal-cover{
      width: 750px;
      height: 425px;
    }

    .goals-information{
      width: 680px;
      content: "";
      display: table;
      clear: both;

      figure{
        width: 320px;
        height: 180px;
        margin: 0 20px 0 0;
        float: left;
      }

      div{
        float:left;
        width: 310px;
        height: 180px;
        overflow: hidden;
        padding:0;

        h3{
          font-size: 24px;
          margin: 15px 0;
        }

        p{
          font-size: 14px;
        }
      }
    }
  }

  footer{
    ul{
      li{
        display: inline-block;
        padding: 5px 25px;
        a{
          font-size:14px;
        }
      }
    }

    .social{
      padding: 10px 0 0;
      li{
        padding:5px 10px;
      }
    }

    small{
      float: left;
      padding: 24px 0 15px 15px;
      font-size: 12px;
    }
    .footer-bottom{
      ul{
        li{
          padding:5px 15px 5px 25px;
          a{
            font-size: 12px;
          }
        }
      }
    }
  }

  .title{
    font-size: 36px;
    padding: 31px 0 34px;
    margin: 0;
  }
}

@media(min-width: 992px){

  .category{
    max-width: 960px;
  }

  .amp-live-list-item {
    margin: inherit;
    //display: flex;
  }

  .samples{
    figure{
      min-width: 300px;
      max-width: 300px;
      width: 300px;
      float:left;
    }
  }

  footer{

    ul{
      li{
        a{
          font-size:16px;
        }
      }
    }

    .apps{
      padding:30px 0 0;
    }

    small{
      padding: 25px 30px;
    }
  }

  .title{
    padding: 20px 0 ;
    font-size: 48px;
  }
}

.clear{
  content: "";
  display: table;
  clear: both;
}

.text-center{
  text-align: center;
}

div.sonata-preview-form-container {
  .row {
    display: none;
  };
}