@import "../../../app/bower_components/bootstrap/less/variables.less";
@import "function.less";

.content-top{
  background-color: #ffffff;

  a{
    display: block;
    font-size:18px;
    padding:20px 0 15px;
  }

  .map-top{
    .down-icon{
      background: url('../images/images.png') no-repeat -380px -273px;
    }

    &:hover{
      color:#7724F6 !important;
      text-decoration: none;
      .down-icon{
        background: url('../images/images.png') no-repeat -380px -365px;
      }
    }

    &:focus{
      color:#999999;
      text-decoration: none;
    }
    &:active{
      color:#999999;
      text-decoration: none;
    }

  }

  h3{
    padding-top: 12px;
  }

  h3{
    span{
      display: inline-block;
      width:35px;
      height:35px;
      vertical-align: middle;
    }

  }

  .suggest-input{
    padding: 35px 0 0 22px;
    .icheckbox_square-purple{
      background: url('../images/checkbox.png') no-repeat 0 0;

      &:hover{
        background: url('../images/checkbox.png') no-repeat -26px 0;
      }
    }
    .checked{
      background: url('../images/checkbox.png') no-repeat -52px 0 !important;
    }
  }

  .no-bg{
    border:0;
    font-size:18px;
    padding:20px 0 15px;
    outline:none;
    box-shadow: none;

    &:hover,&:focus{
      outline:none;
      border:0;
      background-color: transparent;
      box-shadow: none;
    }
  }

  .buttons{
    margin:40px 0;
    button,a{

      padding: 6px 25px;
      display: inline-block;
      margin-left:12px;

      span{
        line-height: 27px;
      }

      &:first-child{
        border:1px solid #e3e3e3;
        color:#999999;
      }

      &:hover{
        background-color: #6108EA;
        color:#ffffff;
        box-shadow:none;
      }

      &:active,&:focus{
        box-shadow:none;
        outline:0;
      }
    }

    .icon-right{
      margin-left:15px;
    }
  }
}

.goals{
  padding-bottom:20px;
  margin:30px 0;
  background-color: #ffffff;

  .title{
    border: 0;
    border-bottom:1px solid  #e6e6e6;
    color:#afafaf;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 0;
    box-shadow: none;
  }

  .form-group{
    p{
      font-size: 14px;
    }
  }
  .tags{
    margin:10px 0;
    button{
      padding: 5px 25px;
      margin-right:10px;
    }
  }

  textarea{
    resize: none;
  }

  figure{
    margin:0 0 20px 0;
  }
}

.goal-container{
  min-height:1000px;
  height:auto !important;
  height:1000px;

  img{
    position: absolute;
    width:100%;
  }
}

.goal-end{
  background-color: #ffffff;
  padding:10px 20px 0;
  .rounded-corners(6px);
  margin-bottom: 50px;


  h4{
    color:#3d3d3d;
  }

  label.text-purple{
    font-size:18px;
  }

  form{
    padding-bottom:10px;

    button.button-lg{
      padding:6px 15px;
    }
  }
}

.dropzone{
  min-height:170px !important;
  margin:40px 0;

  .dz-message{
    opacity: 1 !important;
    //position: absolute;
    //width: 95%;
    //bottom: 35px;
    text-align: left;
    padding: 0 15px;
    //top:150px;

    h3{
      float:left;
      cursor:pointer;
      margin:10px 30px;
    }

    .btn-purple{
      font-size:14px;
      cursor:pointer;
      float:left;

      i{
        display: inline-block;
        vertical-align: middle;
        width:40px;
        height:28px;
        background: url('../images/images.png') no-repeat -380px -8px;
      }
    }

    p{
      margin:10px 0 0 0;
      font-size:14px;
    }

  }

  //.dz-preview{
  //  margin: 15px 15px 150px !important;
  //}

}

.form-modal{
  button{
    padding:10px 15px;
    font-size:14px;
    margin: 5px;
  }
}
//
//.icheckbox_square-purple{
//  background: url('../images/checkbox.png') no-repeat 0 0;
//
//  &:hover{
//    background: url('../images/checkbox.png') no-repeat -26px 0;
//  }
//}
//.checked{
//  background: url('../images/checkbox.png') no-repeat -52px 0 !important;
//}

//videos{
//  position: relative;
//
//  .remove-icon{
//    position: absolute;
//    right:0;
//  }
//}

.goals-information{

  figure{
    height:155px;
    overflow:hidden;
    position:relative;

    figcaption{
      position:absolute;
      bottom: -20px;
      width: 100%;
      padding: 10px 5px;
      background: rgba(0, 0, 0, 0.5);

      a{
        color:#ffffff;

        &:hover{
          text-decoration:none;
        }
      }
    }
  }



  .information{

    .addthis_native_toolbox{
      float:right !important;
    }

    h3{
      font-size:18px;
      line-height: 25px;
      margin:15px 0 0;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis;
    }

    .addthis_native_toolbox{
      margin-top:15px;
    }

    p{
      color:#7a7a7a;
    }


    a{
      &:hover,&:focus{
        text-decoration:none;
      }
    }

    .btn-transparent{
      padding: 0 15px 0 5px;

      &:hover{
        .done-icon{
          background: url('../images/images.png') no-repeat -380px -513px;
        }
      }
    }

    #successtory{
      &:hover{
        background: transparent;
        color:#999999;
      }
    }

    ul{
      padding:10px 0 0;
      li{
        float:left;
        margin-right: 1px;
        span{
          color:#666666;
        }
      }
      li:nth-child(2){
        width:140px;
        margin-right:10px;
      }
    }
    .green-bg{
      .rounded-corners;
    }

  }
}

#datepicker{
  margin-bottom:15px;
  .datepicker-inline{
    margin:0 auto;
    width:auto;
    .table-condensed{
      border-collapse: separate;
      background-color: #f4f4f4;
      thead{
        //background-color: #7627f5;
        tr{
          th{
            border-radius: 0;
            color:#7627f5;
            border-bottom:2px solid #ffffff;
            &:hover{
              background-color: #f4f4f4;
            }
          }

          &:nth-child(2){
            th{
              font-size:16px;
              padding:10px;
              text-transform: uppercase;
              border-bottom:3px solid #ffffff;
            }
          }
        }

      }
      tbody{
        td{
          border-radius: 0;
          border: 1px solid #ffffff;
          border-spacing: 10px;
          color:#a3a3a3;
          font-size:18px;
          padding:6px 23px;

          &:first-child{
            border-left:0;
          }
          &:last-child{
            border-right:0;
          }
        }

        .active{
          background: #7627f5;
          color:#ffffff;
        }

        .today{
          background: #f4f4f4;
          border:2px solid #7627f5;
          color: #999999;
        }
      }
    }
  }
}
@media (min-width: @screen-sm) {
  .goal-container{
    min-height:900px;
    height:auto !important;
    height:900px;
  }

  .goal-end{
    margin-bottom:60px;
    textarea{
      resize: none;
    }

    label{
      font-size:18px;
      padding-top:3px !important;
      font-weight:normal;
    }

    label.onoffswitch-label{
      padding-top:0 !important;
    }

    .onoffswitch{
      .onoffswitch-switch{
        width:33px;
      }
    }
  }

  .goals{
    .title{
      font-size: 52px;
      height: 75px;
      line-height: 70px;
      padding-left: 0;
    }
    h3.title{
      padding: 17px 40px;
      font-size: 25px;
      line-height:35px;
      height:auto;

    }

    .relative{
      margin-bottom:5px;
    }
    
    .remove-icon{
      position: absolute;
      right: 10px;
      top: 0;
      height: 34px;
    }
  }
}

@media (min-width: @screen-md) {

  .goal-container{
    min-height:1025px;
    height:auto !important;
    height:1025px;
  }

  .goal-end{
    margin-bottom:100px;
    padding-bottom:5px;

    label.text-purple{
      font-size:24px;
      vertical-align:middle;
      span{
        font-size:24px;
      }
    }

    strong{
      display:inline-block;
    }

    h4{
      font-size:24px;
      line-height:35px;
    }

    h5{
      padding-left:0 !important;
      font-size:18px;
      color:#666666 !important;
    }
  }

  .goals{
    .margin-top{
      margin-top:30px;
    }
  }

}