@import "../../../app/bower_components/bootstrap/less/variables.less";
@import "function.less";

.idea-item{
  figure{
    background: transparent;
    overflow: hidden;
    position: relative;
    margin-bottom:32px;
    text-align: center;

    &>a{
      height:230px;
    }

    &>a.height{
      height:540px;

      .overlay{
        height:540px;
      }
    }

    h3{
      position: absolute;
      width: 100%;
      color:#ffffff;
      font-size:16px;
      font-weight: 700;
      padding: 0 13px;
      line-height: 20px;
      z-index: 1;
      margin-top:13px;

      a{
        color:#ffffff;
        cursor: pointer;

        &:hover{
          color:#ffffff;
        }
      }
    }

    span,i{
      color:#ffffff;
    }

    figcaption{
      ul{
        li{
          a{
            padding:5px 0;
            &:hover,&:focus{
              text-decoration: none;
            }
          }

          &:hover{
            background-color: #7724F6;
            color:#ffffff;
          }

          &:focus,&:active{
            background-color: #6108EA;
            a{
              color:#ffffff;
            }
          }

          i{
            font-size:25px;
          }

          i.icon-green-ok,.icon-green-plus{
            font-size: 36px;
            margin-right:-8px;
            vertical-align: middle;
          }

          &:hover{
            a{
              bdi{
                color:#ffffff;

              }
            }
          }
          bdi{
            font-size:11px;
            vertical-align: middle;
          }

        }
        .transparent{
          &:hover{
            background-color: transparent;
            a,bdi {
              color: #a4a4a4;
            }
          }
        }
      }
    }
  }
}

.ideas-list{
  padding-bottom:20px;

  h2{
    font-size:18px;
    line-height:30px;
    font-weight: 300;
  }

  //figure{
  //  background: transparent;
  //  overflow: hidden;
  //  position: relative;
  //  margin-bottom:32px;
  //  text-align: center;
  //
  //  &>a{
  //    height:230px;
  //  }
  //
  //  &>a.height{
  //    height:540px;
  //
  //    .overlay{
  //      height:540px;
  //    }
  //  }
  //
  //  h3{
  //    position: absolute;
  //    width: 100%;
  //    color:#ffffff;
  //    font-size:16px;
  //    font-weight: 700;
  //    padding: 0 13px;
  //    line-height: 20px;
  //    z-index: 1;
  //    margin-top:13px;
  //
  //    a{
  //      color:#ffffff;
  //      cursor: pointer;
  //
  //      //&:hover{
  //      //  text-decoration: underline;
  //      //}
  //    }
  //  }
  //
  //  figcaption{
  //    ul{
  //      li{
  //        a{
  //          padding:5px 0;
  //          &:hover,&:focus{
  //            text-decoration: none;
  //          }
  //        }
  //
  //        &:hover{
  //          background-color: #7724F6;
  //          color:#ffffff;
  //        }
  //
  //        &:focus,&:active{
  //          background-color: #6108EA;
  //          a{
  //            color:#ffffff;
  //          }
  //        }
  //
  //        i{
  //          font-size:25px;
  //        }
  //
  //        i.icon-green-ok,.icon-green-plus{
  //          font-size: 36px;
  //          margin-right:-8px;
  //          vertical-align: middle;
  //        }
  //
  //        &:hover{
  //          a{
  //            bdi{
  //              color:#ffffff;
  //
  //            }
  //          }
  //        }
  //        bdi{
  //          font-size:11px;
  //          vertical-align: middle;
  //        }
  //      }
  //      .transparent{
  //        &:hover{
  //          background-color: transparent;
  //          a,bdi {
  //            color: #a4a4a4;
  //          }
  //        }
  //      }
  //    }
  //  }
  //}

  //.show-more{
  //  padding:5px 15px 8px;
  //  .rounded-corners(6px);
  //  background: #7724F6;
  //  display: inline-block;
  //
  //  span{
  //    display: inline-block;
  //    height: 6px;
  //    width:6px;
  //    margin:0 2px;
  //    .rounded-corners(50%);
  //    background-color: #ffffff;
  //  }
  //
  //  &:hover{
  //    background: #6108EA;
  //  }
  //}
}

//.drafts{
//  figure{
//    margin-bottom:10px;
//    overflow: hidden;
//    &>a{
//      height:230px;
//    }
//
//    figcaption{
//      ul{
//        li{
//          a{
//            padding:5px 0;
//          }
//
//          &:hover{
//            bdi{
//             color:#ffffff;
//            }
//          }
//        }
//      }
//    }
//  }
//}

.inner-content{
  background-color: #ffffff;
  overflow: hidden;

  .overlay{
    &:hover{
      background: rgba(0, 0, 0, 0.2);
    }
  }
  .fb-like{
    margin: 7px 0 0 15px;
  }
  .addthis_counter a.atc_s{
    width:120px !important;
    height:31px !important;
    background: url('../images/share-new.png') no-repeat center center !important;
    background-size: 100% !important;
    &:hover{
      background: url('../images/share-purple.png') no-repeat center center !important;
      background-size: 100% !important;
    }
  }
}

.goal-information{
  overflow: hidden;
  background-color: #ffffff;

  hr{
    margin:0 !important;
    border-color:#eee;
  }
  ul:last-child{
    padding-left:20px;
    &>li{
      border-bottom:1px solid #eee;
      padding-top:5px;
      padding-bottom:5px;
      color:#a4a4a4;
      ul{
        li{
          display: inline-block;
          border-bottom:0;
          padding-bottom:0;
          font-size: 12px;

          &:last-child{
            a,i{
              background: url('../images/listed-arrow.png') no-repeat center center;
              background-size: 100% ;
              display: block;
              width:37px;
              height:37px;
              margin-left:3px;
            }

            a{
              &:hover{
                background: url('../images/listed-arrow-purple.png') no-repeat center center;
                background-size: 100% ;
              }
            }

          }
        }
      }
    }
  }

  p{
    font-size:14px;
    margin-bottom:0;
  }
}

.goal-links{
  padding-left:0;
  margin-bottom:0;
  height: 50px;
  li{
    text-align: center;
    border-right:1px solid #eee;
    a{
      display: block;
      color: #a4a4a4;
      padding: 11px 0;
      font-size:12px;


      &:focus{
        text-decoration: none;
      }
    }

    i{
      font-size: 30px;
      vertical-align: middle;
    }

    i.icon-green-ok,.icon-green-plus{
      font-size: 49px;
      margin-right:0;
    }

    bdi{
      display: inline-block;
      color: #a4a4a4;
      vertical-align: middle;
      font-size: 13px;
    }

    &:hover{
      background-color: #7724F6;
      a{
        color: #ffffff;

        bdi{
          color: #ffffff;
        }
      }

    }
    &:last-child{
      border-right:0;
    }
  }
  .transparent{
    &:hover{
      background-color: transparent;
      a,bdi {
        color: #a4a4a4;
      }
    }
  }
}

.inner-container{
  background-color: #d8d8d8;
  padding-bottom: 30px;

  hr{
    margin:5px 0 10px;
  }

  .quote{
    position: relative;
    height:170px;
    padding:5px 0;
    i{
      height:30px;
      width:33px;
      font-size:16px;
      position: absolute;
    }
  }

  .ticker {
    font-size:12px;
    line-height:18px;
    color:#ffffff;
    position: relative;

    div {
      display: inline-block;
      word-wrap: break-word;
      padding:0 10px;
    }
    .aphorism{
      padding:0 20px;
      text-align: justify;
      li {
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        position: absolute;
        opacity: 0;
        padding: 0 40px 0 5px;
        width: 98%;
        span{
          display: block;
          margin:5px 10px 0;
        }
      }
      li.active {
        opacity: 1;
      }
    }
  }

  .goal-image{
    position: absolute;
    width:100%;
    overflow: hidden;

    .overlay{
      background: rgba(0, 0, 0, 0.2);
      height:680px;
    }

    img{
      width:100%;
      .blur;
    }
  }

  h2{
    background-color: #021523;
    color:#ffffff;
    padding: 5px 10px 10px;
    margin-bottom:10px;
    overflow: hidden;
    line-height:25px;
    font-size:18px;
    margin-top:10px;
  }

  h2.title-smaller{
    font-size: 15px;
    line-height: 22px;
  }

  .inner{
    padding:0 10px 10px;
    p{
      padding:0 0 5px 0;
      font-size:12px;
      white-space: normal;
      text-align: justify;
      word-break: break-word;
    }

    bdi{
      display: block;
      width:43px;
      height:43px;
      color:#ffffff;
      line-height: 40px;
      text-align: center;
      .rounded-corners;
      border:2px solid #cecece;
    }

    .comment-place{
      padding:10px 10px 0;
      background-color: #f4f4f4;
      margin-bottom: 10px;

      figure:first-child{
        margin: 0 0 10px 0;
        background-color: transparent;
        width:35px;
        height:35px;

        img{
          height:35px;
          border:2px solid #cecece;
        }
      }

      p{
        padding:0;
        font-size:12px;
        color:#666666;
        margin:0;
        white-space: normal;
        word-break: break-word;

        &:first-child{
          font-weight:600;
        }
      }

      span{
        font-size:12px;
        color:#999999;
      }

      figure{
        img{
          width: 100%;
        }
      }

    }

    //.story-slider{
    //  position: relative;
    //  margin: 10px auto 30px;
    //  width: 710px;
    //  height: 230px;
    //
    //  &>div{
    //    cursor: move;
    //    position: absolute;
    //    overflow: hidden;
    //    left: 0;
    //    top: 0;
    //    width: 710px;
    //    height: 230px;
    //  }
    //}
    //.video-slider {
    //  height: 350px;
    //
    //  &>div{
    //    height: 350px;
    //  }
    //}
  }

  h4{
    padding-top:10px;
    color:#666666;
    font-size:14px;
  }
}

.view-content{
  margin: 50px 0 20px 0;
  min-height:800px;
  padding:125px 10px 10px;
  overflow: hidden;

  .inner-container{

    .goal-image{
      img{
        height:auto;
      }
    }
  }
  div{
    overflow-x: hidden;
  }
}

@media (min-width: @screen-sm) {

  //.drafts{
  //  figure{
  //    margin-bottom:15px;
  //
  //    figcaption{
  //      ul{
  //        li{
  //          a{
  //            padding:10px 0;
  //          }
  //
  //          bdi{
  //            font-size:13px;
  //          }
  //        }
  //      }
  //    }
  //
  //  }
  //}


  .idea-item{
    figure{
      text-align: left;
      h3{
        font-size:24px;
        padding: 0 25px;
        line-height: 30px;
        margin-top:15px;
      }


      figcaption{
        ul{
          li{
            a{
              padding:10px 0;
            }

            i.icon-green-ok,.icon-green-plus{
              font-size: 49px;
            }

            i{
              font-size:30px;
            }

            bdi{
              font-size:13px;
            }
          }
        }
      }

      .absolute{
        ul{
          li{
            padding-left:20px;
            a{
              color:#E5E5E5;
              font-size:14px;
            }

          }
        }
      }
    }
  }

  .ideas-list{
    padding-bottom:0;

    h2{
      font-size: 27px;
      line-height: 35px;
    }

    //figure{
    //  text-align: left;
    //  h3{
    //    font-size:24px;
    //    padding: 0 25px;
    //    line-height: 30px;
    //    margin-top:15px;
    //  }
    //
    //
    //  figcaption{
    //    ul{
    //      li{
    //        a{
    //          padding:10px 0;
    //        }
    //
    //        i.icon-green-ok,.icon-green-plus{
    //          font-size: 49px;
    //        }
    //
    //        i{
    //          font-size:30px;
    //        }
    //
    //        bdi{
    //          font-size:13px;
    //        }
    //      }
    //    }
    //  }
    //
    //  .absolute{
    //    ul{
    //      li{
    //        padding-left:20px;
    //        a{
    //          color:#E5E5E5;
    //          font-size:14px;
    //        }
    //
    //      }
    //    }
    //  }
    //}

    //.show-more{
    //  padding:10px 25px 13px;
    //  span{
    //    height: 9px;
    //    width:9px;
    //  }
    //}
  }

  .inner-container{
    padding-bottom: 20px;

    hr{
      margin:10px 0;
    }

    .quote{
      height: 145px;
      padding: 15px 0 0;
      i{
        font-size:23px;
      }
    }

    .ticker {
      font-size:14px;
      line-height:25px;

      div {
        padding-left:40px;
      }
      .aphorism {
        li {
          padding: 0 40px 0 10px;
          span{
            margin:5px 10px 0;
          }
        }
      }
    }

    .goal-image{

      .overlay{
        height:630px;
      }

      img{
        height:630px;
      }
    }

    h2{
      padding: 5px 20px 10px;
      margin:0 0 10px 0;
      line-height:40px;
      font-size: 30px;

    }
    h2.title-smaller{
      font-size:23px;
      line-height:35px;
    }

    .inner{
      padding:0 15px 5px 15px;
      p{
        padding:0 0 10px 0;
        font-size:14px;
      }

      bdi{
        width:43px;
        height:43px;
        color:#ffffff;
        line-height: 40px;
      }

      .comment-place{
        padding:15px 10px 5px;
        margin-bottom: 10px;

        figure:first-child{
          margin: 0 0 10px 5px;
          width:40px;
          height:40px;

          img{
            height:40px;
          }
        }

        p{
          font-size:14px;
        }

        span{
          font-size:12px;
        }

      }

      //.story-slider{
      //  position: relative;
      //  margin: 10px auto 30px;
      //  width: 710px;
      //  height: 230px;
      //
      //  &>div{
      //    cursor: move;
      //    position: absolute;
      //    overflow: hidden;
      //    left: 0;
      //    top: 0;
      //    width: 710px;
      //    height: 230px;
      //  }
      //}
      //.video-slider {
      //  height: 350px;
      //
      //  &>div{
      //    height: 350px;
      //  }
      //}
    }

    h4{
      padding-top:20px;
      font-size:16px;
    }
  }


  .inner-content{
    .fb-like{
      margin: 7px 0 0 20px;
    }
  }

  .goal-information{
    ul:last-child{
      padding-left:25px;
      &>li{
        padding-top:7px;
        padding-bottom:7px;

        ul{
          li{
            font-size: 14px;
          }
        }
      }
    }

    p{
      font-size:17px;
    }

  }

  .goal-links{
    li{
      a{
        font-size: 14px;
      }
    }
  }
}

@media (min-width: @screen-md) {

  //.drafts{
  //  figure{
  //    margin-bottom:25px;
  //  }
  //}

  .ideas-list{

    h2{
      padding: 60px 0 65px;
      //font-size: 52px;
      //line-height: 64px;
      font-size: 48px;
      line-height: 60px
    }

    .no-bottom{
      padding-bottom:0;
    }
  }
  .inner-container{
    padding-bottom: 30px;

    hr{
      margin:20px 0;
    }

    .quote{
      height:150px;
      i{
        font-size:30px;
      }
    }

    .ticker {
      font-size:16px;

      div {
        padding-left:40px;
      }
      .aphorism {
        li {
          padding:0 40px 0 20px;
          span{
            margin:5px 10px 0;
          }
        }
      }
    }

    .goal-image{

      .overlay{
        height:677px;
      }

      img{
        height:677px;
      }
    }

    h2{
      padding: 5px 40px 10px;
      margin:0 0 20px 0;
      line-height:60px;
      font-size: 52px;
    }
    h2.title-smaller{
      font-size: 23px;
      line-height: 57px;
    }

    .inner{
      padding:0 20px 10px 20px;
      //p{
      //  font-size:16px;
      //}

      bdi{
        width:43px;
        height:43px;
        color:#ffffff;
        line-height: 40px;
      }

      .comment-place{
        padding:20px 15px 30px;
        margin-bottom: 20px;

        figure:first-child{
          margin: 0 0 10px 15px;
          width:40px;
          height:40px;

          img{
            height:40px;
          }
        }

        p{
          font-size:16px;
        }

        span{
          font-size:13px;
        }

      }

      //.story-slider{
      //  position: relative;
      //  margin: 10px auto 30px;
      //  width: 710px;
      //  height: 230px;
      //
      //  &>div{
      //    cursor: move;
      //    position: absolute;
      //    overflow: hidden;
      //    left: 0;
      //    top: 0;
      //    width: 710px;
      //    height: 230px;
      //  }
      //}
      //.video-slider {
      //  height: 350px;
      //
      //  &>div{
      //    height: 350px;
      //  }
      //}
    }

    h4{
      padding-top:40px;
      font-size:18px;
    }
  }

  .inner-content{
    .fb-like{
      margin: 7px 0 0 30px;
    }
  }

  .goal-information{
    width: 374px;

    ul:last-child{
      padding-left:20px;
      &>li{
        padding-top:10px;
        padding-bottom:10px;
      }
    }

    p{
      font-size:20px;
    }

  }
}