@import "../../../app/bower_components/bootstrap/less/variables.less";
@import "function.less";

.ideas-list{
  figure{
    background: transparent;
    overflow: hidden;
    position: relative;
    margin-bottom:32px;
    text-align: center;

    &>a{
      height:230px;
    }

    &>a.height{
      height:540px;
    }

    h3{
      position: absolute;
      width: 100%;
      color:#ffffff;
      font-size:16px;
      font-weight: bold;
      padding: 0 13px;
      line-height: 20px;
      z-index: 1;
      margin-top:13px;
    }

    figcaption{
      ul{
        li{
          a{
            font-size:11px;
            &:hover,&:focus{
              text-decoration: none;
            }

          }
          &:hover{
            background-color: #7724F6;
            color:#ffffff;

          }

          &:focus,&:active{
            background-color: #6108EA;
            a{
              color:#ffffff;
            }
          }
        }
        .transparent{
          &:hover{
            background-color: transparent;
            a,bdi {
              color: #a4a4a4;
            }
          }
        }
      }
    }

    .absolute{
      bottom:40px;
      width: 100%;

      ul{
        padding-left:0;

        li{
          display: inline-block;
          padding-left:10px;
          a{
            color:#E5E5E5;
            font-size:12px;

            &:hover{
              span{
                text-decoration: underline;
              }
              //i{
              //  text-decoration: none;
              //}
            }
          }

          &:last-child{
            a{
              color:#ffffff;
            }
          }
        }
      }
    }
  }
}

.inner-content{
  background-color: #ffffff;
  overflow: hidden;

  .fb-like{
    margin: 7px 0 0 30px;
  }
  .addthis_counter a.atc_s{
    //margin-top:10px;
    width:120px !important;
    height:35px !important;
    background: url('../images/images.png') no-repeat -15px -1688px !important;

    &:hover{
      background: url('../images/images.png') no-repeat -15px -1733px !important;
    }
  }



}
.goal-information{
  //width: 375px;
  overflow: hidden;
  //margin-left: -15px;
  background-color: #ffffff;

  hr{
    margin:0 !important;
    border-color:#A4A4A4;
  }
  ul:last-child{
    padding-left:15px;
    &>li{
      border-bottom:1px solid #a4a4a4;
      padding-top:10px;
      padding-bottom:10px;
      color:#a4a4a4;
      ul{
        li{
          display: inline-block;
          border-bottom:0;
          padding-bottom:0;

          &first-child{
            span{
              display: block;
              font-size: 15px;
            }
          }

          &:last-child{
            a,i{
              background: url('../images/images.png') no-repeat -396px -1156px;
              display: block;
              width:40px;
              height:40px;
            }

            a{
              &:hover{
                background: url('../images/images.png') no-repeat -396px -1203px;
              }
            }

          }
        }
      }
    }
  }

  p{
    font-size:20px;
    margin-bottom:0;
  }


}

.goal-links{
  padding-left:0;
  margin-bottom:0;
  height: 50px;
  li{
    text-align: center;
    a,bdi {
      display: block;
      color: #a4a4a4;
      padding: 11px 0;
      font-size:12px;

      &:focus{
        text-decoration: none;
      }
    }

    &:hover{
      background-color: #7724F6;
      a,bdi{
        color: #ffffff;

        i.plus-icon{
          background: url('../images/images.png') no-repeat -7px -496px;
        }

        i.ok-icon{
          background: url('../images/images.png') no-repeat -7px -617px;
        }
      }

    }
    &:last-child{
      border-left:1px solid #a4a4a4;
    }
  }
  .transparent{
    &:hover{
      background-color: transparent;
      a,bdi {
        color: #a4a4a4;
      }
    }
  }
}

.inner-container{
  background-color: #d8d8d8;
  padding-bottom: 30px;

  hr{
    margin:5px 0;
  }

  q{
    display: block;
    padding:25px 0;
    color:#ffffff;
    font-size:17px;
    text-align: justify;
    word-break: break-all;
  }
  cite{
    display:block;
    margin-bottom:10px;
    color:#ffffff;
  }
  .quote{
    position: relative;
    height:150px;
    padding:35px 0 25px;
    i{
      height:30px;
      width:33px;
      font-size:30px;
      position: absolute;
    }
  }

  .ticker {
    font-size:16px;
    color:#ffffff;
    position: relative;

    div {
      display: inline-block;
      word-wrap: break-word;
      padding-left:40px;
    }
    .aphorism {
      li {
        transition: opacity 0.5s linear;
        -webkit-transition: opacity 0.5s linear;
        -moz-transition: opacity 0.5s linear;
        -o-transition: opacity 0.5s linear;
        position: absolute;
        opacity: 0;

        span{
          display: block;
          margin:5px 10px 0;
        }
      }
      li.active {
        opacity: 1;
      }
    }
  }

  .goal-image{
    position: absolute;
    width:100%;
    overflow: hidden;

    .overlay{
      background: rgba(0, 0, 0, 0.6);
      height:680px;

      &:hover{
        background: rgba(0, 0, 0, 0.8);
      }
    }

    img{
      width:100%;
      .blur;
    }
  }

  h2{
    background-color: #021523;
    color:#ffffff;
    padding: 5px 10px 10px;
    margin-bottom:10px;
    overflow: hidden;
    line-height:25px;
    font-size:18px;
  }

  .inner{
    padding:0 10px 10px;
    p{
      padding:10px 0 0;
      font-size:12px;
      white-space: normal;
      text-align: justify;
      word-break: break-word;
    }

    bdi{
      display: block;
      width:43px;
      height:43px;
      color:#ffffff;
      line-height: 40px;
      text-align: center;
      .rounded-corners;
      border:2px solid #cecece;
    }

    .comment-place{
      padding:10px 10px 20px;
      background-color: #f4f4f4;
      margin-bottom: 10px;

      figure:first-child{
        margin: 0 0 10px 0;
        background-color: transparent;
        width:35px;
        height:35px;

        img{
          height:35px;
          border:2px solid #cecece;
        }
      }

      p{
        padding:0;
        font-size:12px;
        color:#666666;
        margin:0;
        white-space: normal;
        word-break: break-word;

        &:first-child{
          font-weight:600;
        }
      }

      span{
        font-size:12px;
        color:#999999;
      }

      figure{
        img{
          width: 100%;
        }
      }

    }

    .story-slider{
      position: relative;
      margin: 10px auto 30px;
      width: 710px;
      height: 230px;

      &>div{
        cursor: move;
        position: absolute;
        overflow: hidden;
        left: 0;
        top: 0;
        width: 710px;
        height: 230px;
      }
    }
  }

  h4{
    padding-top:10px;
    color:#666666;
    font-size:14px;
  }
}

.view-content{
  margin: 50px 0 20px 0;
  min-height:800px;
  padding:125px 10px 10px;
  overflow: hidden;

  .inner-container{

    .goal-image{
      img{
        height:auto;
      }
    }
  }
  div{
    overflow-x: hidden;
  }
}

@media (min-width: @screen-sm) {

  .ideas-list{
    figure{
      text-align: left;
      h3{
        font-size:24px;
        padding: 0 25px;
        line-height: 30px;
        margin-top:15px;
      }

      figcaption{
        ul{
          li{
            a{
              font-size:14px;
            }
          }
        }
      }

      .absolute{
        //bottom:60px;

        ul{
          li{
            padding-left:20px;
            a{
              color:#E5E5E5;
              font-size:14px;
            }

          }
        }
      }

    }
  }

  .inner-container{
    padding-bottom: 20px;

    hr{
      margin:10px 0;
    }

    q{
      padding:15px 0;
      font-size:15px;
    }

    cite{
      margin-bottom:5px;
    }

    .quote{
      height:100px;
      padding:20px 0 15px;
      i{
        height:30px;
        width:33px;
        font-size:30px;
      }
    }

    .ticker {
      font-size:16px;

      div {
        padding-left:40px;
      }
      .aphorism {
        li {
          span{
            margin:5px 10px 0;
          }
        }
      }
    }

    .goal-image{

      .overlay{
        height:680px;
      }

      img{
        height:680px;
      }
    }

    h2{
      padding: 5px 20px 10px;
      margin-bottom:10px;
      line-height:40px;
      font-size: 30px;
    }

    .inner{
      padding:0 15px 5px 15px;
      p{
        padding:25px 0 0;
        font-size:14px;
      }

      bdi{
        width:43px;
        height:43px;
        color:#ffffff;
        line-height: 40px;
      }

      .comment-place{
        padding:15px 10px 25px;
        margin-bottom: 10px;

        figure:first-child{
          margin: 0 0 10px 5px;
          width:40px;
          height:40px;

          img{
            height:40px;
          }
        }

        p{
          font-size:14px;
        }

        span{
          font-size:12px;
        }

      }

      .story-slider{
        position: relative;
        margin: 10px auto 30px;
        width: 710px;
        height: 230px;

        &>div{
          cursor: move;
          position: absolute;
          overflow: hidden;
          left: 0;
          top: 0;
          width: 710px;
          height: 230px;
        }
      }
    }

    h4{
      padding-top:20px;
      font-size:16px;
    }
  }

  .goal-information{
    width: 375px;
    overflow: hidden;
    //margin-left: -15px;
    background-color: #ffffff;
    ul:last-child{
      padding-left:15px;
      &>li{
        border-bottom:1px solid #a4a4a4;
        padding-top:10px;
        padding-bottom:10px;

        ul{
          li{
            display: inline-block;

            &:first-child{
              span{
                font-size: 15px;
              }
            }


          }
        }
      }
    }

    p{
      font-size:20px;
      margin-bottom:0;
    }

  }

  .goal-links{
    li{
      a,bdi {
        font-size: 14px;
      }
    }
  }
}

@media (min-width: @screen-md) {
  .inner-container{
    padding-bottom: 30px;

    hr{
      margin:20px 0;
    }

    q{
      padding:25px 0;
      font-size:17px;
    }

    cite{
      margin-bottom:10px;
    }

    .quote{
      height:150px;
      padding:35px 0 25px;
      i{
        height:30px;
        width:33px;
        font-size:30px;
      }
    }

    .ticker {
      font-size:16px;

      div {
        padding-left:40px;
      }
      .aphorism {
        li {
          span{
            margin:5px 10px 0;
          }
        }
      }
    }

    .goal-image{

      .overlay{
        height:680px;
      }

      img{
        height:680px;
      }
    }

    h2{
      padding: 5px 40px 10px;
      margin-bottom:20px;
      line-height:60px;
      font-size: 52px;
    }

    .inner{
      padding:0 20px 10px 20px;
      p{
        padding:35px 0 0;
        font-size:16px;
      }

      bdi{
        width:43px;
        height:43px;
        color:#ffffff;
        line-height: 40px;
      }

      .comment-place{
        padding:20px 15px 30px;
        margin-bottom: 20px;

        figure:first-child{
          margin: 0 0 10px 15px;
          width:40px;
          height:40px;

          img{
            height:40px;
          }
        }

        p{
          font-size:16px;
        }

        span{
          font-size:13px;
        }

      }

      .story-slider{
        position: relative;
        margin: 10px auto 30px;
        width: 710px;
        height: 230px;

        &>div{
          cursor: move;
          position: absolute;
          overflow: hidden;
          left: 0;
          top: 0;
          width: 710px;
          height: 230px;
        }
      }
    }

    h4{
      padding-top:40px;
      font-size:18px;
    }
  }
}