@import "function.less";

.blocker{
  z-index: 10001 !important;
}

.pac-container{
  z-index: 10005 !important;
}

.modal{

  .title-smaller{
    font-size:22px;
  }

  .pen-icon{
    position: absolute;
    top:10px;
    left:25px;
  }

  textarea{
    padding: 10px 10px 10px 40px;
  }

  .location{
    position: relative;
    z-index: 100005;
    i{
      position: absolute;
      top:4px;
      margin-right: 0;
    }

    input{
      padding:6px 30px 6px 40px;
    }
  }

  .to-do-list{
    position: relative;

    i{
      position: absolute;
      top:7px;
      left: 9px;
      //margin-right: 0;
    }

    input{
      padding:6px 30px 6px 40px;
    }
  }
  //.modal-body{
  //  padding:0;
  //  height: 155px;
  //
  //  h4{
  //    position: absolute;
  //    z-index: 1;
  //    color: #ffffff;
  //    width: 100%;
  //    padding:15px 10px;
  //  }
  //}

  h6{
    font-size:14px;
  }
  //.modal-dialog{
  //  width:300px;
  //  overflow: hidden;
  //  margin:20% auto;
  //
  //  figure{
  //    height: 155px;
  //    overflow: hidden;
  //
  //    figcaption{
  //      position: absolute;
  //      bottom: 0;
  //      width: 100%;
  //      background-color: transparent;
  //    }
  //  }
  //}

  //a{
  //  color:#ffffff !important;
  //  &:hover{
  //    color:#ffffff;
  //  }
  //}

  //button{
  //  padding:3px 15px;
  //
  //  &:hover{
  //    color:#ffffff;
  //  }
  //}

  i{
    margin-right:10px;
  }

  .modal-bottom{
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: #f0f0f0;
    padding: 35px;
    left: 0;
    text-align: center;
  }
}

a.close-modal{
  display: none !important;
}

#goal-modal,#settings-modal,#story-modal{
  top:45px;
  width:530px;
  padding:0;

  .button-lg{
    margin-right:15px;
  }
}

#story-modal{
  .dropzone{
    .dz-message{
      h3{
        font-size:22px;
        margin: 10px 0;
        i{
          margin-right:0;
        }
      }
    }
  }

  .remove-icon{
    position: absolute;
    top:0;
    right:2px;
  }
}

  table{
    tbody{
      tr:first-child{
        td:first-child{
          -webkit-transform: rotate(-90deg);

          /* Firefox */
          -moz-transform: rotate(-90deg);

          /* IE */
          -ms-transform: rotate(-90deg);

          /* Opera */
          -o-transform: rotate(-90deg);

          /* Internet Explorer */
          filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
        }
      }
    }
  }
.priority{
  background-color: #f4f4f4;

  h5{
    -webkit-transform: rotate(-89deg);
    -moz-transform: rotate(-89deg);
    -o-transform: rotate(-89deg);
    writing-mode: lr-tb;
  }

  p{
    border-top:1px dotted #999999;
    padding:20px 0;
  }
}

.modal-top{
  position: relative;
  overflow: hidden;
  height:260px;

  figure{
    position: absolute;
    width: 100%;
    img{
      width: 100%;
    }
  }

  a{
    color:#ffffff;
    font-size:16px;

    span{
      margin-left:10px;
    }

    &:hover,&:focus{
      text-decoration: none;
    }
  }

  .delete-message{
    text-align:center;
    padding:55px 0 50px;
    position: absolute;
    display: block;
    width:100%;
    background-color: rgba(0, 0, 0, 0.85);
    h3{
      color:#ffffff;
      padding:0 0 40px 0;
      font-size:25px;
      line-height:40px;
      margin:0;
    }

    .btn{
      font-size:15px;
      padding:6px 12px;
      margin-right:20px;
      &:hover{
        border:1px solid #6108EA;
      }
    }
    .btn-purple{
      border:1px solid #7724F6;
    }

  }

  .forget{
    margin: 20px 30px 0 0;
    color:#cecece;
    display: inline-block;
    padding:5px 12px 0 0;
    font-size:18px;

    .trash-icon{
      margin: 0 5px 0 0;
    }

    &:hover{
      background-color: #7724F6;
      color:#ffffff;
      border:1px solid #6108EA;
      .trash-icon{
          background: url('../images/images.png') no-repeat -393px -1480px;
      }

      .delete-message{
        display:block;
      }
    }
  }



  h2{
    background-color: #021523;
    color:#ffffff;
    padding:10px;
    margin:110px 0 5px 30px;
    font-size: 32px;
    white-space: normal;
    word-wrap: break-word;
  }

  h1{
    padding:10px 40px;
    margin:25px 0 10px;
  }


  p{
    background-color: #021523;
    color:#ffffff;
    font-size:14px;
    padding:10px 40px;
    display: inline-block;
    margin:0 0 15px 30px;
  }

  ul{
    padding: 0 0 0 30px;
    li{
      display: inline-block;
      margin-right:20px;
    }
  }
}

#map-modal{
  border-radius: 0;
  padding:0;
  width:300px;
  figure{
    height: 155px;
    overflow: hidden;
    img{
      width:100%;
    }
  }
  h3{
    position: absolute;
    width: 100%;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    padding-left: 25px;
  }
  figcaption{
    position: absolute;
    width: 100%;
    bottom:-8px;
    text-align: center;
    background-color: transparent;

    a{
      color:#ffffff;
      margin: 0 20px;
      padding: 1px 10px 3px;
      i{
        margin-right:5px;
      }

      &:hover,&:focus{
        color:#7724F6;
        text-decoration: none;
        .cog-icon-white{
            background: url('../images/images.png') no-repeat -386px -484px;
        }
      }


    }
    a:nth-child(2),a:nth-child(3){
      border:1px solid #cecece;

      &:hover{
        background-color: #7724F6;
        border:1px solid #7724F6;
        color:#ffffff;
      }
    }
  }
}