@import "function.less";

#news-feed{
  padding:30px 0;

  .image{
    margin:20px 20px 20px 25px;
    float:left;


    img{
      width:50px;
      height:50px;
      margin:0 auto;
    }

  }

  h4{
    font-weight: bold;
    margin:25px 0 2px 0;
    span{
      color:#7d7d7d;
    }
  }
  #goalTitle{
    h3{
      position: absolute;
      color:#ffffff;
      padding:0 20px;
    }
    i.glyphicon-lock{
      position: absolute;
      right: 35px;
      color: #ffffff;
      top: 20px;
    }
  }

  figure{
    background-color: transparent;
    figcaption{
      margin-bottom:0;
    }
  }


}

.image{
  margin:20px 20px 20px 25px;
  float:left;


  img{
    width:50px;
    height:50px;
    margin:0 auto;
  }

}
.horizontal-menu{
  li{
    display: inline-block;
    border-right:1px solid #666666;
    padding:0 20px;

    span{
      display:block;
      color:#666666;

      &:last-child{
        font-size:18px;
        color:#666666;
      }
    }
    &:last-child{
      border:0;
    }
    &:hover{
      background-color: transparent;
    }
  }
}
