@import "function.less";

#news-feed,#goal-friends{
  padding:30px 0;
  margin-top:10px;
  .image{
    margin:0 20px 0 0;
    float:left;

    img{
      width:45px;
      height:45px;
      margin:0 auto;
    }

  }

  em{
    padding: 0 0 5px 15px;
    display: block;
    font-size: 16px;
  }

  hr{
    margin-top:10px;
  }

  .glyphicon-question-sign{
    font-size:20px;
    padding:0 10px;
  }
  h4{
    font-size:16px;
    font-weight: bold;
    padding:5px 0 2px 0;
    margin:0;
    span{
      color:#7d7d7d;
    }
  }

  a{
    font-size:13px;
  }

  .heading{
    font-size:16px;
    i{
      margin-right:8px;
    }

    &:hover{
      color: #666666;
    }
  }

  #goalTitle{
    h3{
      position: absolute;
      color:#ffffff;
      padding:0 20px;
    }
    i.glyphicon-lock{
      position: absolute;
      right: 35px;
      color: #ffffff;
      top: 20px;
    }
  }

  figure{
    background-color: transparent;
    &>a{
      display: block;
    }
    figcaption{
      margin-bottom:0;
    }
  }

  .right-block{
    figure{
      background-color: transparent;
      &>a{
        display: block;
        width: 280px;
        height:155px;
      }
      figcaption{
        bottom:-1px;
        a{
          span.glyphicon{
            border: 2px solid;
            padding: 2px 4px 4px;
          }
        }

      }
    }
  }

  .padding{
    padding:30px 20px 15px;
  }

  ol{
    padding:20px 50px;
    background-color: #e6e6e6;
    li{
      color:#7d7d7d;
      margin-bottom:10px;
      a{
        color:#666666;
        font-size:16px;

        i{
          margin-left:25px;
        }
        .glyphicon-question-sign{
          font-size:16px;
          padding:0;
        }
        &:hover{
          color:#666666;
        }
      }
    }
  }

  .list{
    padding-left:0;
    li{
      border-bottom:1px solid #cccccc;
      margin-bottom:10px;
      padding-bottom:10px;

      figure{
        margin:0 20px;
      }

      h4{
        padding-top:0;
        margin-top:5px;
      }
    }
  }

}

.comment-place{
  font-size: 17px;
  padding: 10px 30px;
  background-color: #f2f2f2;
  position: relative;
  margin-top:10px;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f2f2f2;
  position: absolute;
  top: -8px;
  left:14px;
}

.glyphicon-remove-circle{
  font-size:25px;
  top: 4px;
}
.horizontal-menu{
  padding:0 10px 0 0;
  li{
    display: inline-block;
    border-right:1px solid #666666;
    padding:0 20px 0 10px;

    strong{
      display:block;
      color:#666666;
      font-size:14px;
    }

    span{
      display:block;
      color:#7d7d7d;

      &:last-child{
        font-size:22px;
      }
    }
    &:last-child{
      border:0;
    }
    &:hover{
      background-color: transparent;
    }
  }
}

