@import "function.less";

#news-feed,#goal-friends{
  padding:30px 0;
  margin-top:10px;
  .image{
    margin:0 20px 0 0;
    float:left;

    a{
      height:auto;
    }
    img{
      width:45px;
      height:45px;
      margin:0 auto;
      border:2px solid #cecece;
    }

    .no-image{
      height: 45px;
      width: 45px;
      line-height: 40px;
    }

  }

  .image-goalfrinds{
    width:45px;
    height:45px;
    img{
      width:45px;
      height:45px;
      border:2px solid #cecece;
    }

    .no-image{
      height: 45px;
      line-height: 40px;
    }

  }

  em{
    padding: 0 0 5px 15px;
    display: block;
    font-size: 16px;
  }

  hr{
    margin-top:10px;
  }

  h3{
    font-size:22px;

    a{
      font-size:22px;
    }
  }
  h4{
    font-size:16px;
    font-weight: bold;
    padding:5px 0 2px 0;
    margin:0;

    a{
      font-size:16px;
    }

    span{
      color:#7d7d7d;
    }
  }

  .heading{
    font-size:16px;
    i{
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 27px;
    }

    &:hover{
      color: #666666;
    }
  }

  .goalfriends-icon{
    background: url('../images/images.png') no-repeat -6px -868px;
  }

  .mylist{
    background: url('../images/images.png') no-repeat -6px -910px;
  }

  #goalTitle{

    height:260px;
    width:100%;

    h3{
      position: absolute;
      color:#ffffff;
      padding:0 20px;
    }
    i.lock-icon{
      position: absolute;
      right: 35px;
      color: #ffffff;
      top: 20px;
    }
  }

  figure{
    background-color: transparent;
    position: relative;
    &>a{
      display: block;
    }
    figcaption{
      margin-bottom:0;
    }
  }

  .right-block{
    //li{
    //  a{
    //    &:hover{
    //      color: #7724F6;
    //    }
    //  }
    //}
    figure{
      background-color: transparent;
      &>a{
        display: block;
        width: 280px;
        height:155px !important;
      }

      figcaption{
        bottom:-1px;
      }
    }
  }

  .padding{
    padding:30px 20px 15px;
  }

  ol{
    padding:20px 50px;
    background-color: #e6e6e6;
    li{
      color:#7d7d7d;
      clear: both;
      a{
        color:#666666;
        font-size:16px;

        i{
          margin-left:25px;
        }
        i.question-icon{
         float:right;
        }
        &:hover{
          color:#666666;
        }
      }
    }
  }

  .list{
    padding-left:0;
    li{
      border-bottom:1px solid #cccccc;
      margin-bottom:10px;
      padding-bottom:10px;

      figure{
        margin:0 20px;
      }

      .image{
        float:left;
      }

      h4{
        padding-top:0;
        margin-top:5px;
      }

      a{
        font-size:13px;
      }
    }
  }
}

.news-footer{
  strong{
    display: block;
    padding:11px;
    color:#a3a3a3;
    font-weight:normal;
    font-size:14px;

    span{
      margin-right:10px;
      font-size:20px;
      vertical-align: top;
    }
  }

  .transparent{
    &:hover{
      background-color: transparent;
      a,bdi {
        color: #a4a4a4;
      }
    }
  }
}

.comment-place{
  font-size: 17px;
  padding: 10px 30px;
  background-color: #f2f2f2;
  position: relative;
  margin-top:10px;
  color:#4a4a4a;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f2f2f2;
  position: absolute;
  top: -8px;
  left:14px;
}

.horizontal-menu{
  padding:0 10px 0 0;
  li{
    display: inline-block;
    border-right:1px solid #666666;
    padding:0 20px 0 10px;

    strong{
      display:block;
      color:#666666;
      font-size:14px;
    }

    span{
      display:block;
      color:#7d7d7d;

      &:last-child{
        font-size:22px;
      }
    }
    &:last-child{
      border:0;
    }
    &:hover{
      background-color: transparent;
    }
  }
}

