@import "function.less";

.notice{
  position: relative;
  height: 500px;

  &>div{
    position: absolute;
    top:50%;
    width: 100%;
    transform: translateY(-50%);
  }

  .btn-purple{
    margin-top:10px;
  }

  h4{
    line-height: 25px;
  }

}
