@import "function.less";

.content-header{
  position: relative;
  overflow: hidden;

  &>figure{
    position: absolute;
    width: 100%;
    height:274px;
    overflow:hidden;

    img{
      width: 100%;
      .blur;
    }
  }

  .overlay{
    background: rgba(0, 0, 0, 0.6);
    height:275px;

    &:hover{
      background: rgba(0, 0, 0, 0.8);
    }
  }

  a{
    color:#ffffff;

    span{
      margin-left:10px;
    }

    &:hover,&:focus{
      text-decoration: none;
    }
  }

  h2{
    background-color: #021523;
    color:#ffffff;
    padding:10px 40px;
    margin:100px 0 5px;
  }

  h1{
    padding:10px 40px;
    margin:25px 0 10px;
  }


  p{
    background-color: #021523;
    color:#ffffff;
    padding:10px 40px;
    display: inline-block;
    margin-bottom:15px;
  }
}

.profile{
  margin-top:10px;
  padding:20px 0 0 0;
  background-color: #f4f4f4;

  figure{
    background-color: rgba(207, 207, 207, 0.54);
    text-align: center;
    position:relative;
    padding:20px 0 5px;

    div{
      width:140px;
      height:140px;
      margin:0 auto;
      overflow:hidden;
    }

    span.profile-image{
      display: block;
      width:138px;
      height:140px;
      font-size:52px;
      font-weight:600;
      line-height:130px;
      color:#ffffff;
    }

    img{
      height:140px;
    }

    .profile-no0{
      background: url('../images/profile-no-image.png') no-repeat -2px 0;
    }
    .profile-no1{
      background: url('../images/profile-no-image.png') no-repeat -165px 0;
    }
    .profile-no2{
      background: url('../images/profile-no-image.png') no-repeat -329px 0;
    }
    .profile-no3{
      background: url('../images/profile-no-image.png') no-repeat -493px 0;
    }
    .profile-no4{
      background: url('../images/profile-no-image.png') no-repeat -657px 0;
    }

    figcaption{
      margin-top:11px;
      background-color: transparent;

      li{
        display: inline-block;
        border-right:1px solid #999999;
        padding:0 20px;

        span{
          display:block;
          color:#999999;

          &:last-child{
            font-size:18px;
            color:#666666;
          }
        }
        &:last-child{
          border:0;
        }
        &:hover{
          background-color: transparent;
        }
      }
    }

  }

  ol{
    padding:40px 40px 30px;
    font-size:16px;

    li{
      margin-bottom:15px;

      a{
        color:#666666;
        font-size:16px;
      }

      span{
        display: block;
        font-size:14px;
        font-weight: 600;
      }
    }

  }

  h1{
    font-size:45px;
    padding:10px 25px;
  }

  h1.title-smaller{
    font-size:27px;
  }

  i{
    color:#ffffff;
  }

}

.bucketlist{
  padding:20px 0 10px;
  background-color: #ffffff;

  ul{
    padding-left:0;
    margin-bottom:1px;

    li{
      display: inline-block;
      padding:10px 15px;
      font-size:15px;
      a{
        color:#666666;
        font-size:22px;
        line-height: 33px;

        &:hover,&:focus{
          text-decoration: none;
          color:#7725f6;
        }

      }

      &:hover{
        a{
          color:#7724F6;
        }
      }

      &:last-child:hover{
        border-bottom:0;
      }
    }
    .active{
      border-bottom:1px solid #7725f6;
      a{
        color:#7725f6;
      }
    }
  }

  hr{
    margin: -2px 0 7px;
  }

  .mail-print{
    text-align:right;
    a{
      display:inline-block;

      &:hover{
        text-decoration:none;
      }
    }
  }

  form{
    padding:20px 0 10px;
    label:first-child{
      padding-left:0;
    }

    .checked-label{
      color: #6108EA;
    }

    label{
      &:hover,&:active,&:focus{
        color: #6108EA;
      }
    }

    .icheckbox_square-purple{
      background: url('../images/checkbox.png') no-repeat 0 0;

      &:hover{
        background: url('../images/checkbox.png') no-repeat -26px 0;
      }
    }
    .checked{
      background: url('../images/checkbox.png') no-repeat -52px 0 !important;
    }
  }
}