@import "function.less";
@import "variables.less";

body, html{
  height:100%;
}

body{
  padding-top: 75px;
  background-color: #f2f2f2;
}

#mainframe{
  position: relative;
  min-height:100%;
}

#wrap{
  position: relative;
  padding-bottom: 300px;
}
input.form-control:focus,textarea.form-control:focus{
  border-color: #7725f6;
  box-shadow: none;
}
header{
  #line{
    height:4px;
    background: url('../images/line.jpg');
  }
  .navbar{
    min-height:75px;
  }
  .navbar-default {
    background: #021421;


    .navbar-nav{
      li{
        a{
          padding-top:25px;
          padding-bottom:23px;
          color: #e3e3e3;

          &:hover{
            background-color: #7627f5;
            color: #e3e3e3;
          }

          &:focus{
            outline:none;
            color: #e3e3e3;
          }
        }
      }

      .active a{
        background-color: #7627f5;
        color: #e3e3e3;

        &:hover{
          background-color: #7627f5;
          color: #e3e3e3;
        }
      }
      //.glyphicon-search {
      //  padding-right: 5px;
      //  font-size: 19px;
      //  top:5px;
      //  height:30px;
      //}

      .ideas-icon{
        display:inline-block;
        background: url('../images/ideas.png') no-repeat center center;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        padding-right: 11px;
        margin-right: 5px;
      }
      .join{
        display:inline-block;
        background: url('../images/join.png') no-repeat center center;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        padding-right: 11px;
        margin-right: 5px;
      }


      li {
        border-left: 1px solid #1a394a;
      }

      .search{
        width:240px;
        form{
          width:100%;
          //padding:11px 35px;
        }
        input{
          width:100%;
          border:0;
          color:#ffffff;
          background: url('../images/search-icon.png') no-repeat 18px center transparent;
          padding-left:50px;
        }
      }
    }
    .navbar-right{
      li{
        a{
          padding-top:22px;
          padding-bottom:23px;

          &:hover{
            background-color: transparent;
            color: #e3e3e3;
          }
        }
        .user{
          display: block;
          padding: 15px 5px 15px 15px;
          figure{
            background-color: transparent;
            width:50px;
            height:50px;
            overflow: hidden;
            float:left;
            margin: 0 10px 0 0;
          }
          span{
            float:left;
            margin-top:6px;
          }
          span:last-child{
            border: 2px solid;
            padding: 4px;
            display: inline-block;
            margin: 13px 0 5px 10px;
            .rounded-corners;
          }
          span.glyphicon-chevron-up{
            margin-top:13px;
          }
          span.glyphicon-chevron-down{
            padding: 3px 4px;
          }
        }
        .user-menu{
          padding-left:0;
          min-width: 150px;
          li{
            padding:10px;
            border-left:0;
            a{
              padding:10px 15px;
              color: #021421;
              i{
                margin-right:10px;
              }
            }
          }
        }

        .join-class {
          min-width:260px;
          background-color: #2b2b2b;
          color:#e3e3e3;
          &:hover{
            background-color: #2b2b2b;
          }
        }
        .popover{
          padding:0;
          border-radius: 0;
          border:0;
        }
        .popover-content{
          padding:0;
        }
      }
    }
  }
}

label{
  color:#a4a4a4;
}

#signin{
    text-align: center;
    min-width: 319px;
    background-color: #2b2b2b;
    padding: 20px 15px;

    a{
      display: block;
      padding:10px 0;
      border-top:1px solid #021421;
      border-bottom:1px solid #021421;
      &:hover {
        background-color: transparent;
      }
      span{
        padding-right:10px;
      }
    }

    form{
      a{
        padding:0 0 10px 0;
        border:0;
      }
    }

    h4{
      color:#ffffff;
    }
    .social{
        padding-left:50px;
        li{
          margin-top:9px;
          a{
            padding:0;
            display: block;
            height:36px;
            border:0;
          }

          .facebook{
            background: url('../images/social.png') no-repeat 0 0;
          }

          .twitter{
            background: url('../images/social.png') no-repeat 0 -44px;
          }

          .google{
            background: url('../images/social.png') no-repeat 0 -88px;
          }
        }
      }
    }

.content-top{
  background-color: #ffffff;
  //padding:10px 0 0;

  a{
    color:#a4a4a4;
    display: block;
    font-size:18px;
    padding:20px 0 15px;
    .glyphicon-chevron-down{
      padding:3px 4px;
    }
  }

  h3{
    padding-top: 12px;
  }

  h3{
    span{
      display: inline-block;
      width:35px;
      height:35px;
      vertical-align: middle;
    }
    .input{
      background: url('../images/publish-icon.png') no-repeat 0 0;
    }
    .input-checked{
      background: url('../images/publish-icon.png') no-repeat -45px 0;
    }
  }

  .no-bg{
    //background-color: transparent;
    border:0;
    font-size:18px;
    padding:20px 0 15px;
    outline:none;

    &:hover,&:focus{
      outline:none;
      border:0;
      background-color: transparent;
    }
  }

  .buttons{
    margin:40px 0;
    button,a{
      margin-left:10px;
      padding:6px 12px;
      display: inline-block;
      &:first-child{
        border:1px solid #a4a4a4;
        color:#a4a4a4;
      }
    }
  }
}

ul.filter{
  padding:15px 0 0;
  li{
    padding: 7px 25px 5px;
    a{
      color:#3b3b3b;
      display: block;
      vertical-align: middle;
      span{
        padding-right:10px;
        font-size:20px;
        vertical-align: middle;
      }
      &:hover{
        text-decoration: none;
      }
    }
    &:hover{
      background-color: #7725f6;

      a{
        color:#ffffff;
      }
    }
  }
}

.glyphicon-chevron-up,.glyphicon-chevron-down,.glyphicon-chevron-right,.glyphicon-chevron-left{
  border: 2px solid;
  padding: 2px 4px 4px;
  display: inline-block;
  margin: 0 0 0 10px;
  .rounded-corners;
  font-size:10px;
  top:-2px;
}

.goals{
  padding-bottom:20px;
  margin:30px 0;
  background-color: #ffffff;

  .title{
    background-color: #e6e6e6;
    color:#afafaf;
    padding: 10px 20px;
    border: 0;
    font-size: 20px;
    border-radius: 0;
  }

  .form-group{
    p{
      font-size: 16px;
    }
  }
  .tags{
    margin:10px 0;
    button{
      padding: 5px 25px;
      margin-right:10px;
    }
  }

  textarea{
    resize: none;
  }

  figure{
    margin:0 0 20px 0;
  }
}

.goal-container{
  min-height:1000px;
  height:auto !important;
  height:1000px;
  background-color: #000000;

  img{
    position: absolute;
  }
}
.goal-end{
  background-color: #ffffff;
  padding:10px 20px 0;
  .rounded-corners(6px);
  margin-bottom: 50px;


  h4{
    color:#3d3d3d;
    text-align: center;
  }

  .purple{
    font-size:18px;
  }
  form{
    padding-bottom:10px;
  }
}

.no-marginb{
  margin-bottom:0;
}

.text-left{
  text-align: left !important;
}

.homepage,.goals-end{
  width:100%;
  position: absolute;
  top:35px;
  color:#ffffff;
  h1{
    color:#ffffff;
  }

  h4{
    padding:0 20px;
    line-height:25px;
  }

  .btn-purple{
    margin:15px 0 10px;
  }

  .gol-end{
    .btn-purple{
      margin:10px 0 20px;
    }
  }
}
.goals-end{
  position: relative;
}

.apps{
  padding-left:0;
  width:222px;
  margin: 0 auto;
  li{
    float:left;
    padding:5px;
    a{
      width:101px;
      height:35px;
      display: block;
    }
  }
  .app-store{
    background: url('../images/icons.png') no-repeat 0 0;
  }

  .google-play{
    background: url('../images/icons.png') no-repeat -104px 0;
  }
}

.purple{
  color:#7627f5 !important;
}

.users{
  li{
    position: absolute;
    top:0;
    figure{
      width:50px;
      height:50px;
      background-color: transparent;
    }
    img{
      border:2px solid;
    }
  }
}
.btn-purple{
  background-color:#7725f6;
  color:#ffffff;
  padding:10px 35px;

  &:hover, &:focus{
    color:#ffffff;
    outline:none;
    background-color:#6009EA;
  }
}

h1{
  color:#021523;
  font-size: 19px;
}

ul li{list-style: none;}

.margin-top{
  margin-top:10px;
}

.signup{

  .form-group{
    margin-bottom:10px;
    div{
      margin-bottom:5px;
    }
    p{
      font-size: 17px;
      a{
        font-size: 14px;
      }
    }
  }

}

.upload{
  width:100px;
  height:100px;
  margin:0 auto;
  .rounded-corners;
  background-color: #ffffff;
  border:3px solid #ebebeb;
  color:#a3a3a3;
  padding:28px 18px;
  display: block;
  cursor:pointer;
  margin-bottom:9px;
}

p{
  color:#a3a3a3;
}

input{
  color:#a3a3a3;
}

.atm-f{
  height:auto !important;
}

figure{
  background-color: #cfcfcf;
    a{
      display: block;
      height:260px;
      overflow: hidden;

      img{
        width:100%;
      }
    }

    .height{
      height:580px;
    }

  figcaption{
    background-color: #ffffff;
    overflow-x: hidden;
    margin-bottom:20px;

    ul{
      padding-left:0;
      margin-bottom:0;
      li{
        text-align: center;
        border-right:1px solid #f0f0f0;
        a{
          color:#7d7d7d;
          display: block;
          padding: 10px 0;
          height:auto;
          span{
            padding-right: 10px;
          }

        }
        &:last-child{
          border-right:0;
        }
        &:hover{
          background-color: #e3e3e3;
          a{
            color:#7d7d7d;

            &:hover{
              color:#7d7d7d;
              text-decoration: none;

            }
          }
        }

        &:focus,&:active{
          background-color: #e3e3e3;
          a{
            color:#ffffff;
          }
        }

      }
    }
  }
}

.dropzone{
  margin:40px 0;
}
.inner-container{
  background-color: #d8d8d8;
  padding-bottom: 30px;

  q{
    display: block;
    padding:25px 0;
    color:#ffffff;
    font-size:17px;
    text-align: justify;
    word-break: break-all;
  }
  cite{
    display:block;
    margin-bottom:10px;
    color:#ffffff;
  }

  .goal-image{
    position: absolute;
    width:100%;
    img{
      width:100%;
    }
  }

  h2{
    background-color: #021523;
    color:#ffffff;
    padding:10px 40px;
    margin-bottom:20px;
  }

  .inner-content{
    background-color: #ffffff;
    overflow: hidden;

    .goal-information{
      position: fixed;
      width: 277px;
      overflow: hidden;
      margin-left: -15px;
      background-color: #ffffff;
      ul:last-child{
        padding-left:10px;
        &>li{
          border-bottom:1px solid #a4a4a4;
          padding-top:10px;
          padding-bottom:10px;
          color:#a4a4a4;
          ul{
            li{
              display: inline-block;
              border-bottom:0;
              padding-bottom:0;

              &first-child{
                span{
                 display: block;
                  font-size: 15px;
                }
              }
              
              &:last-child{
                a{
                  background: url('../images/arrow-right.png') no-repeat center center;
                  display: block;
                  width:49px;
                  height:48px;
                }
              }
            }
          }
        }
      }
    }

    .goal-links {
      padding-left:0;
      margin-bottom:0;

      li {
        text-align: center;
        a {
          display: block;
          color: #a4a4a4;
          padding: 10px 0;

          span{
            border: 2px solid;
            padding: 3px 5px 4px;
            display: inline-block;
            margin: 0 5px 0 0;
            .rounded-corners;
          }
        }
        &:hover {
          background-color: #e3e3e3;
        }
        &:last-child{
          border-left:1px solid #a4a4a4;
        }
      }
    }
  }

  .inner{
    padding:10px 20px;
  }

  h4{
    color:#a4a4a4;
  }
}

.navigation{
  a{
    color:#021421;
    &:hover{
      text-decoration: none;
    }
  }
  span{
    padding:2px 6px;
    margin: 0 5px 0 0;
    background-color: #cccccc;
    color:#021421;
  }
  span.current{
    background-color: #7725f6;
    color:#ffffff;
  }
}

.email{
  margin-top: 19px;
  background: transparent;
  text-align:center;
}

footer{
  width:100%;
  position: absolute;
  bottom: 0;
  height:300px;
  background-color: #021523;
  color:#ffffff;

  small{
    display: block;
    padding: 15px 0;
  }

  ul{
    padding:10px 0;
    text-align: center;
    li{
      list-style: none;
      padding: 5px 25px;
      a{
        color:#ffffff;
        text-transform: uppercase;

        &:hover{
          color:#7725f6;
        }
      }
    }
  }

  .footer-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #000000;

    ul{
      padding:0;
      a{
        padding-top: 19px;
        display: inline-block;
        font-size: 13px;
        text-transform: capitalize;
      }
    }
  }
}

#fos_comment_thread{

  #fos_comment_comment_body{
    height:250px;
    background-color: #f4f4f4;
    width:100%;
    resize: none;
  }
  .fos_comment_submit{
      input{
        background-color:#7725f6;
        color:#ffffff;
        padding:10px 35px;
        border:0;

        &:hover, &:focus{
          color:#ffffff;
          outline:none;
          background-color:#6009EA;
        }
      }
  }
  .fos_comment_comment_reply{
    button{
      background-color:#7725f6;
      color:#ffffff;
      padding:10px 35px;
      border:0;

      &:hover, &:focus{
        color:#ffffff;
        outline:none;
        background-color:#6009EA;
      }
    }
  }
}

#datepicker{
  margin-bottom:15px;
  .datepicker-inline{
    margin:0 auto;
    .table-condensed{
      thead{
        background-color: #7627f5;
        tr{
          th{
            border-radius: 0;
            color:#ffffff;
            &:hover{
              background-color: #7627f5;
            }
          }
          &:last-child{
            border-top:3px solid #ffffff;
          }
        }

      }
      tbody{
        td{
          border-radius: 0;
          background-color: #f4f4f4;
          border: 2px solid #ffffff;
          color:#a3a3a3;
          &:first-child{
            border-left:0;
          }
          &:last-child{
            border-right:0;
          }
        }
        .active{
          background: #7627f5;
          color:#ffffff;
        }
      }
    }
  }
}
.addthis_native_toolbox{
  .addthis_counter.addthis_pill_style{
    height:auto;
  }
}

.view-content{
  background: url('../images/view.jpg') no-repeat center top;
  background-size: 99%;
  margin: 0 0 20px 0;


  div{
    overflow-x: hidden;
  }
}

@media (min-width: @screen-sm) {

  h1,h2{
    font-size:36px;
  }

  .search{
    form{
      width:100%;
      padding:14px 0;
    }
  }

  h2{
    padding: 31px 0 34px;
    margin: 0;
  }

  .margin-top{
    margin-top:40px;
  }

  #signin{
    min-width:260px;
    overflow: hidden;
    .social{
      padding-left:20px;
    }
    .text-danger{
      margin-bottom:10px;
    }
  }

  .signup{

    h1{
      font-size:36px;
      margin:20px 20px 30px;
    }

    .form-group{
      p{
        padding-top:13px;
        font-size: 19px;
        margin-bottom:20px;
        a{
          font-size: 18px;
        }
      }
    }
  }
  .homepage,.goals-end{
    .btn-purple{
      margin:33px 0 17px;
    }
  }
  .goal-container{
    min-height:900px;
    height:auto !important;
    height:900px;
  }

  .goal-end{
    margin-bottom:60px;
    textarea{
      resize: none;
    }
    label{
      font-size:20px;
      padding-top:3px !important;
      font-weight:normal;
    }

    label.onoffswitch-label{
      padding-top:0 !important;
    }

    .onoffswitch{
      .onoffswitch-switch{
        width:33px;
      }
    }
  }

  .goals{
    .title{
      padding:30px 40px;
      font-size: 25px;
    }
    h3.title{
      padding: 17px 40px;
    }
  }

  .inner-container{
    .goal-image{
      img{
        height:720px;
      }
    }
  }

  footer{
    ul{
      padding:60px 0 0;
      li{
        display: inline-block;
      }
    }
    .apps{
      padding:30px 0 60px;
    }
    small{
      clear:both;
      a{
        float:right;
      }
    }
  }
}

@media (min-width: @screen-md) {
  header {
    .navbar-default{
      border:0;
      .navbar-nav{
        .search{ width:600px;}
      }
    }
  }

  h1,h2{
    font-size:52px;
  }

  h2{
    padding: 62px 0 68px;
    margin: 0;
  }

  .signup{
    h1{
      font-size:52px;
      margin:60px 0;
    }

    .no-padding{
      div:first-child{
        padding-right:0;
        input{
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      div:last-child{
        padding-left:0;
        input{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  .video{
    height:700px;
    overflow: hidden;

    video{
      margin-top:-164px;
    }

  }
  .homepage{
    top:177px;
    h1{
      padding-bottom:46px;
    }

    .btn-purple{
      margin:63px 0 34px;
    }
  }

  .goals-end{
    top:74px;

    h2{
      padding-bottom:40px;
    }
  }

  .goal-container{
    min-height:1025px;
    height:auto !important;
    height:1025px;
  }

  .goal-end{
    margin-bottom:100px;
  }
  .goals{
    .margin-top{
      margin-top:30px;
    }
  }



  footer{
    small{
      padding: 25px 30px;
    }
  }
}


