@import "../../../app/bower_components/bootstrap/less/variables.less";
@import "function.less";

body, html{
  height:100%;
}

body{
  padding-top:80px;
  background-color: #f4f4f4;
}

#mainframe{
  position: relative;
  min-height:100%;
  font-family: 'Open Sans', sans-serif;
}

#wrap{
  position: relative;
  padding-bottom: 300px;
}

input.form-control:focus,textarea.form-control:focus,select.form-control:focus{
  border-color: #7724F6;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
}

a{
  font-family: 'Open Sans', sans-serif;

  &:hover{
    text-decoration: none;
    color: #7724F6;
  }

  &:focus{
    outline: none;
  }
}

.btn{
  outline:0;
  .rounded-corners(7px);
  &:hover,&:focus{
    outline:0;
  }
}

h1,h2,h3,h4,h5,h5,p,select,button,input{
  font-family: 'Open Sans', sans-serif;
}

textarea{
  resize: none;
  font-family: 'Open Sans', sans-serif;
}

select.form-control{
  color: #A4A4A4;
}

input.form-control::-webkit-input-placeholder {
  color: #A4A4A4;
  font-family: 'Open Sans', sans-serif;
}

:-moz-placeholder { /* Firefox 18- */
  color: #A4A4A4;
  font-family: 'Open Sans', sans-serif;
}

::-moz-placeholder {  /* Firefox 19+ */
  color: #A4A4A4;
  font-family: 'Open Sans', sans-serif;
}

:-ms-input-placeholder {
  color: #A4A4A4;
  font-family: 'Open Sans', sans-serif;
}

header{

  #line{
    height:4px;
    background: red;
    background: -webkit-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: -o-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: -moz-linear-gradient(left,#ffa600,#de451b,#1b54cf,#00824c);
    background: linear-gradient(to right,#ffa600,#de451b,#1b54cf,#00824c);
  }
  .navbar{
    min-height:80px;
  }

  .navbar-brand{
    padding:21px 15px;
    height:83px;
  }

  .navbar-default {
    background: #021523;
    z-index: 10000;

    .navbar-nav{
      li{
        a{
          color: #E5E5E5;
          font-weight: bold;

          i{
            display:inline-block;
            width: 30px;
            height: 35px;
            vertical-align: middle;
            margin-right: 7px;
          }

          &:hover{
            background-color: #7724F6;
            color: #E5E5E5;
          }

          &:focus{
            outline:none;
            color: #E5E5E5;
          }
        }
      }

      .active a{
        background-color: #7627f5;
        color: #E5E5E5;

        &:hover{
          background-color: #7627f5;
          color: #E5E5E5;
        }
      }

      .activity-icon{
        background: url('../images/images.png') no-repeat -3px -9px;
      }

      .ideas-icon{
        background: url('../images/images.png') no-repeat -3px -64px;
      }

      .join{
        background: url('../images/images.png') no-repeat -3px -172px;
      }

      li {
        border-left: 1px solid #4421AB;
      }

      .search{
        input{
          border:0;
          color:#A4A4A4;
          background: url('../images/images.png') no-repeat 0px -1510px;
          padding-left:50px;
        }
      }
    }
    .navbar-right{
      li{
        width:234px;
        a{
          padding-top:22px;
          padding-bottom:23px;
        }
        .user{
          display: block;
          padding: 18px 5px 15px 15px;
          position: relative;
          figure{
            background-color: transparent;
            width:50px;
            height:50px;
            overflow: hidden;
            float:left;
            margin: 0 10px 0 0;
            border: 2px solid #cecece;
            img{
              height:50px;
            }
          }

          p{
            float: left;
            width:46px;
            height:45px;
            line-height: 41px;
            vertical-align: middle;
            margin:5px 5px 0 5px;
            font-size:14px;
            font-weight:600;
            //.rounded-corners;
            //border:2px solid #cecece;
          }

          span{
            float:left;
            margin-top:6px;
            display: inline-block;
            text-align: left;
          }

          .menu-down{
            height: 35px;
            width: 32px;
            position: absolute;
            right: 10px;
            background: url('../images/images.png') no-repeat -6px -1054px;
          }
          .menu-up{
            height: 35px;
            width: 32px;
            position: absolute;
            right: 10px;
            background: url('../images/images.png') no-repeat -6px -1088px;
          }

          &:active,&:focus {
            background: #2b2b2b;
          }
        }

        .user-menu{
          background-color: #2b2b2b;
          padding-left:0;
          min-width: 150px;
          li{
            border-left:0;
            a{
              display: block;
              padding:10px 20px;
              font-size:14px;
              font-weight:500;
              color:#ffffff;

              i{
                margin-right:10px;
                display: inline-block;
                width:30px;
                height:30px;
              }

              &:hover{
                text-decoration: underline;
                background-color: transparent;
              }
            }

            &:nth-child(2){
              i{
                background: url('../images/images.png') no-repeat -6px -1155px;
              }
            }

            &:nth-child(4){
              i{
                background: url('../images/images.png') no-repeat -6px -450px;
              }
            }

            &:nth-child(6){
              i{
                background: url('../images/images.png') no-repeat -6px -1190px;
              }
            }

            &:nth-child(8){
              i{
                background: url('../images/images.png') no-repeat -6px -1224px;
              }
            }
          }
        }

        .join-class {
          min-width:235px;
          background-color: #2b2b2b;
          color:#e3e3e3;
          &:hover{
            background-color: #2b2b2b;
          }
        }
        .popover{
          padding:0;
          border-radius: 0;
          border:0;
          outline:0;
        }
        .popover-content{
          padding:0;

          a{
            font-size:14px;
          }
        }
      }
    }
  }
}

label{
  color:#a4a4a4;
}

.divider{
  height: 2px;
  width: 235px;
  background: url('../images/divider.png') no-repeat center top;
}
.arrow-left{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right:10px solid #f4f4f4;
}

.fos_comment_comment_authorname,.fos_comment_comment_new_form{
  position:relative;
  background-color:#f4f4f4;
  padding: 15px 15px 20px;
  display: block;
  margin-bottom: 15px;

  i{
    position:absolute;
    left:-8px;
  }

  textarea{
    height:auto !important;
    border:0 ;
  }

  p{
    margin:0 ;
    padding:0 !important;
    font-weight: 600;
    color:#666666;
    white-space: normal;
  }

  span{
    color:#999999;
    font-size: 13px;
  }
}

.no-image{
  border:2px solid #cecece;
  text-align: center;
  .rounded-corners;
  color:#ffffff;
}

.user-no0{
  //background: url('../images/user-no-image.png') no-repeat 0 0;

  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, red, yellow); /* Standard syntax */
}
.user-no1{
  //background: url('../images/user-no-image.png') no-repeat -55px 0;

  background: #FF3300; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #FF3300, #33CCCC); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #FF3300, #33CCCC); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #FF3300, #33CCCC); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #FF3300, #33CCCC); /* Standard syntax */
}
.user-no2{
  //background: url('../images/user-no-image.png') no-repeat -110px 0;

  background: #bfff00; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #bfff00, #e60000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #bfff00, #e60000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #bfff00, #e60000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #bfff00, #e60000); /* Standard syntax */
}
.user-no3{
  //background: url('../images/user-no-image.png') no-repeat -165px 0;

  background: #ffff1a; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #ffff1a, #1ac6ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #ffff1a, #1ac6ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #ffff1a, #1ac6ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #ffff1a, #1ac6ff); /* Standard syntax */
}
.user-no4{
  //background: url('../images/user-no-image.png') no-repeat -220px 0;

  background: #7724F6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, #7724F6, #66ffff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, #7724F6, #66ffff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, #7724F6, #66ffff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, #7724F6, #66ffff); /* Standard syntax */
}

#signin{
    text-align: center;
    min-width:235px;
    background-color: #2b2b2b;
    padding-bottom: 10px;

    a{
      display: block;
      padding:10px 0;
      &:hover {
        background-color: transparent;

      }
      span{
        padding-right:10px;
      }
    }

    form{
      padding: 10px 20px 20px;

      .form-group{
        margin-bottom: 10px;

        input{
          color:#999999;
        }
      }

      a{
        padding:0 0 16px 0;
        border:0;
        font-weight: 500;

        &:hover{
          text-decoration: underline;
        }
      }

      .btn-purple{
        font-weight:bold;
        width: 152px;
        margin: 0 auto;
      }
      .error-message{
        font-size:14px;
        font-weight:500;
      }
    }

    .sign-up{
      padding:12px 0;

      span{
        display: inline-block;
        height: 32px;
        width:30px;
        background: url('../images/images.png') no-repeat -5px -233px;
        vertical-align: middle;
        margin-right:7px;
      }

      &:hover{
        background-color:#7724F6;
      }
    }
    h4{
      color:#ffffff;
      font-size:14px;
      padding:20px 0;
      font-weight: 500;
    }
    .social{
        padding-left:0;
        li{
          margin-top:5px;
          border-left:0;
          a{
            padding:0;
            display: block;
            height:40px;
            border:0;
            width:157px;
            margin:0 auto;
          }

          .facebook{
            background: url('../images/images.png') no-repeat -11px -1360px;
          }

          .twitter{
            background: url('../images/images.png') no-repeat -11px -1404px;
          }

          .google{
            background: url('../images/images.png') no-repeat -11px -1448px;
          }
        }

      }
    }

ul.filter{
  padding: 10px 0 0 0;

  li{
    padding: 8px 21px 5px;

    a{
      color:#666666;
      display: block;
      vertical-align: middle;

      span{
        display: inline-block;
        margin-right:10px;
        vertical-align: middle;
      }
      &:hover{
        text-decoration: none;
      }
    }
    &:hover{
      background-color: #7725f6;

      a{
        color:#ffffff;
      }
    }
  }
}

.open-form-modal{
  padding-top:12px;
}

.icon{
  display: inline-block;
  width: 28px;
  height:28px;
  vertical-align: middle;
  margin-right: 2px;
}

.quotel-icon{
  background: url('../images/images.png') no-repeat -403px -1253px;
}

.quoter-icon{
  background: url('../images/images.png') no-repeat -402px -1292px;
  bottom:-30px;
  right: -32px;
}

.dreaming-icon{
  background: url('../images/images.png') no-repeat -21px -1563px;
  width:40px;
}

.drag-icon{
  width: 40px;
  background: url('../images/images.png') no-repeat -380px -8px;
}
.trash-icon{
  background: url('../images/images.png') no-repeat -393px -1447px;
}
.trash-circle-icon{
  background: url('../images/images.png') no-repeat -22px -1606px;
}
.cog-circle-icon{
  background: url('../images/images.png') no-repeat -22px -1647px;
}
.print-icon{
  width:50px;
  height:50px;
  background: url('../images/images.png') no-repeat -394px -896px;

  &:hover{
    background: url('../images/images.png') no-repeat -394px -960px;
  }
}

.envelope-icon{
  width:50px;
  height:50px;
  background: url('../images/images.png') no-repeat -396px -1030px;

  &:hover{
    background: url('../images/images.png') no-repeat -394px -1094px;
  }
}

.ok-icon-green{
  background: url('../images/images.png') no-repeat -378px -540px;
}

.ok-icon-white{
  width:18px;
  background: url('../images/images.png') no-repeat -386px -512px;
}
.eye-icon{
  background: url('../images/images.png') no-repeat -386px -678px;
}

.pen-icon{
  width: 25px;
  background: url('../images/images.png') no-repeat -386px -642px;
}

.list-icon{
  background: url('../images/images.png') no-repeat -386px -603px;
}

.off-icon{
  background: url('../images/images.png') no-repeat -386px -720px;
}

.cog-icon{
  background: url('../images/images.png') no-repeat -386px -458px;

  &:hover{
    background: url('../images/images.png') no-repeat -386px -484px;
  }
}

.cog-icon-white{
  width:18px;
  background: url('../images/images.png') no-repeat -386px -433px;

  &:hover{
    background: url('../images/images.png') no-repeat -386px -484px;
  }
}

.icon-cog{
  width:50px;
  height:50px;
  background: url('../images/images.png') no-repeat -402px -1382px;
}

.lock-icon{
  background: url('../images/images.png') no-repeat -386px -758px;
}

.plus-icon{
  background: url('../images/images.png') no-repeat -7px -451px;

  &:hover{
    background: url('../images/images.png') no-repeat -7px -496px;
  }
}

.plus-icon-green{
  background: url('../images/images.png') no-repeat -7px -533px;

  //&:hover{
  //  background: url('../images/images.png') no-repeat -7px -496px;
  //}
}


.remove-icon{
  background: url('../images/images.png') no-repeat -379px -223px;
}

.up-icon{
  cursor:pointer;
  background: url('../images/images.png') no-repeat -379px -318px;
}

.down-icon{
  background: url('../images/images.png') no-repeat -380px -273px;

  &:hover{
    background: url('../images/images.png') no-repeat -380px -365px;
  }
}

.down-icon-purple{
  background: url('../images/images.png') no-repeat -380px -365px;
}
.ok-icon{
  background: url('../images/images.png') no-repeat -7px -575px;

  &:hover{
    background: url('../images/images.png') no-repeat -7px -617px;
  }
}

.green-ok-icon{
  background: url('../images/images.png') no-repeat -7px -660px;

  //&:hover{
  //  background: url('../images/images.png') no-repeat -7px -617px;
  //}
}

.user-icon{
  background: url('../images/images.png') no-repeat -5px -1256px;
}

.info-icon{
  background: url('../images/images.png') no-repeat -8px -1325px;
}

.done-icon{
  background: url('../images/images.png') no-repeat -398px -1354px;

  &:hover{
    background: url('../images/images.png') no-repeat -380px -513px;
  }
}
.create-icon{
  background: url('../images/images.png') no-repeat -386px -793px;
}

.suggested-icon{
  background: url('../images/images.png') no-repeat -386px -832px;
}

.remove-location-icon{
  cursor: pointer;
  right:5px;
  background: url('../images/images.png') no-repeat -8px -1294px;
}

.location-icon{
  left:5px;
  background: url('../images/images.png') no-repeat -393px -1329px;
}

.addthis_counter .atc_s{
  background: url('../images/images.png') no-repeat -7px -706px !important;
  display: inline-block;
  width: 28px !important;
  height:25px !important;
  vertical-align: middle;
  margin-right: 2px;

  &:hover{
    background: url('../images/images.png') no-repeat -7px -742px !important;
  }
}

.icon-right{
  background: url('../images/images.png') no-repeat -380px -71px;
  margin-left: 4px;
}

.icon-left{
  background: url('../images/images.png') no-repeat -380px -126px;
}

.top-icon{
  width:35px;
  background: url('../images/images.png') no-repeat -6px -827px;
}

.question-icon-circle{
  background: url('../images/images.png') no-repeat -6px -778px;
  cursor:pointer;
}

.question-icon{
  background: url('../images/images.png') no-repeat -6px -1027px;
}

.icon-ok{
  background: url('../images/images.png') no-repeat -6px -992px;
}

.no-marginb{
  margin-bottom:0;
}

.text-left{
  text-align: left !important;
}

.small-size{
  font-size:16px;
}

.text-dark-gray{
  color:#666666;
}

.text-gray{
  color:#999999;
}

.text-dark{
  color:#021523;
}

.transparent{
  background-color: transparent;
}
.cover{
  //background: url('../images/cover.jpg') no-repeat center center fixed;
  //-webkit-background-size: cover;
  //-moz-background-size: cover;
  //-o-background-size: cover;
  //background-size: cover;
  //height: 100%;
  //position:absolute;

  img{
    width: 100%;
  }
}

.loading{
  position: absolute;
  vertical-align: middle;
  line-height: 100%;
  text-align: center;
  top: 38%;
  left: 48%;
  z-index: 10;
}

.homepage{

  position: absolute;
  width: 100%;

  h1{
    color:#ffffff;
    margin-top:0;
    font-weight: 300;
  }

  h4{
    padding:0 20px;
    line-height:25px;
  }

  .icon-scroll{
    display: inline-block;
    height: 29px;
    width: 29px;
    background: url('../images/images.png') no-repeat -5px -1128px;
    margin: 93px 0 0;
  }
}

#homepage-ideas{
  padding: 78px 0 40px;
}

.apps{
  padding-left:0;
  width:300px;
  margin: 0 auto;
  li{
    float:left;
    padding:5px;
    a{
      width:138px;
      height:44px;
      display: block;
    }
  }
  .app-store{
    background: url('../images/images.png') no-repeat -7px -309px;
  }

  .google-play{
    background: url('../images/images.png') no-repeat -153px -309px;
  }
}

.text-purple{
  color:#7724F6 !important;
}

.text-white{
  color:#ffffff;
}

.text-blue{
  color: #0057E7;
}

.users{
  li{
    position: absolute;
    top:0;
    figure{
      width:38px;
      height:38px;
      background-color: transparent;
    }
    img{
      border:2px solid;
      height:38px;
      width:38px;
    }

    p{
      float: left;
      width:37px;
      height:37px;
      line-height: 32px;
      vertical-align: middle;
      font-size:14px !important;
      font-weight:600;
      //text-align: center;
      //color:#ffffff;
      //border:2px solid #cecece;
      //.rounded-corners;
    }
  }
}

.btn-purple{
  background-color:#7724F6;
  color:#ffffff;
  padding:10px 35px;
  font-weight: bold;
  border:0;
  .rounded-corners(7px);

  &:hover, &:focus{
    color:#ffffff;
    outline:none;
    background-color:#6108EA;
  }
}

.button-lg{
  width:186px;
}

.btn-transparent{
  background-color:transparent;
  color:#999999;
  padding:10px 35px;
  border:1px solid #e3e3e3;
  font-weight:bold;

  &:hover, &:focus{
    color:#ffffff;
    outline:none;
    background-color:#6108EA;
  }
}

.empty-text{
  text-align: center;
  color:#666666;
}

h1{
  color:#021523;
  font-size: 19px;
}

ul li{list-style: none;}

.margin-top{
  margin-top:10px;
}

.padding-top{
  padding-top:20px;
}
.signup,.settings{
  padding-bottom:5px;
    h1{
      color:#021523;
    }
    p{
      font-size:12px;
      a{
        font-size:12px;
        &:hover{
          text-decoration: underline;
          color:#7724F6;
        }
      }
    }

  .form-group{
    margin-bottom:10px;

    input{
      height:40px;
      &:hover{
       border-color: #7724F6;
      }
    }

    div{
      margin-bottom:5px;
    }
  }

  .registration-image{
    text-align: center;
  }

  .uploaded-image{
    margin: 0 auto;
    width: 90px;
    height:90px;
    text-align: center;
    .rounded-corners;
    border:3px solid #e5e5e5;
  }
  select{
    cursor: pointer;
  }

  .nice-select{
    width: 100%;
    border: 1px solid #ccc;
    color: #A4A4A4;
    height:40px;
    font-family: 'Open Sans', sans-serif;

    span{
      color: #A4A4A4;
    }

    .list{
      width:100%;
      height: 150px;
      overflow: auto;
    }

    &:hover,&:focus,&:active,.open{
      border-color: #7724F6;
    }
  }
}


.settings{

  figure{
    background-color: #f0f0f0;
    padding:30px 0 6px;
    margin-bottom: 15px;


    figcaption{
      margin-top:12px;
      background-color: transparent;

      label{
        border:1px solid #cecece;
        color: #cecece;
        padding: 3px 15px;
        font-size: 14px;
        cursor:pointer;
      }
    }
  }

  input[type=radio]{
    margin-top:0;
  }
  .delete-email{

    position: relative;
    //margin-bottom:15px;

    a{
      position: absolute;
      top: 8px;
      right: 0px;
      background: url('../images/images.png') no-repeat -8px -1294px;
    }
    input{
      height: 40px;
      width:100%;
    }
  }
  .setting-bg{
    position: absolute;
    width:103%;
    top:0;
    height:245px;
    overflow: hidden;
    z-index:1;
    .blur;
    img{
      width:100%;
    }
  }

  .relative{
    z-index: 2;
  }

  label{
    padding:9px 0;
  }

  .upload{
    width:145px;
    height:145px;
    padding: 45px 13px;
    font-size:18px;
    text-align: center;
  }

  .uploaded-image{
    width:145px;
    height:145px;
  }

  .primary{
    label{
      color:#666666;
      display: block;
      text-align:left !important;
    }
  }

}

.upload{
  width:90px;
  height:90px;
  margin:0 auto;
  .rounded-corners;
  background-color: #ffffff;
  border:3px solid #e5e5e5;
  color:#A4A4A4;
  padding:28px 13px;
  display: block;
  cursor:pointer;
  margin-bottom:9px;
  font-size:12px;
  z-index: 10;

  &:hover{
    color: #ffffff;
    background-color: #CCCCCC;
  }
}

input{
  color:#a3a3a3;
}

.atm-f{
  height:auto !important;
}

.overlay{
  display: block;
  width: 100%;
  height: 260px;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;

  &:hover{
    background: rgba(0, 0, 0, 0.3);
  }
}

.overlay.height{
  height:588px;
}

figure{
  //background-color: #cfcfcf;
    &>a{
      display: block;
      overflow: hidden;
    }

    .height{
      height:588px;
    }

  figcaption{
    background-color: #ffffff;
    overflow-x: hidden;
    margin-bottom:20px;

    ul{
      padding-left:0;
      margin-bottom:0;
      li{
        text-align: center;
        border-right:1px solid #f0f0f0;
        a,bdi{
          color:#999999;
          display: block;
          padding: 10px 0;
          height:auto;
        }
        &:last-child{
          border-right:0;
          padding-top: 3px;

        }
        &:hover{
          background-color: #7724F6;
          a{
            color:#ffffff;

            &:hover{
              color:#ffffff;
              text-decoration: none;

            }
          }

          a{
            .plus-icon{
              background: url('../images/images.png') no-repeat -7px -496px;
            }
          }


          a{
            .ok-icon{
              background: url('../images/images.png') no-repeat -7px -617px;
            }
          }

          a.addthis_counter .atc_s{
            background: url('../images/images.png') no-repeat -7px -742px !important;
          }
        }

        &:focus,&:active{
          background-color: #6108EA;
          a{
            color:#ffffff;
          }
        }

      }
    }
  }
}

.progress{
  padding: 5px;
  height: 30px;

  border-radius: 0;

  margin-bottom:10px;
  background: #f4f4f4;
  .progress-bar-striped{
    background-size: 100%;
    box-shadow: none;
    background-image:
    linear-gradient(
            to right,
            #7724F6, #f5f5f5
    );
  }

}

.navigation{
  text-align: center;
  margin:25px 0 40px;
  a{
    color:#b3b3b3;
    .rounded-corners;
    &:hover,&:focus{
      text-decoration: none;
    }
  }
  span{
    width:40px;
    height:40px;
    line-height:40px;
    display: inline-block;
    margin: 0 5px 0 0;
    background-color: #ffffff;
    color:#b4b4b4;
    .rounded-corners;
    text-align: center;
    font-size:13px;
  }
  span.current{
    background-color: #7724F6;
    color:#ffffff;
  }
  .next,.previous{
    background-color: #e3e3e3;
    color:#999999;
    a{
      color:#999999;
    }
  }
  .last,.first{
    display: none;
  }
}

footer{
  width:100%;
  position: absolute;
  bottom: 0;
  height:300px;
  background-color: #021523;

  small{
    display: block;
    padding: 24px 0 15px;
    color:#ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size:11px;
  }

  ul{
    padding:10px 0;
    text-align: center;
    li{
      list-style: none;
      padding: 5px 25px;
      a{
        color:#E5E5E5;
        text-transform: uppercase;
        font-weight: bold;

        &:hover{
          color:#E5E5E5;
          text-decoration: underline;
        }
      }
    }
  }

  .apps{
    .app-store{
      background: url('../images/images.png') no-repeat -7px -389px;
    }
    .google-play{
      background: url('../images/images.png') no-repeat -153px -390px;
    }
  }

  .footer-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #000000;

    ul{
      padding:0;
      text-align: right;
      li{
        padding:5px 2px 5px 25px;
      }
      a{
        padding-top: 19px;
        display: inline-block;
        font-size: 11px;
        text-transform: capitalize;
        color:#D3D3D3;
        font-weight: 600;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}

#fos_comment_thread{

  figure{
    height:43px;
    width:43px;
    border: 2px solid #cecece;

    img{
      height:40px;
      width:40px;
    }
  }

  #fos_comment_comment_body{
    background-color: #f4f4f4;
    width:100%;
    resize: none;
  }
  .fos_comment_submit{
      input{
        background-color:#7725f6;
        color:#ffffff;
        padding:5px 20px;
        margin-top:5px;
        border:0;

        &:hover, &:focus{
          color:#ffffff;
          outline:none;
          background-color:#6009EA;
        }
      }
  }
  .fos_comment_comment_reply{
    button{
      background-color:#7725f6;
      color:#ffffff;
      padding:10px 35px;
      border:0;

      &:hover, &:focus{
        color:#ffffff;
        outline:none;
        background-color:#6009EA;
      }
    }
  }

  .fos_comment_comment_form_holder{
    .fos_comment_comment_new_form{
      background-color: #f4f4f4;
      padding: 0;
      i{
        top:7px;
      }

      textarea{
        padding: 8px 15px 0;

        &:focus{
          //border:1px solid #7724f6;
          outline: 0;
        }
      }

    }
  }
}

.addthis_native_toolbox{
  .addthis_counter.addthis_pill_style{
    height:auto;
  }
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.bg-purple{
  background-color:#7627f5 !important;
}

.bg-blue{
  background-color:#021523;
  color:#ffffff;
}



#app_bundle_success_story_type_videoLink{
  margin-bottom:30px;
}

.story-title{
  color:#7627f5;
  margin:30px 0 25px;
  font-size:28px;
}


.border{
  border:1px solid #999999;
  .rounded-corners(5px);
  padding:3px 8px;
}

.row.no-gutter [class*='col-']:not(:first-child),.row.no-gutter [class*='col-']:not(:last-child) {
  padding-right:0;
  padding-left:0;
}



@media (min-width: @screen-sm) {

  h1,h2{
    font-size:36px;
  }

  .search{
    form{
      padding:16px 0;
    }
  }

  h2{
    padding: 31px 0 34px;
    margin: 0;
  }

  .margin-top{
    margin-top:40px;
  }

  #signin{
    min-width:234px;
    overflow: hidden;

    .text-danger{
      margin-bottom:10px;
    }
  }

  .signup,.settings{

    padding-bottom:10px;

    h1{
      font-size:36px;
      margin:20px 20px 30px;
    }

    .text-dark-gray{
      font-size: 16px;
    }

    .no-padding{
      div:first-child{
        padding-right:0;
        input{
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
      div:last-child{
        padding-left:0;
        input{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .form-group{
      margin-bottom: 4px;
      p{
        margin-bottom:30px;
      }
    }

    .btn-blue{
      padding:13px 51px;
      .rounded-corners(10px);
    }
  }
  .homepage{
    padding-top:127px;

  }

  footer{
    ul{
      padding:60px 0 0;
      li{
        display: inline-block;
      }
    }
    .apps{
      padding:30px 0 60px;
    }
    small{
      clear:both;
      font-size: 12px;
      a{
        float:right;
      }
    }
    .footer-bottom{
      ul{
        a{
          font-size: 12px;
        }
      }
    }
  }
}

.no-right{
  padding-right:0;
}

.no-left{
  padding-left:0;
}

.check_status{
  padding-bottom:15px;
}

.green-bg{
  background-color: #66cc33;
  color:#ffffff;
}

.text-green{
  color: #66cc33;
}

.bg-white{
  background-color:#ffffff;
}

.padding{
  padding:20px 20px 5px;
}

.margin-top{
  margin-top:20px;
}

.line{
  height:1px;
  border-top:1px solid #e6e6e6;
}

.right-block{
  background: #ffffff;
  padding:20px 30px;

  hr{
    border-color:#cccccc;
    margin-top: 0;
  }

  a,span{
    color:#666666;
    font-size: 16px;

    &:hover{
      text-decoration:none;
      color: #7724F6;
    }
  }

  .ok-icon{
      background: url('../images/images.png') no-repeat -7px -618px;
  }

  .plus-icon{
      background: url('../images/images.png') no-repeat -7px -495px;
  }

  h3{
    position: absolute;
    width:100%;
    text-align: left;
    color:#ffffff;
    padding: 0 10px 0 20px;
    margin-top:15px;
    z-index: 1;
  }
  figure{
    position: relative;
    margin-bottom:15px;
    height:155px;
    overflow: hidden;

     figcaption{
        position: absolute;
        bottom: -30px;
        width: 100%;
        padding:0 5px;
        background: transparent;

        ul{
          margin-bottom:0;
          li{
            padding-top:0;
            border:0;

            a{
              font-size:14px;
              line-height:18px;
              color:#ffffff;
              i{
                margin-right:8px;
                color:#ffffff;
              }
              &:hover,&:focus{
                color:#ffffff;
                text-decoration: none;
              }
            }
            bdi{
              font-size:14px;
              line-height:18px;
              color:#ffffff;
              display: block;
              padding: 10px 0;
              height: auto;
            }
            //&:nth-child(2){
            //  padding-top:0;
            //}
            //&:last-child{
            //  padding-top:0;
            //}

            &:hover{
              background: transparent;

              .ok-icon{
                background: url('../images/images.png') no-repeat -380px -40px;
              }

              .plus-icon{
                background: url('../images/images.png') no-repeat -380px -98px;
              }

            }
          }
        }
     }
  }
}

@media (min-width: @screen-md) {
  header {
    .navbar-default{
      border:0;
      .navbar-nav{
        li{
          a{
            font-size:16px;
            padding: 25px 30px 23px;
          }
        }
        .search{
          form{
            padding:16px 15px;

            input{
              font-size:16px;
              font-weight: normal;
            }
          }

        }
      }
      .navbar-right{
        text-align: center;
      }
    }
  }

  h1,h2{
    font-size:52px;
  }

  h2{
    padding: 62px 0 68px;
    margin: 0;
  }

  .signup,.settings{
    padding-bottom:20px;
    h1{
      font-size:52px;
      margin:60px 0 35px;
    }
  }

  .settings{
    padding-bottom:130px;
  }

  .video{
    video{
      margin-top:-164px;
    }

  }
  .homepage{

    h1{
      font-size: 64px;
      padding-bottom:46px;
    }

    h4{
      padding:0 0 100px 0;
      font-size:24px;
      line-height: 32px;
    }
  }

  .bottom-part{
    background-color:#f1f1f1;
    padding:15px 0 25px;
  }


  .check_status{
    padding-bottom:5px;
  }
  footer{

    ul{
      li{
        a{
          font-size:16px;
        }
      }
    }
    small{
      padding: 25px 30px;
    }
  }
}

.modal-open {
  padding-right: 0 !important;
}
html {
  overflow-y: scroll !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


@media (min-width: @screen-lg) {
  header {
    .navbar-default{
      .navbar-nav{
        li{
          a{
            padding: 25px 44px 23px;
          }
        }
        .search{
          form{
            padding:16px 15px;
          }
        }
      }
    }
  }
}