@import "function.less";
@import "variables.less";

body, html{
  height:100%;
}

body{
  padding-top: 80px;
  background-color: #f2f2f2;
}

#mainframe{
  position: relative;
  min-height:100%;
}

#wrap{
  position: relative;
  padding-bottom: 300px;
}

header{
  #line{
    height:4px;
    background: url('../images/line.jpg');
  }
  .navbar{
    min-height:75px;
  }
  .navbar-default {
    background: #021421;

    .navbar-nav{
      li{
        a{
          padding-top:22px;
          padding-bottom:23px;
          color: #e3e3e3;

          &:hover{
            background-color: #7627f5;
            color: #e3e3e3;
          }

          &:focus{
            outline:none;
          }
        }
      }

      .active a{
        background-color: #7627f5;
        color: #e3e3e3;

        &:hover{
          background-color: #7627f5;
          color: #e3e3e3;
        }
      }
      .glyphicon-search {
        padding-right: 5px;
        font-size: 19px;
        top:5px;
        height:30px;
      }

      .ideas-icon{
        display:inline-block;
        background: url('../images/ideas.png') no-repeat center center;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        padding-right: 11px;
        margin-right: 5px;
      }
      .join{
        display:inline-block;
        background: url('../images/join.png') no-repeat center center;
        width: 30px;
        height: 30px;
        vertical-align: middle;
        padding-right: 11px;
        margin-right: 5px;
      }


      li {
        border-left: 1px solid #1a394a;
      }
    }
    .navbar-right{
      li{
        a{
          padding-top:22px;
          padding-bottom:23px;

          &:hover{
            background-color: transparent;
            color: #e3e3e3;
          }
        }
        .user{
          display: block;
          padding: 15px 5px 15px 15px;
          figure{
            background-color: transparent;
            width:50px;
            float:left;
            margin: 0 10px 0 0;
          }
          span{
            float:left;
            margin-top:6px;
          }
          span:last-child{
            border: 2px solid;
            padding: 4px 7px 6px;
            display: inline-block;
            margin: 11px 0 5px 10px;
            .rounded-corners;
          }
        }

        .join-class {
          min-width:260px;
          background-color: #2b2b2b;
          color:#e3e3e3;
          &:hover{
            background-color: #2b2b2b;
          }
        }
        .popover{
          padding:0;
          border-radius: 0;
          border:0;
        }
        .popover-content{
          padding:0;
        }
      }
    }
  }
}

#signin{
    text-align: center;
    min-width: 319px;
    background-color: #2b2b2b;
    padding: 20px 15px;


    a{
      display: block;
      padding:10px 0;
      border-top:1px solid #021421;
      border-bottom:1px solid #021421;
      &:hover {
        background-color: transparent;
      }
      span{
        padding-right:10px;
      }
    }

    form{
      a{
        padding:0 0 10px 0;
        border:0;
      }
    }

    h4{
      color:#ffffff;
    }
    .social{
        padding-left:50px;
        li{
          margin-top:9px;
          a{
            padding:0;
            display: block;
            height:36px;
            border:0;
          }

          .facebook{
            background: url('../images/social.png') no-repeat 0 0;
          }

          .twitter{
            background: url('../images/social.png') no-repeat 0 -44px;
          }

          .google{
            background: url('../images/social.png') no-repeat 0 -88px;
          }
        }
      }
    }

.content-top{
  background-color: #ffffff;
  padding:10px 0 0;

  a{
    color:#a4a4a4;
    display: block;
    font-size:18px;
    padding:10px 0 10px;
  }

  .no-bg{
    //background-color: transparent;
    border:0;
    font-size:18px;
    padding:10px 0 10px;
    outline:none;

    &:hover,&:focus{
      outline:none;
      border:0;
      background-color: transparent;
    }
  }

  .buttons{
    margin:35px 0;
    button{
      margin-left:10px;
      padding:6px 12px;
      &:first-child{
        border:1px solid #a4a4a4;
        color:#a4a4a4;
      }
    }
  }
}

ul.filter{
  padding:15px 0 0;
  li{
    padding: 7px 25px 5px;
    a{
      color:#3b3b3b;
      display: block;
      vertical-align: top;
      span{
        padding-right:10px;
        font-size:20px;
      }
      &:hover{
        text-decoration: none;
      }
    }
    &:hover{
      background-color: #7725f6;

      a{
        color:#ffffff;
      }
    }
  }
}

.glyphicon-chevron-up,.glyphicon-chevron-down,.glyphicon-chevron-right,.glyphicon-chevron-left{
  border: 2px solid;
  padding: 2px 4px 4px;
  display: inline-block;
  margin: 0 0 0 10px;
  .rounded-corners;
  font-size:10px;
  top:-2px;
}

.goals{
  margin:30px 0;
  background-color: #ffffff;

  .title{
    background-color: #e6e6e6;
    color:#adadad;
    padding: 30px;
    border: 0;
    font-size: 20px;
    border-radius: 0;
  }

  .form-group{
    p{
      font-size: 16px;
    }
  }
  .tags{
    margin:10px 0;
    button{
      padding: 5px 25px;
      margin-right:10px;
    }
  }

  textarea{
    resize: none;
  }
}

.gol-end{
  background-color: #ffffff;
  padding:10px 20px 0;
  .rounded-corners(6px);
  margin-bottom: 20px;

  h4{
    color:#021421;
    text-align: center;
  }

  .purple{
    font-size:18px;
  }
}

.text-left{
  text-align: left !important;
}
.homepage{
  width:100%;
  position: absolute;
  top:35px;
  color:#ffffff;
  h1{
    color:#ffffff;
  }

  h4{
    padding:0 20px;
    line-height:25px;
  }

  .btn-purple{
    margin:50px 0;
  }

  .gol-end{
    .btn-purple{
      margin:10px 0 20px;
    }
  }
}

.apps{
  padding-left:0;
  width:222px;
  margin: 0 auto;
  li{
    float:left;
    padding:5px;
    a{
      width:101px;
      height:35px;
      display: block;
    }
  }
  .app-store{
    background: url('../images/icons.png') no-repeat 0 0;
  }

  .google-play{
    background: url('../images/icons.png') no-repeat -104px 0;
  }
}

.purple{
  color:#7627f5 !important;
}

.btn-purple{
  background-color:#7725f6;
  color:#ffffff;
  padding:10px 35px;

  &:hover, &:focus{
    color:#ffffff;
    outline:none;
    background-color:#6009EA;
  }
}

h1{
  color:#021421;
  font-size: 19px;
}

ul li{list-style: none;}

.signup{
  padding-top:10px;
  .margin-top{
    margin-top:10px;
  }

  .form-group{
    div{
      margin-bottom:5px;
    }
    p{
      font-size: 17px;
      a{
        font-size: 14px;
      }
    }
  }
}

.upload{
  width:100px;
  height:100px;
  margin:0 auto;
  .rounded-corners;
  background-color: #ffffff;
  border:3px solid #ebebeb;
  color:#a3a3a3;
  padding:28px 18px;
  display: block;
  cursor:pointer;
}

p{
  color:#a3a3a3;
}

input{
  color:#a3a3a3;
}



figure{
  background-color: #cfcfcf;

  figcaption{
    background-color: #ffffff;
    overflow-x: hidden;
    margin-bottom:20px;

    ul{
      padding-left:0;
      margin-bottom:0;
      li{
        text-align: center;
        border-right:1px solid #f0f0f0;
        a{
          color:#7d7d7d;
          display: block;
          padding: 10px 0;
          span{
            padding-right: 10px;
          }

        }
        &:last-child{
          border-right:0;
        }
        &:hover{
          background-color: #e3e3e3;
          a{
            color:#7d7d7d;
          }
        }

      }
    }
  }
}

.inner-container{
  background-color: #d6d6d6;

  q{
    display: block;
    padding:25px 0;
    color:#ffffff;
  }

  h1{
    background-color: #021421;
    color:#ffffff;
    padding:20px 25px;
    font-size:30px;
  }

  .inner{
    background-color: #ffffff;


  }
}


footer{
  width:100%;
  position: absolute;
  bottom: 0;
  height:300px;
  background-color: #021523;
  color:#ffffff;

  small{
    display: block;
    padding: 15px 0;

    a{
      color:#ffffff;
      padding-left: 10px;
    }
  }

  ul{
    padding:10px 0;
    text-align: center;
    li{
      list-style: none;
      padding: 5px 20px;
      a{
        color:#ffffff;
      }
    }
  }

  .footer-bottom{
    position: absolute;
    bottom:0;
    width: 100%;
    background-color: #000000;
  }
}

@media (min-width: @screen-sm) {

  #signin{
    min-width:260px;
    overflow: hidden;
    .social{
      padding-left:20px;
    }
  }

  .signup{

    h1{
      font-size:36px;
      margin:20px 20px 30px;
    }

    padding-top:30px;
    .margin-top{
      margin-top:35px;
    }
    .form-group{
      p{
        font-size: 19px;
        a{
          font-size: 18px;
        }
      }
    }
  }

  footer{
    ul{
      padding:60px 0 0;
      li{
        display: inline-block;
      }
    }
    .apps{
      padding:30px 0 60px;
    }
    small{
      clear:both;
      a{
        float:right;
      }
    }
  }
}

@media (min-width: @screen-md) {

  .signup{
    h1{
      font-size:50px;
      margin:20px 20px 50px;
    }
  }

  .homepage{
    top:150px;
  }

  footer{
    small{
      padding: 25px 30px;
    }
  }
}