<a *ngIf="type == 1" (click)="openUsersModal(goal.id, goal.stats.listedBy, type)">
  <span>
      {{ 'home_listed_by' | translate }}
      {{ goal.stats.listedBy }}
  </span>
  <i class="icon-user-small"></i>
</a>
<a *ngIf="type == 2" (click)="openUsersModal(goal.id, goal.stats.doneBy, type)">
  <span>
      {{ 'home_complete' | translate }}
      {{ goal.stats.doneBy }}
  </span>
  <i class="icon-user-small"></i>
</a>
<a *ngIf="type == 3" (click)="openUsersModal(story.id, story.count, type)">
  <span>
      {{ voters_count }}
  </span>
    <i [ngClass]="{'like-active': isVoting(story.is_vote, story),'user-story': isMy()}"
       (click)="manageVote(story.id)" *ngIf="story"
       class="like-icon"></i>
</a>