<div class="my-modal goal-modal">
    <div class="goal-container">
        <div *ngIf="newAdded" class="email">
            {{ "goal.create_goal" | translate }}
            <span *ngIf="!newCreated"> {{ "addedU" | translate }}</span>
            <span *ngIf="newCreated"> {{ "admin.label.name.createdU" | translate }}</span>
        </div>

        <div class="modal-top">
            <figure *ngIf="userGoal &&userGoal.goal.cached_image">
                <img *ngIf="userGoal && userGoal.goal.cached_image" src="{{ userGoal.goal.cached_image}}"
                     alt="{{ userGoal.goal.title }}" class="img-responsive"/>
            </figure>

            <span class="overlay"></span>

            <div *ngIf="userGoal">
                <h2>
                    <span [ngClass]="{'title-smaller': userGoal.goal.title.length > 25, 'title-top': !userGoal.goal || !userGoal.goal.author || !userGoal.goal.author.show_name}">{{ userGoal.goal.title }}</span>
                </h2>
                <!--{% if app.user %}-->
                <p *ngIf="userGoal.goal.author && !userGoal.goal.author.is_admin && userGoal.goal.author.id == appUser.id ">
                    {{ userGoal.goal.author.show_name }}
                </p>
                <!--{% endif %}-->
                <ul>
                    <li>
                        <a >
                            {{ 'block_listed'|translate | capitalize }}
                            <span>{{ userGoal.goal.stats.listedBy | number }}</span>
                            <i class="icon-user-small"></i>
                        </a>
                    </li>
                    <li>
                        <a >
                            {{ 'block_completed'|translate | capitalize }}
                            <span>{{ userGoal.goal.stats.doneBy | number }}</span>
                            <i class="icon-user-small"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--{% set arrayMonth = {-->
        <!--0:'form.birth_date_month'|translate,-->
        <!--1:'form.month_january'|translate,-->
        <!--2:'form.month_february'|translate,-->
        <!--3:'form.month_march'|translate,-->
        <!--4:'form.month_april'|translate,-->
        <!--5:'form.month_may'|translate,-->
        <!--6:'form.month_june'|translate,-->
        <!--7:'form.month_july'|translate,-->
        <!--8:'form.month_august'|translate,-->
        <!--9:'form.month_september'|translate,-->
        <!--10:'form.month_october'|translate,-->
        <!--11:'form.month_november'|translate,-->
        <!--12:'form.month_december'|translate } %}-->

        <!--data-ng-init="myMonths={{ arrayMonth |json_encode() }}; redirectPath='{{ path('user_profile') }}'"-->
        <form class="form-horizontal" method="post" #addForm="ngForm" (ngSubmit)="add(addForm)">
            <div class="goal-add bg-white">
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                        <!--{# edit goal status #}-->
                        <!--data-ng-init="defaultYear = '{{ 'form.birth_date_year'|translate }}';-->
                        <!--defaultDay = '{{ 'form.birth_date_day'|translate }}';-->
                        <!--defaultMonth = '{{ 'form.birth_date_month'|translate }}'"-->
                        <div class="clearfix " *ngIf="userGoal.id">
                            <div class="no-marginb">

                                <h3 class="text-left">
                                    {{ "goal.status"|translate }}
                                </h3>

                                <p>{{ "goal.in_proces"|translate }}</p>

                                <!--data-ng-init="complete.switch=(userGoal.status==UserGoalConstant['ACTIVE']? 0:1)"-->
                                <div class="clearfix purple-checkbox">

                                    <label class="relative">
                                        <span class="my-md-container" [ngClass]="{'my-md-checked': complete.switch == 0}">
                                            <span class="md-off"></span>
                                            <span class="md-on"></span>
                                        </span>

                                        <input name="active" type="radio" [value]="0" [(ngModel)]="complete.switch" style="display: none">

                                        <span class="my-md-label">
                                            <span class="ng-scope">{{ "user_goal.active"|translate }}</span>
                                        </span>

                                    </label>

                                    <label class="relative">
                                        <span class="my-md-container"  [ngClass]="{'my-md-checked': complete.switch == 1}">
                                            <span class="md-off"></span>
                                            <span class="md-on"></span>
                                        </span>

                                        <input name="active" type="radio" [value]="1"  [(ngModel)]="complete.switch" style="display: none">

                                        <span class="my-md-label">
                                            <span class="ng-scope">{{ "user_goal.completed"|translate }}</span>
                                        </span>

                                    </label>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <h3 [ngClass]="{'text-purple': !(complete.switch == 1) && userGoal.id && userGoal.do_date && compareDates(firefox_do_date) == -1}"
                            *ngIf="!(complete.switch == 1) || userGoal.do_date">
                            {{ "goal.deadline"|translate }}
                            <i *ngIf="!(complete.switch == 1) && userGoal.id && userGoal.do_date && compareDates(firefox_do_date) == -1"
                               class="icon-info text-purple"></i>

                            <span class="text-purple "
                                  *ngIf="complete.switch == 1 && firefox_do_date && (!userGoal.do_date_status || userGoal.do_date_status == 1)">: {{ momentDateFormat(firefox_do_date, 'DD MMM YYYY') }}</span>
                            <span class="text-purple "
                                  *ngIf="complete.switch == 1 && firefox_do_date && (userGoal.do_date_status && userGoal.do_date_status == 2)">: {{ momentDateFormat(firefox_do_date, 'YYYY') }}</span>
                            <span class="text-purple "
                                  *ngIf="complete.switch == 1 && firefox_do_date && (userGoal.do_date_status && userGoal.do_date_status == 3)">: {{ momentDateFormat(firefox_do_date, 'MMM YYYY') }}</span>
                        </h3>

                        <p class="text-gray text-left"
                           *ngIf="!(complete.switch == 1) && userGoal.id && userGoal.do_date && compareDates(firefox_do_date) == -1">
                            {{ "goal.missed_deadline"|translate }}
                        </p>

                        <p [hidden]="userGoal.do_date || userGoal.completion_date || complete.switch == 1"
                           class="text-left">
                            {{ "dream"|translate }}
                        </p>

                        <h3 *ngIf="complete.switch == 1">{{ "completed"|translate }}</h3>

                        <div class="row">

                            <div class="col-sm-4 date " *ngIf="complete.switch != 1">
                                <ng-select [allowClear]="true"
                                           [items]="months"
                                           [disabled]="disabled"
                                           (data)="refreshValue($event, 'year')"
                                           (selected)="selected($event)"
                                           (removed)="removed($event)"
                                           (typed)="typed($event)"
                                           placeholder="{{ 'form.birth_date_year'|translate }}">
                                </ng-select>
                                <!--<ui-select search-enabled="false" [(ngModel)]="$parent.year" skip-focusser="true">-->
                                    <!--<ui-select-match-->
                                            <!--placeholder="{{ 'form.birth_date_year'|translate }}">-->
                                        <!--<span>{{ $select.selected }}</span>-->
                                    <!--</ui-select-match>-->

                                    <!--<ui-select-choices repeat="y in years">-->
                                        <!--<span data-ng-bind="y"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            </div>
                            <div class="col-sm-4 " *ngIf="complete.switch == 1">
                                <ng-select [allowClear]="true"
                                           [items]="months"
                                           [disabled]="disabled"
                                           (data)="refreshValue($event, 'year')"
                                           (selected)="selected($event)"
                                           (removed)="removed($event)"
                                           (typed)="typed($event)"
                                           placeholder="{{ 'form.birth_date_year'|translate }}">
                                </ng-select>
                                <!--<ui-select search-enabled="false" [(ngModel)]="$parent.year" skip-focusser="true">-->
                                    <!--<ui-select-match-->
                                            <!--placeholder="{{ 'form.birth_date_year'|translate }}">-->
                                        <!--<span>{{ $select.selected }}</span>-->
                                    <!--</ui-select-match>-->

                                    <!--<ui-select-choices repeat="y in completeYears">-->
                                        <!--<span data-ng-bind="y"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            </div>

                            <div class="col-sm-4 date " *ngIf="complete.switch == 1">
                                <ng-select [allowClear]="true"
                                           [items]="months"
                                           [disabled]="disabled"
                                           (data)="refreshValue($event, 'month')"
                                           (selected)="selected($event)"
                                           (removed)="removed($event)"
                                           (typed)="typed($event)"
                                           placeholder="{{ 'form.birth_date_month'|translate }}">
                                </ng-select>
                                <!--<ui-select search-enabled="false" [(ngModel)]="$parent.month" skip-focusser="true">-->
                                    <!--<ui-select-match-->
                                            <!--placeholder="{{ 'form.birth_date_month'|translate }}">-->
                                        <!--<span>{{ $select.selected }}</span>-->
                                    <!--</ui-select-match>-->

                                    <!--<ui-select-choices repeat="m in months">-->
                                        <!--<span data-ng-bind="m"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            </div>
                            <div class="col-sm-4 date " *ngIf="!(complete.switch == 1)">
                                <ng-select [allowClear]="true"
                                           [items]="months"
                                           [disabled]="disabled"
                                           (data)="refreshValue($event, 'month')"
                                           (selected)="selected($event)"
                                           (removed)="removed($event)"
                                           (typed)="typed($event)"
                                           placeholder="{{ 'form.birth_date_month'|translate }}">
                                </ng-select>
                                <!--<ui-select search-enabled="false" [(ngModel)]="$parent.month" skip-focusser="true">-->
                                    <!--<ui-select-match-->
                                            <!--placeholder="{{ 'form.birth_date_month'|translate }}">-->
                                        <!--<span>{{ $select.selected }}</span>-->
                                    <!--</ui-select-match>-->

                                    <!--<ui-select-choices repeat="m in months">-->
                                        <!--<span data-ng-bind="m"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            </div>
                            <div class="col-sm-4 date " *ngIf="complete.switch == 1">
                                <ng-select [allowClear]="true"
                                           [items]="months"
                                           [disabled]="disabled"
                                           (data)="refreshValue($event, 'day')"
                                           (selected)="selected($event)"
                                           (removed)="removed($event)"
                                           (typed)="typed($event)"
                                           placeholder="{{ 'form.birth_date_day'|translate }}">
                                </ng-select>
                                <!--<ui-select search-enabled="false" [(ngModel)]="$parent.day" skip-focusser="true">-->
                                    <!--<ui-select-match-->
                                            <!--placeholder="{{ 'form.birth_date_day'|translate }}">-->
                                        <!--<span>{{ $select.selected }}</span>-->
                                    <!--</ui-select-match>-->

                                    <!--<ui-select-choices repeat="day in days">-->
                                        <!--<span data-ng-bind="day"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            </div>
                            <div class="col-sm-4 date " *ngIf="!(complete.switch == 1)">
                                <ng-select [allowClear]="true"
                                           [items]="months"
                                           [disabled]="disabled"
                                           (data)="refreshValue($event, 'day')"
                                           (selected)="selected($event)"
                                           (removed)="removed($event)"
                                           (typed)="typed($event)"
                                           placeholder="{{ 'form.birth_date_day'|translate }}">
                                </ng-select>
                                <!--<ui-select search-enabled="false" [(ngModel)]="$parent.day" skip-focusser="true">-->
                                    <!--<ui-select-match-->
                                            <!--placeholder="{{ 'form.birth_date_day'|translate }}">-->
                                        <!--<span>{{ $select.selected }}</span>-->
                                    <!--</ui-select-match>-->

                                    <!--<ui-select-choices repeat="day in days">-->
                                        <!--<span data-ng-bind="day"></span>-->
                                    <!--</ui-select-choices>-->
                                <!--</ui-select>-->
                            </div>
                        </div>

                        <h3 *ngIf="userGoal.goal.location">Location</h3>

                        <div class="form-group row" *ngIf="userGoal && userGoal.goal.location">
                            <div class="col-sm-12">
                                <div class="location">
                                    <i class="icon-location-icon"></i>
                                    <input type="text"
                                           name="address"
                                           disabled
                                           [(ngModel)]="userGoal.goal.location.address"
                                           class="form-control place-autocomplete"
                                           placeholder="{{ 'goal.location_ex'|translate }}"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-xs-12">
                                <h3>{{ 'goal.priority'|translate }}</h3>
                                <h6>{{ "goal.deside"|translate }}</h6>

                                <div class="priority purple-checkbox">

                                    <label class="relative">
                                        <span class="my-md-container" [ngClass]="{'my-md-checked': userGoal.urgent}">
                                            <span class="my-md-icon"></span>
                                            <input name="urgent" type="checkbox" [(ngModel)]="userGoal.urgent" style="display: none">
                                        </span>

                                        <span class="my-md-label">
                                            <span class="ng-scope">{{ 'goal.urgent'|translate }}</span>
                                        </span>

                                    </label>

                                    <label class="relative">
                                        <span class="my-md-container" [ngClass]="{'my-md-checked': userGoal.important}">
                                            <div class="my-md-icon"></div>
                                            <input name="important" type="checkbox" [(ngModel)]="userGoal.important" style="display: none">
                                        </span>

                                        <span class="my-md-label">
                                            <span class="ng-scope">{{ 'goal.important'|translate }}</span>
                                        </span>
                                    </label>

                                </div>

                            </div>
                        </div>

                        <h3 class="no-marginb">{{ 'my_bucket_list.notes'|translate }}</h3>

                        <p>
                            <i class="icon-pencil"></i>
                            {{ 'goal.take_note'|translate }}
                        </p>

                        <div class="form-group row">
                            <div class="col-xs-12">

                                <textarea class="form-control"
                                          name="note"
                                          [(ngModel)]="userGoal.note"
                                          rows="3"
                                          placeholder="{{ 'goal.note_p'|translate }}"></textarea>
                            </div>
                        </div>

                        <h3 class="no-marginb">{{ "tasks"|translate }}</h3>

                        <p>
                            <i title="Notes" class="icon-step-list"></i>
                            {{ "goal.complete_step"|translate }}
                        </p>

                        <div class="progress " *ngIf="!(complete.switch == 1)">
                            <!--<div class="progress-bar progress-bar-striped"-->
                                 <!--role="progressbar"-->
                                 <!--aria-valuenow="45"-->
                                 <!--aria-valuemin="0"-->
                                 <!--aria-valuemax="100"-->
                                 <!--[ngStyle]="width:{{ getCompleted(userGoal) | number }}%">-->
                                <!--{{ getCompleted(userGoal) | number }}% Complete-->
                            <!--</div>-->
                        </div>

                        <!--<div data-dnd-list="userGoal.formatted_steps"-->
                             <!--data-dnd-disable-if="complete.switch == 1"-->
                             <!--data-dnd-dragover="dragoverCallback(event, index, external, type)"-->
                             <!--data-dnd-drop="dropCallback(event, index, item, external, type, '')">-->
                            <!--<div class="form-group row"-->
                                 <!--data-ng-repeat="(k, step) in userGoal.formatted_steps"-->
                                 <!--data-ng-init="myStep[k] = step.switch"-->
                                 <!--*ngIf="(!step.switch || !myStep[k]) && !(!step.text && complete.switch == 1)"-->
                                 <!--data-dnd-draggable="step"-->
                                 <!--data-dnd-disable-if="!step.text || step.switch"-->
                                 <!--data-dnd-moved="moveElement($index)"-->
                                 <!--data-dnd-effect-allowed="move"-->
                                 <!--data-dnd-selected="models.selected = step"-->
                                 <!--[ngClass]="{'selected': models.selected === step, 'noselect': !step.text}">-->

                                <!--<div class="col-xs-2 col-sm-1 task-checkbox purple-checkbox">-->

                                    <!--<label class="relative">-->
                                        <!--<span class="my-md-container" [ngClass]="{'my-md-checked': step.switch}">-->
                                            <!--<span class="my-md-icon"></span>-->
                                            <!--<input id="myonoffswitch{{k}}"-->
                                                   <!--type="checkbox" aria-label="steps"-->
                                                   <!--name="{% if app.environment !='test' %}switch[ {{k}} ]{% endif %}"-->
                                                   <!--[(ngModel)]="step.switch"-->
                                                   <!--data-ng-change="myStep[k] = false"-->
                                                   <!--data-ng-disabled="complete.switch == 1 || !step.text"-->
                                                   <!--style="display: none" />-->
                                        <!--</span>-->

                                    <!--</label>-->

                                <!--</div>-->

                                <!--<div class="col-xs-10 col-sm-11">-->
                                    <!--<div class="to-do-list">-->

                                        <!--<input type="text"-->
                                               <!--class="form-control"-->
                                               <!--[ngClass]="{'market-step': step.switch}"-->
                                               <!--data-step-->
                                               <!--data-key="k"-->
                                               <!--data-array="userGoal.formatted_steps"-->
                                               <!--[(ngModel)]="step.text"-->
                                               <!--data-ng-disabled="complete.switch == 1 || step.switch"-->
                                               <!--name="{% if app.environment !='test' %}stepText[ {{ k }} ]{% endif %}"-->
                                               <!--placeholder="{{ "goal.add_step"|translate }}">-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->

                            <!--<p (click)="completedStepsShow = !completedStepsShow"-->
                               <!--*ngIf="completedStepCount" class="text-purple">-->
                                <!--<span *ngIf="!completedStepsShow">{{ "show" |translate }}</span>-->
                                <!--<span *ngIf="completedStepsShow">{{ "hide" |translate }}</span> {{ completedStepCount}} {{ "completed" |translate }}-->
                            <!--</p>-->

                            <!--<div class="form-group row"-->
                                 <!--data-ng-repeat="(k, step) in userGoal.formatted_steps | filter: {switch: true}"-->
                                 <!--*ngIf="completedStepsShow">-->

                                <!--<div class="col-xs-2 col-sm-1 task-checkbox purple-checkbox">-->

                                    <!--<label class="relative">-->
                                        <!--<span class="my-md-container my-md-checked">-->
                                            <!--<span class="my-md-icon"></span>-->
                                            <!--<input id="myonoffswitch{{k}}" type="checkbox" aria-label="steps"-->
                                                   <!--name="{% if app.environment !='test' %}switch[ {{k}} ]{% endif %}"-->
                                                   <!--[(ngModel)]="step.switch"-->
                                                   <!--data-ng-disabled="complete.switch == 1 || !step.text"-->
                                                   <!--style="display: none" />-->
                                        <!--</span>-->

                                    <!--</label>-->
                                <!--</div>-->

                                <!--<div class="col-xs-10 col-sm-11">-->
                                    <!--<div class="to-do-list">-->
                                        <!--<input type="text"-->
                                               <!--class="form-control"-->
                                               <!--data-step-->
                                               <!--data-key="k"-->
                                               <!--data-array="userGoal.formatted_steps"-->
                                               <!--[(ngModel)]="step.text"-->
                                               <!--data-ng-disabled="complete.switch == 1"-->
                                               <!--name="{% if app.environment !='test' %}stepText[ {{ k }} ]{% endif %}"-->
                                               <!--placeholder="{{ "goal.add_step"|translate }}">-->
                                    <!--</div>-->
                                <!--</div>-->

                            <!--</div>-->

                            <!--<div class="dndPlaceholder form-group row"></div>-->

                        <!--</div>-->


                    </div>
                </div>

                <hr/>

                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="no-marginb">

                            <h3 class="text-left no-marginb">
                                {{ "goal.visibility"|translate }}
                            </h3>

                            <p class="text-gray">
                                <i class="icon-eye-icon " *ngIf="userGoal.is_visible"></i>
                                <i class="icon-eye " [hidden]="userGoal.is_visible"></i>
                                <span>{{ "goal.visible_text"|translate }}</span>
                            </p>

                            <div class="clearfix purple-checkbox" id="goal-is-visible">
                                <!--[(ngModel)]="userGoal.is_visible"-->
                                <label class="relative">
                                    <span class="my-md-container" [ngClass]="{'my-md-checked': userGoal.is_visible == true}">
                                        <span class="md-off"></span>
                                        <span class="md-on"></span>
                                    </span>

                                    <input name="visible" type="radio" [(ngModel)]="userGoal.is_visible" [value]="true" style="display: none">

                                    <span class="my-md-label">
                                        <span class="ng-scope">{{ "goal.visible"|translate }}</span>
                                    </span>

                                </label>

                                <label class="relative">
                                    <span class="my-md-container"  [ngClass]="{'my-md-checked': userGoal.is_visible == false}">
                                        <span class="md-off"></span>
                                        <span class="md-on"></span>
                                    </span>

                                    <input name="visible" type="radio" [value]="false" [(ngModel)]="userGoal.is_visible" style="display: none">

                                    <span class="my-md-label">
                                        <span class="ng-scope">{{ "my_bucket_list.invisible"|translate }}</span>
                                    </span>

                                </label>
                            </div>

                        </div>
                    </div>
                </div>


                <!--{% if app.user %}-->
                <hr/>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div *ngIf="userGoal.id && userGoal.goal.author && userGoal.goal.author.id == appUser.id && userGoal.goal.status == false">
                            <p class="text-gray clearfix private-space">
                                <strong class="text-dark-gray">
                                    <i class="icon-lock-white"></i>
                                    <span>{{ 'user_goal.private' |translate }}</span>
                                </strong>
                                <span class="text-left">{{ 'goal.private_text'|translate }}</span>
                            </p>
                        </div>
                    </div>
                </div>
                <!--{% endif %}-->

                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">

                        <p class="text-center error-message" *ngIf="invalidYear">
                            {{ 'success_story.error_day_in_month1'|translate }} {{dayInMonth}} {{ 'success_story.error_day_in_month2'|translate }}
                        </p>

                        <p class="text-center error-message"
                           *ngIf="uncompletedYear">{{ 'success_story.error_uncomplete_year'|translate }}
                        </p>
                    </div>
                </div>

                <div class="modal-bottom">
                    <div class="row">
                        <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                            <a  (click)="save()"
                               class="btn btn-purple usergoal-save">{{ "btn_save"|translate }}</a>
                            <a  (click)="modalHideEmitter.emit(null)" id="cancel"
                               class="btn btn-transparent">{{ 'btn_cancel'|translate }}</a>
                            <a  (click)="showDetails = ! showDetails"
                               class="btn btn-transparent">
                                <span>{{ 'forget'|translate | uppercase}}</span>
                            </a>
                        </div>
                    </div>
                </div>

                <div *ngIf="showDetails">
                    <div class="delete-message">
                        <div>
                            <h3 [innerHTML]="'delete_message'|translate|uppercase"></h3>
                            <a  (click)="removeUserGoal(userGoal.id)"
                               class="btn btn-transparent">{{ 'btn_delete'|translate| uppercase}}</a>
                            <a (click)="showDetails=!showDetails"
                               class="btn btn-purple">{{ 'btn_cancel'|translate| uppercase}}</a>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>

