<div class="row" *ngIf="goals">
  <div class="col-xs-10">
    <a routerLink="/ideas/most-popular" class="heading text-gray">
      <i [ngClass]="{'icon-top-idea': type == categories[0],'featured-icon': type == categories[2],'ideas-icon': type == categories[1]}"></i>
      <span class="text">{{ (type == categories[0])?('right_menu.ideas'|translate ): (type == categories[2])? ('featured_ideas'|translate):('right_menu.suggested'|translate) }}</span>
    </a>
  </div>

  <div class="col-xs-2 text-right">
    <a  (click)="refreshIdeas()" class="load" id="topIdeasLoad"></a>
  </div>
</div>

<hr/>

<div class="modal-top">
  <app-goal *ngFor="let goal of goals" [goal]="goal"></app-goal>
</div>