{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        {% if object is defined and object.id %}
            {% for key, value in object.registrationIds %}
                {{ key }} </br>
                <ul>
                    {% for data in value %}
                        <li>
                            {{ data}}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}