{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}

{% block field %}
    <div>
        {% if object is defined and object.id %}
            {% set authorGoals = object.getAuthorGoals() %}
            {% set goalCount = 0 %}

            {% for authorGoal in authorGoals %}
                {#{% if authorGoal.isAuthor(object) %}#}
                    {% set goalCount = goalCount + 1 %}
                    <a href="{{ path('inner_goal', {'slug': authorGoal.slug}) }}" target="_blank" title="{{ authorGoal.title }}">
                    {{ authorGoal.title }}
                    </a> </br>
                {#{% endif %}#}
            {% endfor %}

            <hr>
            {{ "All counts " ~ goalCount }}
        {% endif %}
    </div>
{% endblock %}