{% block field %}
    <table class="table table-bordered table-striped sonata-ba-list">
        <tr>
            <th>id</th>
            <th>sent</th>
            <th>seen</th>
            <th>device</th>
        </tr>
        {% for email in object.sentEmails %}
            <tr>
                <td><a href="{{ path('admin_app_email_show', {'id': email.id}) }}" target="_blank">{{ email.id }}</a></td>
                <td>{{ email.sent|date }}</td>
                <td>{% if email.seen %}{{ email.seen|date }}{% endif %}</td>
                <td>
                    {% if email.device == 1 %}
                        mobile
                    {% elseif email.device == 2 %}
                        TABLET
                    {% elseif email.device == 3 %}
                        PC
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}