{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}


{% block field %}
    <div>
        {% if object.facebookId is defined and object.facebookId %}
                <a class="facebook">Facebook</a>
        {% endif %}

        {% if object.googleId is defined and object.googleId %}
            <a class="google">Google</a>
        {% endif %}

        {% if object.twitterId is defined and object.twitterId %}
            <a class="twitter">Twitter</a>
        {% endif %}
    </div>
{% endblock %}