<!--{% set inner = constant("AppBundle\\Entity\\Goal::INNER") %}-->
<!--{% set view = constant("AppBundle\\Entity\\Goal::VIEW") %}-->

<!--<div id="fb-root"></div>-->
<!--class {% if not aphorisms %} no-quote {% if not author or author.isAdmin %} no-author{% endif %} {% endif %}-->
<div class="inner-container" *ngIf="goal">
  <!--{% set cover = goal.getCoverPhotoDownloadLink %}-->
  <!--{% set goalInner = true %}-->
  <!--{% set imgPath ='bundles/app/images/cover' ~ random(4) ~ '.jpg' %}-->
  <figure class="goal-image">
    <span class="overlay"></span>
    <img src="{{ (goal && goal.cached_image)?goal.cached_image: imgPath}}" alt="Profile Cover Photo" class="img-responsive" />
  </figure>
  <div class="container">
  </div>
  <!--data-ng-init="goal.public= {% if goal.status %} true {% else %} false {% endif %} "-->
  <div class="goal-content">
    <div class="container">
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-7">
          <div class="quote">

            <div class="ticker" *ngIf="aphorisms">
              <i class="icon-quote-left"></i>
              <i class="icon-quote-right"></i>
              <ul class="aphorism">
                <!--data-delay-add-class data-delay="12000"-->
                <li *ngFor="let aphorism of aphorisms">
                  <!--{{ aphorism.content.length > 230 ? (aphorism.content|slice(0, 230)|removeTag + '...' ): (aphorism.content|removeTag) }}-->
                  <span class="text-right">{{ aphorism.author }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <p class="goal-author" *ngIf="goal.author && goal.author.is_admin">
            <a routerLink="/profile/{{ goal.author.u_id }}" class="text-gray bg-blue">{{ 'by' + " " + goal.author.show_name }} </a>
          </p>
          <h2 class="goal-inner-title" [class.title-smaller]="goal.title.length > 40">{{ goal.title }}</h2>
        </div>
      </div>

      <div class="inner-content">

        <div class="row no-gutter">
          <div class="col-md-8">

            <swiper [config]="config" id="main-slider" class="swiper-container" *ngIf="goal.images">
              <!-- Slides Container -->
              <div style="height: 435px" class="swiper-wrapper">

                <div class="overlay swiper-slide" style="height: 435px" *ngFor="let image of goal.images">
                  <a class="swipebox-main">
                    <!--data-title="{{ goal.title }}"-->
                    <!--href="{{ image.downloadLink|blImageFilter('slide_max_size') }}"-->
                    <img class="img-responsive" src="{{ image.image_path }}" alt="{{ goal.title }}" [class.fullHeight]="image.image_size['height'] < 435"/>
                    <!--{% if image.imageSize["height"] < 435 %}style="height: 100%;" fullHeight = height 100% {% endif %}-->
                  </a>
                </div>
              </div>

               <!--Add Pagination -->
              <div class="swiper-pagination swiper-pagination-white" *ngIf="goal.images.length > 1"></div>
              <!-- Add Arrows -->
              <div class="swiper-button-next swiper-button-white" *ngIf="goal.images.length > 1"></div>
              <div class="swiper-button-prev swiper-button-white" *ngIf="goal.images.length > 1"></div>
            </swiper>

            <figure class="goal-preview" id="main-slider" *ngIf="!goal.images">
              <img class="img-responsive" src="{{ imgPath }}" alt="view goal img" style="height: 100%;"/>
            </figure>

          </div>
          <!--data-ng-init="success[ {{ goal.id }} ] = {% if goal.isMyGoal == 2 %} true {% else %} false {% endif %}"-->
          <div class="col-md-4">
            <!--{% if page == inner %}-->
            <div class="goal-information" *ngIf="type == 'inner'">
              <!--data-ng-init="added = true"-->

                <!--<li class="col-xs-{{ xs }} {% if goal.isMyGoal != 0 %}transparent{% endif %}" {% if goal.isMyGoal == 0 %}data-ng-class="{transparent: added || success[ {{ goal.id }} ]}" {% endif %}>-->
                  <!--{% if goal.isMyGoal == 0 %}-->
                  <!--data-ng-init="added = false" *ngIf="!added"-->
                  <!--<a data-ls-goal-manage-->
                     <!--data-ls-goal-id="{{ goal.id }}"-->
                     <!--data-ng-click="added = true{% if isMobile() and not app.user%}; popoverByMobile(){% endif %}">-->
                    <!--<i class="icon-plus-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>-->
                    <!--<span class="text">{{ 'add'|trans | upper}}</span>-->
                  <!--</a>-->
                    <!--<span class="" *ngIf="goal.isMyGoal || added">-->
                        <!--<i class="icon-green-plus"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>-->
                        <!--<span class="text">{{ 'added'|trans | upper}}</span>-->
                    <!--</span>-->
                <!--</li>-->

                <!--{% if goal.isMyGoal == 2 %}transparent{% endif %}-->
                <!--{% if goal.isMyGoal != 2 %}data-ng-class="{transparent: success[ {{ goal.id }} ]}"{% endif %}-->
                <!--<li class="col-xs-6 ">-->
                  <!--<a *ngIf="!success[ {{ goal.id }} ]"-->
                     <!--data-ls-user-goal-manage-->
                     <!--data-ls-goal-id="{{ goal.id }}"-->
                     <!--data-ng-click="success[ {{ goal.id }} ] = true; added = true{% if isMobile() and not app.user%}; popoverByMobile(){% endif %}">-->
                    <!--<i class="icon-ok-icon"><span class="path1"></span><span class="path2"></span></i>-->
                    <!--<span class="text">{{ 'done'|trans | upper }}</span>-->
                  <!--</a>-->

                    <!--<span class="" *ngIf="success[ goal.id ]">-->
                         <!--<i class="icon-green-ok"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>-->
                         <!--<span class="text">{{ 'completed'|trans | upper}}</span>-->
                    <!--</span>-->
                <!--</li>-->
              <!--</ul>-->

              <ul class="row goal-links">

                <li class="col-xs-3 clone" *ngIf="appUser && appUser.is_admin">
                  <a>
                    <!--<a href="{{ path('add_goal', {'id': goal.id, 'clone' : true }) }}">-->
                    <img src="assets/images/clone-icon.svg" width="25" height="25"/>
                    <span class="text">{{ 'clone'|translate }}</span>
                  </a>
                </li>

                <li [ngClass]="{'col-xs-3': appUser && appUser.is_admin,'col-xs-6': !appUser || !appUser.is_admin}">
                  <a>
                    <i class="icon-plus-icon"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                    <span class="text">{{ 'added'|translate}}</span>
                  </a>
                </li>

                <li class="col-xs-6">
                  <a>
                    <i class="icon-ok-icon"><span class="path1"></span><span class="path2"></span></i>
                    <span class="text">{{ 'done'|translate | capitalize}}</span>
                  </a>
                </li>

              </ul>

              <ul class="goal-icons" *ngIf="goal.is_my_goal == 1 || goal.is_my_goal == 2">
                <!--data-ng-init="isAuthor=true"-->
                <li *ngIf="goal.author && appUser && goal.author.id == appUser.id">
                  <!--<a href="{{ path('add_goal') }}?id={{ goal.id }}&slug=Public">-->
                    <i title="{{ 'my_bucket_list.edit'|translate }}" class="icon-pencil"></i>
                  <!--</a>-->
                </li>

                <li class="bordered-list">
                  <!--<a data-ls-type="manage"-->
                     <!--data-ls-goal-id="{{  goal.id }}"-->
                     <!--data-ls-goal-manage-->
                     <!--class="text-gray manage-modal">-->
                    <i class="icon-manage"></i>
                  <!--</a>-->
                </li>

                <li class="bordered-list">
                  <div class="check_status">
                    <a *ngIf="goal.is_my_goal != 2">
                      <!--data-ng-click="success[ goal.id ] = true"-->
                      <!--data-ls-goal-id="{{ goal.id }}"-->
                      <!--data-ls-user-goal-manage-->
                      <!--id="done{{ goal.id }}"-->
                      <i class="icon-ok-icon"><span class="path1"></span><span class="path2"></span></i>
                    </a>
                    <a  *ngIf="goal.is_my_goal == 2">
                      <!--data-ls-user-goal-manage-->
                      <!--data-ls-type="manage"-->
                      <!--data-ls-goal-id="{{ goal.id }}"-->
                      <!--class="successtory "-->
                      <!--id="success{{ goal.id }}"-->
                      <i class="icon-green-ok"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                    </a>
                  </div>
                </li>

                <li *ngIf="isLate(goal.do_date)">
                  <i title="{{ 'my_bucket_list.missed_deadline'|translate }}"  class="icon-info text-purple"></i>
                </li>

                <li *ngIf="goal.note">
                  <i title="{{ 'my_bucket_list.notes'|translate }}" class="edit-note"></i>
                </li>

                <li *ngIf="goal.steps">
                  <i title="{{ 'goal.steps'|translate }}"  class="icon-step-list"></i>
                </li>

                <li *ngIf="goal.is_visible">
                  <i title="{{ 'goal.visible'|translate }}" class="icon-eye-icon"></i>
                </li>
                <li *ngIf="!goal.is_visible">
                  <i title="{{ 'my_bucket_list.invisible'|translate }}" class="icon-eye"></i>
                </li>

                <li *ngIf="!goal.status">
                  <i title="{{ 'my_bucket_list.private'|translate }}"  class="icon-lock-white"></i>
                </li>
              </ul>

              <!--{% if goal.lat is not null and goal.lng is not null %}-->
              <div *ngIf="goal.location && goal.location.latitude && goal.location.longitude && isDesktop">
                <!--data-ng-init="location=[{latitude: {{ goal.lat }}, longitude: {{ goal.lng }}, status: '{{ goal.isMyGoal|default(0) }}', title: '{{ goal.title }}', id: 'deed'}]"-->
                <!--<div *ngIf="location"-->
                     <!--data-simple-map-marker-->
                     <!--data-zoom="14"-->
                     <!--data-active-goal-marker-icon1="{{ asset('bundles/app/images/Active-icon.png') }}"-->
                     <!--data-active-goal-marker-icon2="{{ asset('bundles/app/images/Completed-icon.png') }}"-->
                     <!--data-passive-marker-icon="{{ asset('bundles/app/images/map-marker-purple.png') }}"-->
                     <!--data-markers="location"-->
                     <!--style="width: 99.8%; height: 120px">-->
                <!--</div>-->
                <map-single style="width: 99.8%; height: 120px" [locations]="[{latitude: goal.location.latitude, longitude: goal.location.longitude, status: goal.is_my_goal?goal.is_my_goal:0, title: goal.title}]" class="map-marker"></map-single>
              </div>
              <hr *ngIf="!goal.location"/>


              <!--<div id="affiliate-right" class="right-menu-scroll bg-white" *ngIf="isDesktop">-->
                <!--<adds-affiliate class="affiliate-right" data-zone="1" data-link="{{ app.request.getSchemeAndHttpHost() ~ path('inner_goal', {'slug': goal.slug}) }}"></adds-affiliate>-->
              <!--</div>-->
            </div>
            <!--{% endif %}-->
          </div>
        </div>

        <!--{% if page != view %}-->

        <div class="row bg-white" *ngIf="type != 'view'">

          <div class="col-md-8">
            <!--{% if page == inner %}-->
            <ul class="users-lists row" *ngIf="type == 'inner'">
              <li class="col-xs-6">
                <ul class="row no-gutter">
                  <li class="col-xs-9 col-sm-5">
                    {{ 'done_by'|translate | uppercase }}
                    <p class="text-purple" *ngIf="goal && goal.stats">{{ goal.stats.doneBy }}</p>
                  </li>
                  <li class="col-xs-3 col-sm-7">
                    <ul class="users">
                      <!--{% set left = 80 %}-->
                      <!--{% for doneByUser in doneByUsers %}-->
                      <!--{% set nameOnImage = doneByUser.firstName|slice(0,1) ~ doneByUser.lastName|slice(0,1) %}-->
                      <!--{% set className = "user-no" ~ random(4) %}-->
                      <li [style.right]="80 + (i + 1)*20" *ngFor="let user of doneByUsers;let i = index" class="hidden-xs">

                        <figure *ngIf="user.cached_image">
                          <img src="{{ user.cached_image }}" class="img-circle img-responsive" alt="{{ user.first_name }}">
                        </figure>

                        <p *ngIf="!user.cached_image" class="no-image user-no4">{{ (user.first_name | slice:0:1 | uppercase) + (user.last_name | slice:0:1 | uppercase) }}</p>

                      </li>
                      <!--{% set left = left + 20 %}-->
                      <!--{% endfor %}-->

                      <li class="users-arrow">
                        <i *ngIf="goal.stats.doneBy == 0"></i>

                        <a *ngIf="goal.stats.doneBy">
                           <!--data-ls-goal-users-->
                           <!--data-ls-count="{{ goal.stats.doneBy }}"-->
                           <!--data-ls-goal-id="{{ goal.id }}">-->
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>

              <li class="col-xs-6">
                <ul class="row no-gutter">
                  <li class="col-xs-9 col-sm-5">
                    {{ 'listed_by'|translate | uppercase }}
                    <p class="text-purple" *ngIf="goal && goal.stats">{{ goal.stats.listedBy }}</p>
                  </li>
                  <li class="col-xs-3 col-sm-7">
                    <ul class="users">
                      <!--{% set left = 80 %}-->
                      <!--{#{{ dump(listedByUsers) }}#}-->
                      <!--{% for listedByUser in listedByUsers %}-->
                      <!--{% set nameOnImage = listedByUser.firstName|slice(0,1) ~ listedByUser.lastName|slice(0,1) %}-->
                      <!--{% set className = "user-no" ~ random(4) %}-->
                      <li [style.right]="80 + (i + 1)*20" *ngFor="let user of listedByUsers;let i = index" class="hidden-xs">
                        <figure *ngIf="user.cached_image">
                          <img src="{{ user.cached_image }}" class="img-circle img-responsive" alt="{{ user.first_name }}">
                        </figure>

                        <p *ngIf="!user.cached_image" class="no-image user-no4">{{ (user.first_name | slice:0:1 | uppercase) + (user.last_name | slice:0:1 | uppercase) }}</p>

                      </li>
                      <!--{% set left = left + 20 %}-->
                      <!--{% endfor %}-->
                      <li class="users-arrow">
                        <i *ngIf="goal.stats.listedBy == 0"></i>

                        <a *ngIf="goal.stats.listedBy">
                          <!--data-ls-goal-id="{{ goal.id }}"-->
                          <!--data-ls-count="{{ goal.stats.listedBy }}"-->
                          <!--data-ls-category="1">-->
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
            <!--{% if goal.lat is not null and goal.lng is not null %}-->
            <div *ngIf="goal.location && goal.location.latitude && goal.location.longitude && !isDesktop" data-ng-init="location=[{latitude: {{ goal.lat }}, longitude: {{ goal.lng }}, status: '{{ goal.isMyGoal|default(0) }}', title: '{{ goal.title }}', id: 'deed'}]">
              <!--<div class="map-marker" *ngIf="location"-->
                   <!--data-simple-map-marker-->
                   <!--data-zoom="14"-->
                   <!--data-active-goal-marker-icon1="{{ asset('bundles/app/images/Active-icon.png') }}"-->
                   <!--data-active-goal-marker-icon2="{{ asset('bundles/app/images/Completed-icon.png') }}"-->
                   <!--data-passive-marker-icon="{{ asset('bundles/app/images/map-marker-purple.png') }}"-->
                   <!--data-markers="location"-->

                   <!--style="width: 99.8%; height: 215px">-->
              <!--</div>-->
              <map-single style="width: 99.8%; height: 215px" [locations]="[{latitude: goal.location.latitude, longitude: goal.location.longitude, status: goal.is_my_goal?goal.is_my_goal:0, title: goal.title}]" class="map-marker"></map-single>
            </div>
            <!--<div id="affiliate-right-mobile" class="right-menu-scroll bg-white" *ngIf="!isDesktop">-->
              <!--<adds-affiliate class="affiliate-right-mobile" data-zone="1" data-link="{{ app.request.getSchemeAndHttpHost() ~ path('inner_goal', {'slug': goal.slug}) }}"></adds-affiliate>-->
            <!--</div>-->
          </div>
          <div class="col-md-4 hidden-xs"></div>
        </div>

        <div class="row padding-top bg-white" *ngIf="type != 'view'">

          <div class="col-md-8">
            <div class="row">
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-xs-4 col-sm-3 col-md-3">
                    <!--<div class="fb-like"-->
                         <!--data-href="{{ serverPath + goal.shareLink }}"-->
                         <!--data-layout="button_count"-->
                         <!--data-action="like"-->
                         <!--data-show-faces="false"-->
                         <!--data-share="false">-->
                    <!--</div>-->
                  </div>
                  <div class="col-xs-8 col-sm-9 col-md-9">
                    <!--<a href="https://twitter.com/intent/tweet?button_hashtag=BucketList127&text={{ goal.title }}" class="twitter-hashtag-button" data-related="BucketList127" data-url="{{ serverPath + goal.share_link }}" data-dnt="true">Tweet #BucketList127</a>-->
                    <!--<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>-->
                  </div>
                </div>
              </div>

              <div class="col-sm-4">
                <!--<div class="addthis_native_toolbox" data-url="{{ app.request.host }}{{ path('inner_goal', {'slug': goal.slug}) }}"></div>-->
              </div>
            </div>
          </div>

          <div class="col-md-4 hidden-xs"></div>

        </div>

        <!--{% endif %}-->

        <div class="row no-gutter bg-white">
          <div class="col-md-8">

            <div class="inner">
              <hr/>
              <div class="text-dark-grey goal-info" *ngIf="goal.description && goal.description != ''" [innerHTML]="goal.description|removeTag|MarkdownToHtml"></div>


              <div class="row" *ngIf="goal.video_link && goal.video_link.length == 1">
                <div class="col-sm-12">
                  <embed-video [href]="goal.video_link[0]"
                          height="360px"
                          width="100%">
                    <!--data-ng-init="mainSliderVideo='{{ v }}'"-->
                  </embed-video>
                </div>
              </div>
              <div class="row" *ngIf="goal.video_link && goal.video_link.length > 1">
                <swiper [config]="videoConfig" id="main-slider-video" class="swiper-container" style="position: relative; top: 0; left: 0">
                  <!-- Slides Container -->
                  <div class="swiper-wrapper">
                    <div class="swiper-slide" *ngFor="let video of goal.video_link;let k = index">
                      <embed-video width="100%"
                                   height="300px"
                                   [href]="video">
                        <!--u="image"-->
                        <!--data-ng-init="mainSliderVideo[{{ k }}]='{{ video }}'"-->
                      </embed-video>
                    </div>
                  </div>

                  <div class="swiper-pagination swiper-pagination-white"></div>
                  <!-- Add Arrows -->
                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"></div>
                </swiper>
              </div>

              <inner-stories [stories]="stories" [appUser]="appUser" *ngIf="type == 'inner' && stories && stories.length > 0"></inner-stories>

              <app-comment *ngIf="type == 'inner'" [data]="{id: goal.id, slug:goal.slug,inner:true}">
              </app-comment>
              </div>
          </div>
          <div class="col-md-4"></div>
        </div>
        <br class="hidden-xs" />
      </div>

    </div>

  </div>

  <see-also></see-also>
</div>