
Hello, {{ name }}! <br /><br />

{{ email }} was used to create a Bucketlist.com account,<br />
we want to make sure that this is your email address.<br />
Confirming your account will give you full access to Bucketlist.com.
<br /><br />

<a href="{{ url }}">Verify my email</a><br />

<br /><br /><br /><br />
Thank you for choosing Bucketlist.com.<br />
Please do not reply to this message.<br />
If you have more questions, please visit our Help Center