.user-menu{
  position: absolute;
}
.nearby-button{
  padding: 5px;
  z-index: 2000;
  position: fixed ;
  bottom: 8px;
  right: 8px;
}
.nearby-button  img {
  height: 28px;
}
.nearby-button  button{
  background-color: whitesmoke;
}
.nearby-button-stop{
  padding: 5px;
  z-index: 1000000;
  position: absolute ;
  bottom: 300px;
  right: 8px;
}
.nearby-button-stop  img {
  height: 28px;
}
.nearby-button-stop  button{
  background-color: whitesmoke;
}