<profile-header [type]="settings" [userInfo]="'my'"></profile-header>
<div xmlns="http://www.w3.org/1999/html">
    <div class="bucketlist settings-menu">
        <div class="container">
            <div class="row">
                <ul class="menu">
                    <li [class.active]="type == 'profile'">
                        <a routerLink="/edit/profile">{{ 'user.profile'|translate }}</a>
                    </li>
                    <li [class.active]="type == 'notification'">
                        <a routerLink="/edit/notification">{{ 'user.notification'|translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr/>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="settings bg-white round">
                    <form action="#" method="POST" [formGroup]="userData" enctype="multipart/form-data" (ngSubmit)="changeData(userData.value)" class="form-horizontal text-center">
                    <div *ngIf="type == 'profile'" class="row">
                        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-0">
                            <div class="form-group row no-padding">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" formControlName="firstName" placeholder="{{ 'form.firstName'|translate }}">
                                    <control-messages [control]="userData.controls.firstName"></control-messages>
                                </div>

                                <div class="col-sm-6">
                                    <input type="text" class="form-control" formControlName="lastName" placeholder="{{ 'form.lastName'|translate }}">
                                    <control-messages [control]="userData.controls.lastName"></control-messages>
                                </div>
                            </div>

                            <!--{% if form.email is defined %}-->
                            <div class="form-group row no-padding emails">

                                <div class="col-sm-3 primary">
                                    <label for="bl_user_settings_email">Primary Email</label>
                                </div>

                                <!--{% set email = user.getEmail() %}-->

                                <div class="col-sm-9">
                                    <div class="row">
                                        <div class="col-xs-2 text-center">
                                            <md-radio-button value="" name="primary" checked="true"></md-radio-button>
                                        </div>

                                        <div class="col-xs-10">
                                            <input type="email" class="form-control" formControlName="email" id="bl_user_settings_email" readonly placeholder="{{ 'form.email'|translate }}">
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!--{% endif %}-->


                            <!--{% set token = false %}-->

                            <!--{% if userEmails %}-->

                            <!--{% for key, userEmail in userEmails %}-->
                            <div class="form-group row emails">
                                <!--{% if userEmail.token is null %}-->
                                <div class="col-sm-3"></div>

                                <div class="col-sm-9" *ngIf="false">
                                    <div class="row">
                                        <div class="col-xs-2 text-right">
                                            <!--<input name="primary" type="radio" value="{{ key }}"/>-->
                                            <md-radio-button value="{{ key }}" name="primary"></md-radio-button>
                                        </div>

                                        <div class="col-xs-10">
                                            <div class="delete-email">
                                                <a class="delete-link icon" ></a>
                                                <!--href="{{ path('remove_email', {'email' : key } ) }}"-->
                                                <input name="userEmail"  class="form-control" formControlName="userEmail" readonly type="text" value="" />
                                                <control-messages [control]="userData.controls.userEmail"></control-messages>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--{% else %}-->

                                <!--{% set token = true %}-->

                                <!--{% endif %}-->
                            </div>
                            <!--{% endfor %}-->

                            <!--{% endif %}-->

                            <!--{% if token == false %}-->
                            <div class="form-group row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" formControlName="addEmail" placeholder="{{ 'form.add_email'|translate }}">
                                    <control-messages [control]="userData.controls.addEmail"></control-messages>
                                </div>
                            </div>
                            <!--{% endif %}-->

                            <!--{% if form.currentPassword is defined %}-->

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" formControlName="currentPassword" placeholder="{{ 'form.current_password'|translate }}">
                                    <control-messages [control]="userData.controls.currentPassword"></control-messages>
                                </div>
                            </div>

                            <div class="form-group row no-padding">
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" formControlName="password" placeholder="{{ 'form.new_password'|translate }}">
                                    <control-messages [control]="userData.controls.password"></control-messages>
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control" formControlName="plainPassword" placeholder="{{ 'form.re_new_password'|translate }}">
                                    <control-messages [control]="userData"></control-messages>
                                </div>
                            </div>

                            <!--{% endif %}-->

                            <br/>
                            <div class="form-group row">

                                <div class="col-sm-4 date">
                                    <md-select placeholder="Month" formControlName="month">
                                        <md-option *ngFor="let month of arrayMonth; let i=index" [value]="i+1">
                                            {{ month|translate }}
                                        </md-option>
                                    </md-select>
                                    <control-messages [control]="userData.controls.month"></control-messages>
                                </div>

                                <div class="col-sm-4 date">
                                    <md-select placeholder="Day" formControlName="day">
                                        <md-option *ngFor="let day of arrayDay" [value]="day">
                                           {{ day }}
                                        </md-option>
                                    </md-select>
                                    <control-messages [control]="userData.controls.day"></control-messages>
                                </div>

                                <div class="col-sm-4 date">
                                    <md-select placeholder="Year" formControlName="year">
                                        <md-option *ngFor="let year of arrayYear" [value]="year">
                                           {{ year }}
                                        </md-option>
                                    </md-select>
                                    <control-messages [control]="userData.controls.year"></control-messages>
                                </div>

                            </div>

                            <br />

                            <div class="form-group row">
                                <div class="col-sm-12 language lng">
                                    <md-select placeholder="Language" style="width: 100%" formControlName="language">
                                        <md-option *ngFor="let language of languages" [value]="language.value">
                                            {{ language.name }}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>

                            <hr />

                            <div class="form-group">
                                <button type="submit" class="btn btn-purple button-lg">{{ 'btn_save'|translate }}</button>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>

                    <div *ngIf="type == 'notification'">
                        <h3>{{ 'user.notify_settings_text'|translate }}</h3>
                        <hr />

                        <div class="row">

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.comment_goal'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.comment_goal_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.comment_idea'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.comment_idea_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.success_story_goal'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.success_story_goal_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.success_story_idea'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.success_story_idea_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.success_story_like'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.success_story_like_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.publish_goal'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.publish_goal_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.reply_comment'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.reply_comment_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.deadline'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.deadline_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.new_goalfriend'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.new_goalfriend_desc'|translate }}</strong>
                            </md-slide-toggle>

                            <md-slide-toggle>
                                <strong class="text-grey-dark center-block">{{ 'notify_settings.new_idea'|translate }}</strong>
                                <strong class="text-muted">{{ 'notify_settings.new_idea_desc'|translate }}</strong>
                            </md-slide-toggle>

                        </div>

                        <hr />

                        <div class="form-group">
                            <button type="submit"  name="save" class="btn btn-purple button-lg" [disabled]="userData.invalid">{{ 'btn_save'|translate }}</button>
                        </div>

                    </div>
                    </form>

                </div>

            </div>
        </div>
    </div>
</div>

