<div class="container">
  <div  class="signup">
    <div class="row">
      <h1 class="text-center">{{ 'registration.sign_up_title'|translate }}</h1>

      <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">

        <form action="#" method="POST" [formGroup]="form" (ngSubmit)="createUser(form.value)" class="form-horizontal text-center">
          <!--{{ path('fos_user_registration_register') }}-->
          <div class="form-group row">
            <div class="col-sm-4 col-sm-offset-4">

              <label class="upload" for="file" *ngIf="!source">Upload a photo</label>

              <div class="registration-image">
                <img src="{{ source}}" class="uploaded-image" alt="User Image" *ngIf="source">
              </div>

              <control-messages [control]="form.controls.file"></control-messages>

            </div>

            <div class="hide">
              <input type="file" id="file" formControlName="file" name="file" (change)="showUploadedImage($event)">
            </div>
            <div>
            </div>
          </div>

          <div class="form-group row no-padding">

            <div class="col-sm-6">
              <input type="text" formControlName="firstName" name="firstName" class="form-control" placeholder= "{{ 'form.firstName'|translate }}">
              <control-messages [control]="form.controls.firstName"></control-messages>
            </div>

            <div class="col-sm-6">
              <input type="text" formControlName="lastName" id="lastName" name="lastName" class="form-control"  placeholder= "{{ 'form.lastName'|translate }}">
              <control-messages [control]="form.controls.lastName"></control-messages>
            </div>
          </div>

          <div class="form-group row">

            <div class="col-sm-12">
              <input type="email" formControlName="email" name="email" class="form-control"  placeholder= "{{ 'form.email'|translate }}">
              <control-messages [control]="form.controls.email"></control-messages>
              <span *ngIf="errorMessage && errorMessage.email" style="text-align: center;color: red">{{ errorMessage.email }}</span>
            </div>

          </div>

          <div class="form-group row no-padding">

            <div class="col-sm-6">
              <input type="password" formControlName="password" id="password" name="password" class="form-control"  placeholder= "{{ 'form.password'|translate }}">
              <control-messages [control]="form.controls.password"></control-messages>
            </div>

            <div class="col-sm-6">
              <input type="password" formControlName="plainPassword" id="plainPassword" name="plainPassword" class="form-control" placeholder="{{ 'form.re_password'|translate }}">
              <control-messages [control]="form"></control-messages>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <p class="text-gray">
                {{ 'password.validation'|translate }}
              </p>
            </div>
          </div>

          <p class="text-dark-gray">{{ 'form.date_of_birth'|translate }}</p>

          <!--drop down date part-->
          <div class="form-group row">

            <div class="col-sm-4 date">
              <md-select placeholder="Month" formControlName="month">
                <md-option *ngFor="let month of arrayMonth; let i=index" [value]="i+1">
                  {{ month|translate }}
                </md-option>
              </md-select>
            </div>

            <div class="col-sm-4 date">
              <md-select placeholder="Day" formControlName="day">
                <md-option *ngFor="let day of arrayDay" [value]="day">
                  {{ day }}
                </md-option>
              </md-select>
            </div>

            <div class="col-sm-4 date">
              <md-select placeholder="Year" formControlName="year">
                <md-option *ngFor="let year of arrayYear" [value]="year">
                  {{ year }}
                </md-option>
              </md-select>
            </div>

          </div>

          <div class="form-group row">
            <p class="text-gray">{{ 'registration.agreement'|translate }}
              <a href="http://stage2.bucketlist127.com/page/terms-of-service-privacy-policy" class="text-purple">{{ 'registration.privacy_policy'|translate }}</a>
            </p>
          </div>

          <button type="submit" name="register" [disabled]="form.invalid" class="btn btn-purple">{{ 'security.login.sign_up'|translate }}</button>

        </form>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-center margin-top text-gray">{{ 'registration.have_account'|translate }}
          <a href="javascript:void(0)" data-ng-click="openSignInPopover()" class="text-purple">
            {{ 'registration.sign_in_btn'|translate | capitalize}}
          </a>
        </p>
      </div>
    </div>
  </div>
</div>


