<div class="popover" role="tooltip">
    <div class="arrow"></div>
    <h3 class="popover-title" style="display: none;"></h3>
    <div>
        <ul class="filter">
            <li>
                <a href="{{ path('goals_list') }}">
                    <span class="glyphicon glyphicon-plus-sign"></span>MOST POPULAR
                </a>
            </li>

            {% for category in categories %}
                <li>
                    <a href="{{ path('goals_list', {'category' : category.slug}) }}">
                        <span class="glyphicon glyphicon-plus-sign"></span>{{ category.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>