<div class="bg-white">
    <h4 style="padding:20px 20px 0"><i class="glyphicon glyphicon-user"></i>Coalfriends24</h4>
    <hr/>
    <ul style="padding:0 0 10px;">
        <li class="clearfix" style="border-bottom:1px solid #cccccc;">

            <figure class="image" style="margin:0 20px">
                <img src="{{ asset('bundles/app/images/cover.jpg') }}" alt= "Some image" class="img-circle img-responsive"/>
            </figure>

            <div>
                <h5 class="text-dark-grey">Name Surname</h5>
                <a href="#" class="text-grey">{{ 'listed_by'|trans }} 0</a> |
                <a href="#" class="text-grey">{{ 'completed'|trans }} 2</a>
            </div>
        </li>


    </ul>
</div>