
<div class="right-block padding padding-no round margin-top">
    <div class="right-menu">
        <div class="bg-white round">

            <ul class="row" style="padding-left:0;margin-bottom:0;">
                <li class="col-xs-10">
                   <span>
                     <i class="icon-top-idea"></i>
                     <a href="#">{{ 'leaderboard.name'|trans }}</a>
                    </span>
                </li>
            </ul>

        </div>
    </div>

    <hr/>

    <ul class="bg-white round badge-place">
        <li class="text-gray">
            <i class="badge-2"></i>
        </li>

        <li>
            {{ 'leaderboard.motivatorText'|trans }}
        </li>
    </ul>

    <ul class="bg-white round badge-place">
        <li class="text-gray">
            <i class="badge-3"></i>
        </li>

        <li>
            {{ 'leaderboard.innovatorText'|trans }}
        </li>
    </ul>

    <ul class="bg-white round badge-place">
        <li class="text-gray">
            <i class="badge-1"></i>
        </li>

        <li>
            {{ 'leaderboard.travelerText'|trans }}
        </li>
    </ul>
</div>