<div class="bg-white">
    <h4 style="padding:20px 20px 0"><i class="glyphicon glyphicon-th-list"></i>My Bucketlist</h4>
    <hr/>
    <ul class="horizontal-menu">
        <li>
            <span>{{ 'user_goal.active'|trans }}</span>
            <span>0</span>
        </li>

        <li>
            <span>{{ 'listed_by'|trans }}</span>
            <span>0</span>
        </li>

        <li>
            <span>{{ 'done'|trans |capitalize }}</span>
            <span>0</span>
        </li>
    </ul>
</div>