<span uib-dropdown>
  <a href="#" uib-dropdown-toggle>
      <i class="bell"></i>
      <sup data-ng-show="newNotCount" class="ng-hide">[[ ::newNotCount]]</sup>
  </a>
  <ul id="notification" class="dropdown-menu" uib-dropdown-menu aria-labelledby="simple-dropdown" style="position: absolute;border: 1px solid black">
        <li class="bg-white ng-hide">
            <h3 class="text-gray">Notifications</h3>
            <h3 class="text-gray" data-ng-click="readAll()">Read All</h3>
        </li>
        <li data-ng-show="notifies.length" class="ng-hide" data-ng-cloak>
            <ul ng-scrollbars ng-scrollbars-config="scroller_config" ng-scrollbars-update="updateScrollbar">
                <li data-ng-repeat="notify in notifies">
                    <ul data-ng-click="goNotificationPage(notify, $index)">
                        <li class="idea-item">
                            <figure>
                                <span class="overlay"></span>
                                <img data-ng-src="[[ ::notify.notification.performer.image_path ]]" data-ng-if="notify.notification.performer.image_path" alt="[[ ::notify.notification.performer.first_name ]]"/>
                            </figure>
                        </li>
                        <li ng-bind-html="bodyInHtml(notify.notification.body)"></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <a href="{{ path('notifications') }}">See all</a>
            </ul>
        </li>
        <li data-ng-show="!notifies.length" class="ng-hide">You have not Notify</li>
  </ul>
</span>