{% if user.getOverallProgress is defined%}
    <div class="right-menu" data-ng-controller="overallProgressController">
        <div class="padding margin-top padding-bottom bg-white round" data-ng-init="overallProgress='{{ user.getOverallProgress }}'">
            <div>
                <ul class="row">
                    <li class="col-xs-7">
                        <i class="icon-creat-icon"></i>
                        <a href="#">Overall Progress</a>
                    </li>
                </ul>
            </div>

            <hr/>

            <div>
                Achievment [[overallProgress]]%
                <div data-ng-if="overallProgress == 100" class="bg-purple">progress normal</div>
                <div data-ng-if="overallProgress > 100" class="exellent-progress">progress good</div>
                <div data-ng-if="overallProgress < 100" class="falling-progress">progress bad</div>
            </div>
        </div>
    </div>
{% endif %}