{% if popularGoals %}
    {% for popularGoal in popularGoals %}
        <figure>

            <h3>{{ popularGoal.title }}</h3>

            <img src="{{ popularGoal.getListPhoto ? popularGoal.getListPhoto.getDownloadLink : null }}" alt= "{{ popularGoal.title }}" class="img-responsive" />
            <figcaption>
                {%  include "AppBundle:Blocks:goalFooter.html.twig" with {'goal' : popularGoal }  %}
            </figcaption>
        </figure>
        <br />
    {% endfor %}
{% endif %}