<ul>
    <li>
        <a href="{{ path('add_goal') }}">Create Goal</a>
    </li>

    <li>
        <a href="{{ path("settings") }}">Settings</a>
    </li>
    <li>
        <a href="{{ path("fos_user_security_logout") }}">Logout</a>
    </li>
</ul>