<div style="width: 100%; height: 300px;background-color: #f4f4f4" class="slide calendar-place ng-hide" data-ng-show="showCalendar">

    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <span class="text-gray">
                            <sup>28</sup>
                        </span>
                    </td>

                    <td>
                        <span class="text-gray">
                            <sup>29</sup>
                        </span>
                    </td>

                    <td>
                        <span class="text-gray">
                            <sup>30</sup>
                        </span>
                    </td>

                    <td>
                        <span class="text-gray">
                            <sup>31</sup>
                        </span>
                    </td>

                    <td>
                        <span class="text-grey-dark">
                            <sup>1</sup>
                        </span>

                        <span class="goal-count bg-purple">2</span>
                        <span class="goal-count bg-gradinet">5</span>
                        <span class="goal-count bg-green">6</span>
                    </td>

                    <td>
                        <span class="text-grey-dark">
                            <sup>2</sup>
                        </span>
                    </td>

                    <td>
                        <span class="text-grey-dark">
                           <sup>3</sup>
                        </span>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tbody>

                        <tr>
                            <td>
                                <span>
                                    <sup>Jan</sup>
                                </span>
                            </td>

                            <td>
                                <span>
                                    <sup>Feb</sup>
                                </span>

                                <span class="goal-count bg-purple">2</span>
                                <span class="goal-count bg-gradinet">5</span>
                                <span class="goal-count bg-green">6</span>
                            </td>

                            <td>
                                <span>
                                    <sup>March</sup>
                                </span>
                            </td>

                        </tr>

                        <tr>
                            <td>
                                <span>
                                    <sup>April</sup>
                                </span>
                            </td>

                            <td>
                                <span>
                                    <sup>May</sup>
                                </span>
                            </td>

                            <td>
                                <span>
                                    <sup>June</sup>
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span>
                                    <sup>July</sup>
                                </span>
                            </td>

                            <td>
                                <span>
                                    <sup>Aug</sup>
                                </span>
                            </td>

                            <td>
                                <span>
                                    <sup>Sept</sup>
                                </span>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <span>
                                    <sup>Oct</sup>
                                </span>

                            </td>

                            <td>
                                <span>
                                    <sup>Nov</sup>
                                </span>

                            </td>

                            <td>
                                <span>
                                    <sup>Dec</sup>
                                </span>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>


</div>