@import "../../../assets/less/variables.less";
@import "../../../assets/less/function.less";

.notdrop{
  width: 416px;
  position: absolute;
  right: 210px;
  z-index: 1000;
}
.footdiv{
  text-align: center;
  }
#container {
  position: relative;
  height: 100%; /* Or whatever you want (eg. 400px) */
}


#notification{

  a.relative{
    display: block;
    padding: 15px 19px 21px !important;
  }

  .bell{
    display: block;
    width: 25px;
    height: 41px;
    background: url('../../../assets/images/bell.png') no-repeat center 11px;
    background-size: 100%;
  }

  sup{
    position: absolute;
    top: 16px;
    right: 10px;
    padding: 3px 4px;
    color: #ffffff;
    background-color: #7724F6;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    height: 18px;
    .rounded-corners(4px);
    text-align: center;
    vertical-align: middle;
  }

  .no-note{
    padding: 40px 0 0 0;

    span{
      display: block;
      width: 50px;
      height: 60px;
      background: url('../../../assets/images/no-note.svg') no-repeat center center;
      margin:0 auto;
    }

    p{
      color: #999999;
      font-size:14px;
      line-height: 21px;
      padding: 5px 0 30px;
    }
  }

  .close-icon{
    top: 13px;
    right: 13px;
    display: none;
  }

  ul.dropdown-menu{
    position: absolute;
    background-color: #ffffff;
    border:1px solid #e5e5e5;
    min-width: 310px;
    padding:0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    li{
      width: 100%;
      border-left: 0;
      border-bottom: 1px solid #e5e5e5;
      position: relative;
      cursor:pointer;
      float: none;

      figure{
        margin: 0;
        height: 60px;
        width: 60px;
        text-align: center;
        p{
          height: 60px;
          width: 60px;
          line-height: 55px;
          color: #ffffff;
        }
      }

      &:first-child{
        padding: 6px 10px 5px;
        h3,a{
          font-size: 14px;
          margin: 0;
          line-height: 21px;
        }

        h3{
          font-weight: 600;
        }

        a{
          display:inline-block;
          font-weight: 400;
          padding: 0 25px 0 5px !important;
          &:hover{
            text-decoration: none;
            background-color: transparent;
          }
        }
      }

      &:last-child{
        float: none;
        width: 100%;
        right: 0;
        border-bottom: 0 !important;
        a{
          padding: 10px 0;
          font-size:14px;
          line-height: 21px;
          font-weight: 400;
          &:hover{
            background-color: transparent;
            color: #7724f6 !important;
          }
        }
      }

      &.unread{
        background: #f4f4f4;
      }

      ul{
        padding-left:0;
        border-bottom: 1px solid #e5e5e5;

        li{
          display: inline-block;
          padding: 10px 0;
          border-bottom: 0;
          figure{
            width: 60px;
            height:60px;
            margin: 2px 10px 5px 0;
            img{
              height:60px;
            }
          }

          p{
            margin-bottom: 0;
            width: 99%;
            span{
              display: block;
              white-space: normal;
              word-break: break-word;
              font-size:14px;
              line-height: 21px;
              padding:0 15px 0 0;

              a:not(.text-center){
                font-weight: 600;
                padding: 0;
                color: #666666;
              }
            }
          }

          &:first-child{
            a{
              padding: 0 !important;
            }
          }
        }
        &:hover{
          background: #e8e8e8;
          .close-icon{
            display: block;
          }
        }
      }
    }
  }

  .dropdown-menu{
    left: -137px;
  }

}

.open{
  a.relative{
    background-color: #000000;
    &:hover,&:active,&:focus{
      background-color: #000000;
    }
  }
}


//#notification-list{
//  padding:6px 0 0 0;
//  margin-bottom: 10px;
//
//  li{
//    &:first-child{
//      padding-bottom:21px;
//      a{
//        &:hover{
//          color: #7724F6 !important;
//        }
//      }
//    }
//  }
//  .close-icon{
//    top: 24px;
//    right: 20px;
//    display: none;
//  }
//
//  h3,a{
//    font-size: 14px !important;
//    line-height: 21px;
//    padding:0 10px;
//    margin: 0;
//  }
//
//  h3{
//    font-weight: 600;
//    padding: 3px 10px 2px;
//  }
//
//  a{
//    font-weight: 400;
//    display: inline-block;
//  }
//
//  ul{
//    padding:10px 0;
//    position: relative;
//    margin-bottom: 0;
//    cursor: pointer;
//    border-top: 1px solid #e5e5e5;
//
//    li{
//      figure{
//        text-align: center;
//        width: 40px;
//        height:40px;
//        margin: 0 10px;
//        img{
//          height:40px;
//        }
//
//        p{
//          width: 40px;
//          height:40px;
//          color: #ffffff;
//          line-height: 36px;
//        }
//      }
//
//      p{
//        span{
//          display: block;
//          white-space: normal;
//          word-break: break-word;
//          font-size:14px;
//          line-height: 21px;
//
//          a{
//            font-weight: 600;
//            padding: 0;
//            color: #666666;
//          }
//        }
//      }
//      &:first-child{
//        padding-bottom:0;
//      }
//    }
//
//    &.unread{
//      background: #f4f4f4;
//    }
//
//    &:hover{
//      background-color: #e8e8e8;
//      .close-icon{
//        display: block;
//      }
//    }
//  }
//  .goals-animate{
//    p{
//      margin-bottom: 0;
//      padding-bottom: 0;
//    }
//  }
//}

@media (min-width: @screen-sm) {
  #notification{

    a.relative{
      padding: 19px 19px 18px!important;
    }

    .bell{
      background-position: center center;
    }

    ul.dropdown-menu{
      top: 98%;
      width: 430px;
      li{
        &:first-child{
          a{
            &:hover{
              color: #7724f6 !important;
            }
          }
        }

      }
    }

    .dropdown-menu {
      right: -122px;
      left: auto;
    }
  }
}

@media (min-width: @screen-md) {
  #notification{

    a.relative{
      padding: 25px 20px !important;
    }

    .bell{
      width: 25px;
      height:30px;
      background-position: center bottom;
    }

    .dropdown-menu{
      right: -240px;
      left: auto;
    }

    &:hover,&:active,&:focus{
      background-color: #000000;
      a.relative{
        background-color: #000000;
      }
    }

  }
}