{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div  class="signup">
        <div class=" row">
            <div class="col-md-6 col-md-offset-3">
                <p class="text-center">{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
