/* radius functions */
.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
#goal-friends {
  padding: 10px 0;
  margin-top: 5px;
}
#goal-friends .goalfrineds-menu {
  padding: 5px 0 10px;
  margin-bottom: 0;
}
#goal-friends .goalfrineds-menu li {
  display: inline-block;
}
#goal-friends .goalfrineds-menu li a {
  padding: 5px 9px;
  color: #333333;
  font-size: 15px;
  font-weight: normal;
}
#goal-friends .goalfrineds-menu li a:hover {
  color: #7724F6;
}
#goal-friends form .icon-search-icon {
  position: absolute;
  font-size: 24px;
  color: #cccccc;
}
#goal-friends form input {
  border: 0;
  font-size: 14px;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #cccccc;
  padding: 0 5px 9px 35px;
  color: #333333;
}
#goal-friends form input:hover,
#goal-friends form input:active {
  border-bottom: 1px solid #7724F6;
}
#goal-friends .padding {
  padding: 10px 10px 1px;
}
#goal-friends .padding-no {
  padding-bottom: 0;
}
#goal-friends .users-list {
  background-color: #ffffff;
  padding: 15px 10px 15px 15px;
  margin-bottom: 10px;
}
#goal-friends .users-list h4 {
  padding: 3px 0 1px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
#goal-friends .users-list span {
  font-size: 13px;
}
#goal-friends .image-goalfrinds {
  width: 45px;
  height: 45px;
  margin: 0 auto;
}
#goal-friends .image-goalfrinds img {
  width: 45px;
  height: 45px;
  border: 2px solid #cecece;
}
#goal-friends .image-goalfrinds .no-image {
  width: 45px;
  height: 45px;
  margin: 0 auto;
  line-height: 40px;
  color: #ffffff;
}
@media (min-width: 768px) {
  #goal-friends {
    padding: 20px 0;
    margin-top: 10px;
  }
  #goal-friends .padding {
    padding: 20px 20px 10px;
  }
  #goal-friends .users-list {
    padding: 20px 10px 20px 20px;
    margin-bottom: 15px;
    min-height: 101px;
  }
  #goal-friends .image-goalfrinds {
    width: 60px;
    height: 60px;
  }
  #goal-friends .image-goalfrinds img {
    width: 60px;
    height: 60px;
  }
  #goal-friends .image-goalfrinds .no-image {
    height: 60px;
    width: 60px;
    line-height: 50px;
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  #goal-friends {
    padding: 30px 0;
  }
  #goal-friends .users-list {
    padding: 20px 25px;
    margin-bottom: 25px;
  }
  #goal-friends .image-goalfrinds {
    margin-top: 0;
    width: 60px;
    height: 60px;
  }
  #goal-friends .image-goalfrinds img {
    width: 60px;
    height: 60px;
  }
  #goal-friends .image-goalfrinds .no-image {
    height: 60px;
    width: 60px;
    line-height: 50px;
  }
}
