<!--{% set friend = (app.request.get('_route') == 'goal_friends') %}-->
<!--{% if app.request.get('slug') is defined %}-->
<!--{% set slug = app.request.get('slug') %}-->
<!--{% else %}-->
<!--{% set slug = false %}-->
<!--{% endif %}-->

<div id="goal-friends">
  <div class="container">
    <div class="row">
      <div class="col-md-8"
           infinite-scroll
           [infiniteScrollDistance]="1"
           [infiniteScrollThrottle]="500"
           (scrolled)="onScroll()">

        <!--{% if friend %}-->

        <div class="bg-white padding round">

          <form role="search" action="#" method="GET">
            <div class="form-group row">

              <div class="col-sm-12">
                <span class="icon-search-icon"></span>
                <input type="text"
                       name="search"
                       class="form-control"
                       id="searchInput"
                       [(ngModel)]="search"
                       (keyup.enter)="doSearch($event)"
                       placeholder="{{ 'search_placeholder'|translate }}">

                <span class="close-icon" [hidden] = "!search || !search.length" (click)="resetFriends()"></span>

              </div>
            </div>
          </form>

          <ul class="goalfrineds-menu">
            <li>
              <a routerLink="/goal-friends/all" [class.text-purple]="type=='all'" routerLinkActive="text-purple">{{ 'goal_friend_menu.all'|translate }}</a>
            </li>

            <li>
              <a routerLink="/goal-friends/recently" routerLinkActive="text-purple">{{ 'goal_friend_menu.recently_matched'|translate }}</a>
            </li>

            <li>
              <a routerLink="/goal-friends/match" routerLinkActive="text-purple">{{ 'goal_friend_menu.most_matching'|translate }}</a>
            </li>

            <li>
              <a routerLink="/goal-friends/active" routerLinkActive="text-purple">{{ 'goal_friend_menu.most_activity'|translate }}</a>
            </li>

            <li>
              <a routerLink="/goal-friends/follow" routerLinkActive="text-purple">{{ 'goal_friend_menu.follow'|translate }}</a>
            </li>
          </ul>
        </div>

        <div *ngIf="noItem">
          <br />
          <p class="text-center text-gray">{{ 'no_friends' | translate }}</p>
        </div>

        <!--{% endif %}-->

        <!--{% if slug %}-->
        <!--<div>-->
          <!--<a href="{{ path('inner_goal', {'slug': slug}) }}" class="row text-gray heading"> &laquo; Back to {{ title }}</a>-->
        <!--</div>-->
        <!--{% endif %}-->

        <div class="row">
          <div
               class="col-sm-6 goals-animate"
               *ngFor="let user of users;let e = even, let i = index" [ngClass]="{'row': e, 'margin-top': i < 2}" >

            <div class="users-list round clearfix">
              <a routerLink="/profile/{{ user.u_id }}" style="display:block;" class="text-gray">
                <div class="row no-gutter">
                  <div class="col-xs-3">
                    <figure class="image-goalfrinds img-circle ">
                      <img *ngIf="user.image_path" src="{{ serverPath + user.image_path }}" alt="{{ user.first_name }}" class="img-circle img-responsive" />
                      <!--{% set className = "user-no" ~ random(4) %}-->
                      <p *ngIf="!user.image_path" class="no-image user-no2">{{ (user.first_name | slice:0:1 | uppercase) + (user.last_name | slice:0:1 | uppercase) }}</p>
                    </figure>
                  </div>

                  <div class="col-xs-9">
                    <div class="text-gray">
                      <h4 class="text-dark-gray">
                        {{ user.first_name }} {{ user.last_name }}
                      </h4>
                      <span class="text-gray">{{ 'listed_by'|translate }}
                        {{ user.stats.listedBy }}
                      </span> |
                      <span class="text-gray">{{ 'completed'|translate }}
                        {{ user.stats.doneBy }}
                      </span><br />
                      <a class="text-gray"
                         [hidden]="user.common_goals_count == 0" (click)="openCommons()">
                        {{ 'menu.common'|translate }}

                         <!--data-ls-user="[[ ::user.id ]]"-->
                      {{ user.common_goals_count }}
                      </a>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>

        </div>
        <br />
      </div>

      <div class="col-md-4">
        <complete-profile-block></complete-profile-block>
        <my-list-block></my-list-block>
        <top-ideas-block [type]="'featured'"></top-ideas-block>
        <top-ideas-block [type]="'top'"></top-ideas-block>
      </div>
    </div>
  </div>
</div>