<div class="bg-grey my-modal" id="common-modal" (clickOutside)="closeModal()">
    <md-progress-spinner mode="indeterminate" *ngIf="!goals"></md-progress-spinner>
    <div class="bg-white" *ngIf="goals && goals.length">
        <h3 class="text-left">{{ 'menu.common'|translate }} {{ goals.length }} Goals</h3>
        <a  (click)="dialogRef.close(); isOpen = false" class="close-icon"></a>
    </div>

    <div class="common-content"
         *ngIf="goals"
         infinite-scroll
         [infiniteScrollDistance]="1"
         [infiniteScrollThrottle]="500"
         (scrolled)="onScroll()">
        <div [hidden]="!goals.length"
             class=" row"
             *ngFor="let goal of goals">

            <div class="col-sm-12">
                <div class="idea-item">
                    <figure>
                        <app-goal [goal]="goal"></app-goal>
                        <app-goal-footer [goal]="goal"></app-goal-footer>
                    </figure>
                </div>
            </div>

        </div>
        <div *ngIf="!goals.length" >
            <p>{{ 'no_common'| translate  }}</p>
        </div>
    </div>
</div>