{% extends "::base.html.twig" %}

{% block confirm_email %}
{% endblock %}

{% block content %}
    <div  class="text-center padding"><br />
        <p class="text-center">{{ 'registration.resend_message'|trans({'%email%': app.user.email}, 'FOSUserBundle') }}</p>
        <p class="text-center">{{ 'register_text'|trans({'%XXX%': project_name}) }}</p>
    </div>
{% endblock %}
