<div class="lightbox ">
  <a  (click)="closeLightBox()" class="close-icon"></a>
<div class="row no-gutter burger">
  <div class="col-md-8 col-md-offset-2 lightbox-content">
    <swiper [config]="config" id="lightbox-slider" class="swiper-container" *ngIf="goal && goal.images && goal.images.length">
      <!-- Slides Container -->
      <div class="swiper-wrapper">

        <div class="swiper-slide" [style.height]="slideHeight+'px'"
             *ngFor="let image of goal.images">
          <a class="swipebox-main">
            <img  class="img-responsive" src="{{ image.image_path }}"
                 alt="{{ goal.title }}" [class.fullHeight]="fullHeight"/>
          </a>
        </div>
      </div>

      <!--Add Pagination -->
      <div class="swiper-pagination swiper-pagination-white" *ngIf="goal.images.length > 1"></div>
       <!--Add Arrows -->
      <div class="swiper-button-next swiper-button-white" *ngIf="goal.images.length > 1"></div>
      <div class="swiper-button-prev swiper-button-white" *ngIf="goal.images.length > 1"></div>
    </swiper>

    <figure class="goal-preview" id="lightbox-slider"
            *ngIf="!goal.images || !goal.images.length">
      <img class="img-responsive" src="{{ imgPath }}" alt="view goal img" style="height: 100%;"/>
    </figure>

  </div>
</div>
</div>