<ul class="row news-footer no-gutter " *ngIf="goal.publish">

  <li class="col-xs-4" [ngClass]="{transparent: (goal.is_my_goal && goal.is_my_goal !== 0) || !completed}">
      <app-goal-add [goal]="goal"></app-goal-add>
  </li>
    <!--data-ng-init="success[ goal.id ] = false"-->
  <li class="col-xs-4" [ngClass]="{transparent: (goal.is_my_goal && goal.is_my_goal === 2 )|| !completed}">
      <app-goal-complete [goal]="goal"></app-goal-complete>
  </li>

  <li class="col-xs-4" (click)="showComment(activity, goal)" [ngClass]="{'bg-purple': (activity.showComment || goal.showComment)}">
    <a>
      <i class="comment-icon"></i>
      <span class="text" [ngClass]="{'text-white': (activity.showComment || goal.showComment)}">{{ 'comments'|translate }}</span>
    </a>
  </li>

</ul>
<ul *ngIf="!goal.publish" class="row">
  <li class="col-xs-12 transparent">
    <i title="{{ 'my_bucket_list.private'|translate }}"  class="icon-lock-white text-gray"></i>
    <span class="text text-gray">{{ 'user_goal.private' | translate }}</span>
  </li>
</ul>

