<div class="content-header">
<figure [class.my-profile]="!userInfo || userInfo == 'my'">

  <span class="overlay"></span>
  <img src="{{ (profileUser && profileUser.photo-link)?profileUser.photo-link: imgPath}}" alt="Profile Cover Photo" class="img-responsive" />

  <!--{% if profileUser.photo-link %}-->
                <!--{{ profileUser.photo-link|blImageFilter('user_cover') }}-->
            <!--{% else %}-->
                <!--{{ asset(imgPath) }}-->
            <!--{% endif %}"-->
</figure>

<div class="profile">
  <div class="container">

    <div class="row">
      <div class="col-sm-4">
        <figure>

          <a routerLink="/edit/profile" routerLinkActive="active" *ngIf="!userInfo || userInfo == 'my'" class="mobile-settings show-xs hidden-sm hidden-md hidden-lg settings-icon"></a>

          <div *ngIf="profileUser">
            <img src="{{ profileUser.photo-link }}" *ngIf="profileUser.photo-link" alt="Profile image" class="img-responsive img-circle"/>
            <!--{{ profileUser.photo-link|blImageFilter('user_image') }}-->
            <span class="no-image profile-image profile-image1" *ngIf="!profileUser.photo-link">
              {{ profileUser.first_name |slice:0:1 |uppercase }} {{ profileUser.last_name |slice:0:1 |uppercase }}</span>
          </div>

          <figcaption>

            <h3>
              <span  *ngIf="isMobile && profileUser && profileUser.show_name" [class.title-smaller]="profileUser && profileUser.show_name && profileUser.show_name.length > 12">
                  {{ profileUser.show_name }}
              </span>
            </h3>

            <!--{% if profileUser.id != app.user.id %}-->
            <!--data-ls-follow-manage-->

            <span class="close-friends hidden-sm hidden-md hidden-lg"
                  *ngIf="userInfo && userInfo != 'my'"
                  (click)="toggleFollow()"
                  [mdTooltip]="(isFollow?'my_bucket_list.un_follow':'my_bucket_list.follow')|translate">
                  <!--(mouseleave)="hoverEmitter.emit(null)"-->
                  <!--(mousemove)="hoverEmitter.emit({ ev:$event, val:(isFollow?'my_bucket_list.un_follow': 'my_bucket_list.follow')})">-->
                  <!--data-ng-init="isFollow = {{ app.user.isFollowing(profileUser) }}"-->
                  <!--data-ls-user-id="{{ profileUser.id }}"-->
                  <!--data-ls-is-follow="isFollow">-->

              <i class="follow-icon" *ngIf="!isFollow" title="{{ 'my_bucket_list.follow'|translate }}"></i>
              <i class="closefriend-icon" *ngIf="isFollow" title="{{ 'my_bucket_list.un_follow'|translate }}"></i>
              <span *ngIf="!isFollow">{{ 'my_bucket_list.follow' | translate | uppercase }}</span>
              <span *ngIf="isFollow">{{ 'my_bucket_list.un_follow' | translate | uppercase }}</span>
            </span>
            <!--{% endif %}-->

            <ul>
              <li>
                <span>{{ 'block_listed'|translate | capitalize }}</span>
                <span>{{ listedBy }}</span>
              </li>

              <li>
                <span>{{ 'user_goal.active'|translate | capitalize }}</span>
                <span>{{ active }}</span>
              </li>

              <li>
                <span>{{ 'block_completed'|translate |capitalize }}</span>
                <span>{{ doneBy }}</span>
              </li>
            </ul>
          </figcaption>
        </figure>
      </div>
      <div class="col-sm-4 hidden-xs relative">

        <!--{% if profileUser.show_name %}-->
        <h1 *ngIf="!isMobile && profileUser && profileUser.show_name">
          <span class="bg-blue" [class.title-smaller]="profileUser.show_name.length > 11"></span>
          {{ profileUser.show_name }}
        </h1>
        <!--{% endif %}-->

        <span class="close-friends hidden-xs"
              *ngIf="userInfo && userInfo != 'my'"
              (click)="toggleFollow()"
              [mdTooltip]="(isFollow?'my_bucket_list.un_follow':'my_bucket_list.follow')|translate">
              <!--(mouseleave)="hoverEmitter.emit(null)"-->
              <!--(mousemove)="hoverEmitter.emit({ ev:$event, val:(isFollow?'my_bucket_list.un_follow': 'my_bucket_list.follow')})">-->
                  <!--data-ng-init="isFollow = {{ app.user.isFollowing(profileUser) }}"-->
          <!--data-ls-user-id="{{ profileUser.id }}"-->
          <!--data-ls-is-follow="isFollow">-->

              <i class="follow-icon" *ngIf="!isFollow" title="{{ 'my_bucket_list.follow'|translate }}"></i>
              <i class="closefriend-icon" *ngIf="isFollow" title="{{ 'my_bucket_list.un_follow'|translate }}"></i>
              <span *ngIf="!isFollow">{{ 'my_bucket_list.follow' | translate | uppercase }}</span>
              <span *ngIf="isFollow">{{ 'my_bucket_list.un_follow' | translate | uppercase }}</span>
        </span>

        <!--{% set badges = profileUser.getBadges %}-->

        <ul class="badge-place">

          <!--{% set badgeTitles = {-->
          <!--1 : 'leaderboard.traveler'|translate,-->
          <!--2 : 'leaderboard.writer'|translate,-->
          <!--3 : 'leaderboard.innovator'|translate-->
          <!--} %}-->

          <!--{% for badge in badges %}-->

          <!--{% set score = badgeNormalizer(badge.type, badge.Score) %}-->

          <!--{% if score  > 0 %}-->
          <li *ngFor="let badge of badges">
            <i title="{{ (badge.type == 1?'leaderboard.traveler': badge.type == 2?'leaderboard.writer':'leaderboard.innovator')|translate }}" class="badge-{{ badge.type }}"></i>
             <a routerLink="/leaderboard" routerLinkActive="active">{{ score }}</a>
            <!--{{ score|round(0, 'ceil')}}-->
          </li>
          <!--{% endif %}-->

          <!--{% endfor %}-->
        </ul>
      </div>

      <!--{% if profileUser.id == app.user.id %}-->
      <div class="col-sm-4" [class.bg-white]="isMobile" *ngIf="!userInfo || userInfo == 'my'">
        <div class="text-right hidden-xs">
          <a routerLink="/edit/profile" class="settings-icon"></a>
        </div>

        <!--{% if user.getCompletedPercent()|round(1, 'floor') != 100 %}-->
        <div class="profile-information" *ngIf="user && user.completedPercent != 100">
          <em>{{ 'complete_message'|translate }}</em>

          <div class="row no-gutter">
            <div class="col-xs-10">
              <div class="progress">
                <div class="progress-bar progress-bar-striped"
                     role="progressbar"
                     aria-valuenow="45"
                     aria-valuemin="0"
                     aria-valuemax="100"
                     [ngStyle]="{'width.%': user.completedPercent| round}">

                  {{ user.getCompletedPercent|round }}%
                </div>
              </div>
            </div>
            <div class="col-xs-2">
              <a class="text-gray" (click)="completeProfileMyBucketList=!completeProfileMyBucketList">
                <i class="question-icon-new" [hidden]="completeProfileMyBucketList || isMobile"></i>
                <i class="icon-question-icon" [hidden]="completeProfileMyBucketList || !isMobile"><span class="path1"></span><span class="path2"></span></i>
                <i class="icon-icon-up" *ngIf="completeProfileMyBucketList"><span class="path1"></span><span class="path2"></span></i>
              </a>
            </div>
          </div>

        </div>
        <!--{% endif %}-->
      </div>
    </div>
    <!--{% if app.session.flashBag.has('success') %}-->
    <!--<div class="alert alert-success alert-dismissible ">-->
      <!--{% for msg in app.session.flashBag.get('success') %}-->
      <!--{{ msg }}-->
      <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close">-->
        <!--<span aria-hidden="true">&times;</span>-->
      <!--</button>-->
      <!--{% endfor %}-->
    <!--</div>-->
    <!--{% endif %}-->


    <!--{% if user.getCompletedPercent()|round(1, 'floor') != 100 %}-->
    <div class="row slide" *ngIf="user && user.completedPercent != 100 && completeProfileMyBucketList">
      <!--data-ng-cloak *ngIf="completeProfileMyBucketList" style="display: none"-->
      <div class="col-sm-6">
        <ol style="position: relative;">
          <li>
            <span class="profile-title">
                {{ 'security.login.sign_up'|translate }}
                <i class="icon-ok-only"></i>
            </span>
            <span class="text-gray">{{ 'my_list.signed_up'|translate }}</span>
          </li>
          <li>
            <span class="profile-title">{{ 'account.complete_text'|translate }}
                <!--{% if user.registrationToken is null %}-->
                    <i class="icon-ok-only"></i>
                <!--{% else %}-->
                    <i class="icon-question-only"></i>
                <!--{% endif %}-->
            </span>
            <span class="text-gray">{{ 'my_list.verification'|translate }}</span>
            <span class="text-gray">{{ 'my_list.confirm'|translate }}</span>
          </li>
          <li>
            <!--{% if user.socialPhotoLink or  user.fileName %}-->
            <span class="profile-title">{{ 'image_complete_text'|translate }}
                <i class="icon-ok-only"></i>
            </span>

            <a routerLink="/edit/profile" >
              <strong>{{ 'image_complete_text'|translate }}</strong>
              <i class="icon-question-only"></i>
            </a>

            <!--{% endif %}-->
            <span class="text-gray">{{ 'my_list.add_image'|translate }}</span>

          </li>
          <li>
            <a routerLink="/goal/create">
              <strong>{{ 'my_bucket_list.add_goal'|translate |capitalize }}</strong>
              <!--{% if user.getUserGoalCount|length > 0 %}-->
              <i class="icon-ok-only"></i>
              <!--{% else %}-->
              <i class="icon-question-only"></i>
              <!--{% endif %}-->
            </a>

            <span class="text-gray">{{ 'my_list.want_control'|translate }}</span>
            <span class="text-gray">{{ 'my_list.follow_link'|translate }}</span>
          </li>
        </ol>

      </div>

      <div class="col-sm-6">
        <ol style="position: relative" start="5">
          <li>
            <span class="profile-title">{{ 'deadline.complete_text'|translate }}
                <!--{% if user.checkDeadLines() %}-->
                    <i class="icon-ok-only"></i>
                <!--{% else %}-->
                    <i class="icon-question-only"></i>
                <!--{% endif %}-->
            </span>
            <span class="text-gray">{{ 'my_list.dream_text'|translate }}</span>
          </li>
          <li>
            <span class="profile-title">{{ 'goal.complete_text'|translate }}
                <!--{% if user.checkCompletedGoals() %}-->
                    <i class="icon-ok-only"></i>
                <!--{% else %}-->
                    <i class="icon-question-only"></i>
                <!--{% endif %}-->
            </span>
            <span class="text-gray">{{ 'my_list.have_goal'|translate }}</span>
          </li>

          <li>
            <span class="profile-title">{{ 'success_story.complete_text'|translate | capitalize}}
                <!--{% if user.checkSuccessStory() %}-->
                    <i class="icon-ok-only"></i>
                <!--{% else %}-->
                    <i class="icon-question-only"></i>
                <!--{% endif %}-->
            </span>
            <span class="text-gray">{{ 'my_list.complete_goal'|translate }}</span>
          </li>
        </ol>

      </div>
    </div>
    <!--{% endif %}-->

  </div>
</div>
</div>