/* radius functions */
.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
.content-header {
  position: relative;
  overflow: hidden;
}
.content-header > figure {
  position: absolute;
  width: 100%;
  height: 261px;
  overflow: hidden;
}
.content-header > figure.my-profile {
  height: 229px;
}
.content-header > figure img {
  width: 100%;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}
.content-header .overlay {
  background: rgba(0, 0, 0, 0.6);
  height: 270px;
}
.content-header .overlay:hover {
  background: rgba(0, 0, 0, 0.8);
}
.content-header a {
  color: #ffffff;
}
.content-header a:hover,
.content-header a:focus {
  text-decoration: none;
}
.content-header h2 {
  background-color: #021523;
  color: #ffffff;
  padding: 10px 40px;
  margin: 100px 0 5px;
}
.content-header h1 {
  margin: 25px 0 10px;
}
.content-header h1 span {
  padding: 10px 40px;
}
.profile {
  padding: 10px 0 0 0;
  background-color: #f4f4f4;
}
.profile i.icon-settings {
  margin-right: -9px;
}
.profile .settings-icon {
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url('../../../assets/images/settings.png') no-repeat center center;
  background-size: 100%;
}
.profile .settings-icon:hover {
  background: url('../../../assets/images/settings_hover.png') no-repeat center center;
  background-size: 100%;
}
.profile .close-friends {
  cursor: pointer;
  height: 32px;
  line-height: 32px;
  background-color: #f4f4f4;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  color: #666666;
  padding: 6px 17px;
}
.profile .close-friends i {
  display: inline-block;
  width: 16px;
  height: 14px;
  margin-right: 5px;
  vertical-align: middle;
}
.profile .close-friends i.follow-icon {
  background: url('../../../assets/images/follow.svg') no-repeat center center;
  background-size: 100%;
}
.profile .close-friends i.closefriend-icon {
  background: url('../../../assets/images/closefriend.svg') no-repeat center center;
  background-size: 100%;
}
.profile .close-friends span {
  display: inline-block;
  text-transform: uppercase;
}
.profile .close-friends:hover {
  background-color: #ffffff;
}
.profile .close-friends:hover i.follow-icon {
  background: url('../../../assets/images/follow-hover.svg') no-repeat center center;
  background-size: 100%;
}
.profile .close-friends:hover i.closefriend-icon {
  background: url('../../../assets/images/follow-hover.svg') no-repeat center center;
  background-size: 100%;
}
.profile .mobile-follow {
  position: absolute;
  right: 20px;
  overflow: initial;
}
.profile .question-icon-new {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 2px 0 2px 3px;
  background: url('../../../assets/images/question.png') no-repeat center center;
  background-size: 100%;
}
.profile .question-icon-new:hover {
  background: url('../../../assets/images/question_hover.png') no-repeat center center;
  background-size: 100%;
}
.profile .mobile-settings {
  position: absolute;
  right: 20px;
  overflow: initial;
  display: inline-block;
  width: 43px;
  height: 43px;
  background: url('../../../assets/images/settings_hover.png') no-repeat center center;
  background-size: 100%;
}
.profile figure {
  background-color: rgba(207, 207, 207, 0.34);
  text-align: center;
  position: relative;
  padding: 10px 0;
}
.profile figure div {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  overflow: hidden;
}
.profile figure span.profile-image {
  display: block;
  width: 100px;
  height: 100px;
  font-size: 45px;
  font-weight: 600;
  line-height: 90px;
  color: #ffffff;
}
.profile figure img {
  height: 100px;
  width: 100%;
}
.profile figure figcaption {
  margin-top: 11px;
  background-color: transparent;
}
.profile figure figcaption ul {
  padding-top: 10px;
}
.profile figure figcaption h3 {
  color: #ffffff;
  font-size: 18px;
  margin: 0 10px 3px;
  line-height: normal;
}
.profile figure figcaption h3 span {
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
.profile figure figcaption li {
  display: inline-block;
  border-right: 1px solid #eeeeee;
  padding: 0 20px;
}
.profile figure figcaption li span {
  display: block;
  color: #ffffff;
  font-size: 14px;
}
.profile figure figcaption li span:last-child {
  font-size: 22px;
}
.profile figure figcaption li:last-child {
  border: 0;
}
.profile figure figcaption li:hover {
  background-color: transparent;
}
.profile #settings-form figure {
  background: transparent;
  padding: 0;
}
.profile #settings-form figure .upload {
  width: 120px;
  height: 120px;
  padding: 40px 15px;
  font-size: 13px;
}
.profile #settings-form figure figcaption {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0;
  padding: 22px 5px;
}
.profile #settings-form figure figcaption label {
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 0 15px;
  font-size: 14px;
}
.profile ol {
  padding: 20px 20px 0;
  font-size: 13px;
}
.profile ol li {
  margin-bottom: 5px;
}
.profile ol li a {
  color: #666666;
  font-size: 13px;
}
.profile ol li a:hover i {
  color: #7724f6;
}
.profile ol li .profile-title {
  color: #666666;
  font-size: 13px;
  font-weight: normal;
}
.profile ol li span {
  display: block;
  font-size: 12px;
  font-weight: 600;
}
.profile ol li i {
  font-size: 30px;
  vertical-align: middle;
}
.profile ol:last-child {
  padding: 0 20px 0;
}
.profile h1 {
  margin: 7px 0 5px;
  font-weight: lighter;
}
.profile h1 span {
  display: inline;
  line-height: normal;
  padding: 2px 10px;
  font-size: 25px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.profile h1 span.title-smaller,
.profile figcaption span.title-smaller {
  font-size: 18px;
  line-height: normal;
}
.profile h1 span.title-smaller span,
.profile figcaption span.title-smaller span {
  padding: 5px 10px;
}
.profile p {
  background-color: #021523;
  color: #ffffff;
  padding: 2px 10px 3px;
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 600;
  line-height: normal;
}
.profile em {
  display: block;
  color: #666666;
  padding: 10px 0 5px;
}
.profile .profile-information {
  width: 90%;
  margin: 17px auto 10px;
}
.profile .profile-information i {
  font-size: 30px;
  cursor: pointer;
}
.profile .profile-information a.text-gray {
  margin-left: 14px;
  display: block;
}
.bucketlist {
  padding: 5px 0 0;
  background-color: #ffffff;
  margin-bottom: 7px;
}
.bucketlist ul {
  padding-left: 0;
  margin-bottom: 1px;
}
.bucketlist ul li {
  display: inline-block;
  padding: 8px 3px 7px;
  font-size: 13px;
}
.bucketlist ul li a {
  color: #666666;
  font-size: 12px;
  line-height: 18px;
}
.bucketlist ul li a:hover,
.bucketlist ul li a:focus {
  text-decoration: none;
  color: #7724f6;
}
.bucketlist ul li a:hover i,
.bucketlist ul li a:focus i {
  color: #7724f6;
}
.bucketlist ul li a i {
  font-size: 20px;
  vertical-align: middle;
}
.bucketlist ul li:hover a {
  color: #7724F6;
}
.bucketlist ul li:first-child {
  padding: 8px 3px 7px 10px;
}
.bucketlist ul li:last-child {
  padding: 3px 2px 2px;
}
.bucketlist ul li:last-child a {
  display: inline-block;
}
.bucketlist ul li:last-child a .svg {
  display: inline-block;
  height: 25px;
  width: 21px;
}
.bucketlist ul li:last-child:hover {
  border-bottom: 0;
}
.bucketlist ul .active {
  border-bottom: 1px solid #7724f6;
}
.bucketlist ul .active a {
  color: #7724f6;
}
.bucketlist nav {
  border-bottom: 0;
}
.bucketlist nav a {
  font-size: 13px;
  opacity: 1;
  color: #666666;
}
.bucketlist nav a:hover,
.bucketlist nav a:focus {
  text-decoration: none;
  color: #7724f6;
}
.bucketlist hr {
  margin: -2px 0 0;
}
.bucketlist form {
  padding: 12px 0 5px;
}
.bucketlist form .checked-label {
  color: #6108EA;
}
.bucketlist form label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}
.bucketlist form label label {
  display: inline-block;
}
.bucketlist form label:hover,
.bucketlist form label:active,
.bucketlist form label:focus {
  color: #6108EA;
}
.bucketlist form label:first-child {
  padding-left: 30px;
}
.settings-menu {
  padding: 0;
}
.settings-menu ul.menu li:last-child.active {
  padding: 8px 6px;
}
.settings-menu ul.menu li:last-child.active:hover {
  border-bottom: 1px solid #7724f6;
}
.md-slide-toggle-content {
  padding-left: 15px;
  min-width: 245px;
  max-width: 300px;
}
@media (min-width: 768px) {
  .content-header > figure {
    height: 260px;
  }
  .content-header > figure.my-profile {
    height: 260px;
  }
  .content-header .overlay {
    height: 260px;
  }
  .profile {
    margin-top: 10px;
    padding: 20px 0 0 0;
  }
  .profile figure {
    padding: 20px 0 10px;
  }
  .profile figure div {
    width: 120px;
    height: 120px;
  }
  .profile figure span.profile-image {
    width: 120px;
    height: 120px;
    font-size: 44px;
    line-height: 110px;
  }
  .profile figure img {
    height: 120px;
  }
  .profile figure figcaption {
    margin-top: 11px;
  }
  .profile figure figcaption ul {
    padding-top: 0;
  }
  .profile figure figcaption li {
    padding: 0 8px;
  }
  .profile figure figcaption li span {
    font-size: 13px;
  }
  .profile figure figcaption li span:last-child {
    font-size: 16px;
  }
  .profile .close-friends {
    height: 40px;
    line-height: 40px;
    padding: 10px 17px;
  }
  .profile .close-friends i {
    width: 18px;
    height: 16px;
  }
  .profile .settings-icon {
    margin-right: -10px;
  }
  .profile .relative {
    height: 200px;
  }
  .profile .relative .badge-place {
    position: absolute;
    bottom: 0;
  }
  .profile #settings-form figure figcaption {
    width: 120px;
    height: 120px;
    padding: 30px 15px;
  }
  .profile #settings-form figure figcaption label {
    font-size: 15px;
  }
  .profile ol {
    padding: 30px 30px 20px;
    font-size: 14px;
  }
  .profile ol li {
    margin-bottom: 10px;
  }
  .profile ol li a,
  .profile ol li .profile-title {
    font-size: 15px;
  }
  .profile ol li span {
    font-size: 13px;
  }
  .profile ol:last-child {
    padding: 30px 30px 20px;
  }
  .profile h1 {
    margin: 25px 0 5px;
  }
  .profile h1 span {
    font-size: 30px;
    padding: 3px 15px 5px;
    white-space: normal;
    max-height: 87px;
  }
  .profile h1 span.title-smaller,
  .profile figcaption span.title-smaller {
    font-size: 16px;
    line-height: 35px;
  }
  .profile h1 span.title-smaller span,
  .profile figcaption span.title-smaller span {
    padding: 3px 7px 5px;
  }
  .profile p {
    padding: 4px 15px 5px;
    margin-bottom: 10px;
    font-size: 17px;
  }
  .profile em {
    color: #ffffff;
    padding: 0 0 5px;
  }
  .profile .profile-information {
    margin-top: 85px;
  }
  .bucketlist {
    padding: 10px 0 0;
    margin-bottom: 10px;
  }
  .bucketlist ul {
    padding-left: 0;
    margin-bottom: 1px;
  }
  .bucketlist ul li {
    padding: 10px 15px;
    font-size: 15px;
  }
  .bucketlist ul li a {
    font-size: 18px;
    line-height: 26px;
  }
  .bucketlist ul li a i {
    font-size: 22px;
  }
  .bucketlist ul li:last-child {
    padding: 2px 5px 4px;
  }
  .bucketlist ul li:last-child a .svg {
    width: 35px;
    height: 30px;
  }
  .bucketlist nav a {
    height: auto;
    padding: 15px;
    font-size: 18px;
    line-height: 26px;
  }
  .bucketlist .map-marker-new {
    width: 25px;
    height: 33px;
  }
  .bucketlist hr {
    margin: -2px 0 0;
  }
  .bucketlist form {
    padding: 7px 0 2px;
  }
  .bucketlist form label {
    display: inline-block;
    font-size: 12px;
    padding-left: 0;
  }
  .bucketlist form label:first-child {
    padding-left: 0;
  }
  .settings-menu {
    padding: 0;
  }
  .settings-menu ul.menu li {
    padding: 15px;
  }
  .settings-menu ul.menu li:last-child.active {
    padding: 15px;
  }
  .md-slide-toggle-content {
    max-width: 600px;
  }
}
@media (min-width: 992px) {
  .content-header > figure {
    height: 266px;
  }
  .content-header > figure.my-profile {
    height: 266px;
  }
  .content-header .overlay {
    height: 266px;
  }
  .profile {
    margin-top: 10px;
    padding: 20px 0 0 0;
  }
  .profile .settings-icon {
    margin-right: 0;
  }
  .profile figure {
    padding: 20px 0 14px;
  }
  .profile figure div {
    width: 140px;
    height: 140px;
  }
  .profile figure span.profile-image {
    width: 140px;
    height: 140px;
    font-size: 52px;
    line-height: 130px;
  }
  .profile figure img {
    height: 140px;
  }
  .profile figure figcaption {
    margin-top: 17px;
  }
  .profile figure figcaption li {
    padding: 0 20px;
  }
  .profile figure figcaption li span {
    font-size: 14px;
  }
  .profile figure figcaption li span:last-child {
    font-size: 18px;
  }
  .profile .relative {
    height: 232px;
  }
  .profile #settings-form figure .upload {
    width: 140px;
    height: 140px;
    padding: 47px 15px;
    font-size: 14px;
  }
  .profile #settings-form figure figcaption {
    width: 140px;
    height: 140px;
    padding: 41px 15px;
  }
  .profile #settings-form figure figcaption label {
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
  }
  .profile ol {
    padding: 40px 40px 30px;
    font-size: 16px;
  }
  .profile ol li {
    margin-bottom: 15px;
  }
  .profile ol li a,
  .profile ol li .profile-title {
    font-size: 16px;
  }
  .profile ol li span {
    font-size: 14px;
  }
  .profile h1 span {
    font-size: 45px;
    padding: 0 20px 2px;
    white-space: nowrap;
  }
  .profile h1 span.title-smaller,
  .profile figcaption span.title-smaller {
    font-size: 26px;
    line-height: 51px;
  }
  .profile h1 span.title-smaller span,
  .profile figcaption span.title-smaller span {
    padding: 7px 20px 14px;
  }
  .profile p {
    padding: 3px 20px 6px;
    margin-bottom: 15px;
    font-size: 20px;
  }
  .profile .profile-information {
    margin: 110px auto 0;
  }
  .profile .profile-information a.text-gray {
    margin-left: 30px;
  }
  .bucketlist {
    padding: 20px 0 0;
    margin-bottom: 20px;
  }
  .bucketlist ul {
    padding-left: 0;
    margin-bottom: 1px;
  }
  .bucketlist ul li {
    padding: 10px 15px;
    font-size: 15px;
  }
  .bucketlist ul li a {
    font-size: 22px;
    line-height: 33px;
  }
  .bucketlist ul li a i {
    font-size: 28px;
  }
  .bucketlist ul li:last-child {
    padding: 2px 15px 4px;
  }
  .bucketlist nav a {
    padding: 25px 15px;
    font-size: 22px;
    line-height: 33px;
  }
  .bucketlist hr {
    margin: -2px 0 0;
  }
  .bucketlist form {
    padding: 27px 0 20px;
  }
  .bucketlist form label {
    font-size: 14px;
    padding-left: 20px;
  }
  .settings-menu {
    padding: 0;
  }
  .settings-menu ul.menu li {
    padding: 25px 15px;
  }
  .settings-menu ul.menu li:last-child.active {
    padding: 25px 15px;
  }
}
@media (min-width: 1200px) {
  .profile h1 span {
    font-size: 52px;
    line-height: 78px;
  }
}
